Repository jcputney/scorm-again: changes, and which Codecov flags are due for each by the changed paths.
All: core, cmi_common, cmi_aicc, cmi_scorm12, cmi_scorm2004, services, aicc, scorm12, scorm2004, cross_frame_lms, cross_frame_api

feat(sequencing): implement cluster suspend propagation (REQ-5.2.4, REQ-5.2.5)
  src/cmi/scorm2004/sequencing/activity_tree.ts
  test/cmi/scorm2004/sequencing/activity_tree.spec.ts
Due: core, cmi_scorm2004

fix(scorm2004): reject zero delivery_speed per spec (requires > 0)
  src/cmi/scorm2004/learner_preference.ts
  test/cmi/scorm2004_learner_preference.spec.ts
Due: core, cmi_scorm2004

feat(sequencing): implement completionSetByContent and objectiveSetByContent delivery controls
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  test/cmi/scorm2004/sequencing/delivery_controls.spec.ts
Due: core, cmi_scorm2004

feat(sequencing): implement tracked delivery control for rollup exclusion
  src/cmi/scorm2004/sequencing/rollup_process.ts
  src/cmi/scorm2004/sequencing/sequencing_controls.ts
  test/cmi/scorm2004/sequencing/delivery_controls.spec.ts
Due: core, cmi_scorm2004

fix(scorm2004): change total_time default from '' to 'PT0S' per spec
  src/cmi/scorm2004/session.ts
  test/cmi/scorm2004_cmi.spec.ts
  test/cmi/scorm2004_components.spec.ts
  test/cmi/scorm2004_session.spec.ts
Due: core, cmi_scorm2004

fix(scorm2004): enforce adl.nav.request as write-only per spec
  src/Scorm2004API.ts
  test/api/ErrorConditions.spec.ts
  test/api/Scorm2004API.navigation.spec.ts
  test/integration/ContentPackagingOneFilePerSCO_SCORM20043rdEdition.spec.ts
  test/integration/suites/scorm2004-navigation.spec.ts
  test/integration/suites/scorm2004-navigation.ts
Due: core, scorm2004

test(sequencing): add abandon navigation request tests (REQ-NAV-013, REQ-NAV-014)
  test/cmi/scorm2004/sequencing/navigation_request_process.spec.ts
Due: none

feat(sequencing): validate activity state and selectionCountStatus for selection/randomization (SR.1, SR.2)
  src/cmi/scorm2004/sequencing/selection_randomization.ts
  test/cmi/scorm2004/sequencing/selection_randomization.spec.ts
Due: core, cmi_scorm2004

feat(scorm2004): implement success_status evaluation in GetValue
  src/Scorm2004API.ts
  test/cmi/scorm2004_status.spec.ts
Due: core, scorm2004

test(sequencing): add tests for current vs. cumulative tracking modes
  test/cmi/scorm2004/sequencing/tracking_modes.spec.ts
Due: none

Add determineEntryValue() helper for SCORM 2004 cmi.entry
  src/Scorm2004API.ts
  test/api/Scorm2004API.determineEntryValue.spec.ts
  test/cmi/scorm2004/sequencing/satisfaction_by_measure.spec.ts
Due: core, scorm2004

test(sequencing): add comprehensive global objective mapping tests
  test/cmi/scorm2004/sequencing/objective_mapping.spec.ts
Due: none

Add vocabulary validation for SCORM 2004 settings fields
  src/cmi/scorm2004/settings.ts
  test/cmi/scorm2004_settings.spec.ts
Due: core, cmi_scorm2004

Fix test values for SCORM 2004 read-only fields with validation
  test/cmi/scorm2004_cmi.spec.ts
Due: none

Add SCORM 2004 validation for completion_threshold, scaled_passing_score, and max_time_allowed
  src/cmi/scorm2004/settings.ts
  src/cmi/scorm2004/thresholds.ts
  test/cmi/scorm2004_settings.spec.ts
  test/cmi/scorm2004_thresholds.spec.ts
Due: core, cmi_scorm2004

feat(scorm2004): wire adl.nav.request_valid to sequencing evaluation
  src/cmi/scorm2004/adl.ts
  src/cmi/scorm2004/sequencing/sequencing.ts
  src/services/SequencingService.ts
  test/cmi/scorm2004/adl.spec.ts
  test/cmi/scorm2004_adl.spec.ts
Due: core, cmi_scorm2004, services

feat(sequencing): validate and manage active path (REQ-5.1.5, REQ-6.1.3)
  src/cmi/scorm2004/learner_preference.ts
  src/cmi/scorm2004/sequencing/activity_tree.ts
  src/services/SequencingService.ts
  test/api/Scorm2004API.additional.spec.ts
  test/cmi/scorm2004/sequencing/activity_tree.spec.ts
  test/cmi/scorm2004/sequencing/choice_validation.spec.ts
  test/cmi/scorm2004/sequencing/termination_request_process.spec.ts
  test/cmi/scorm2004_learner_preference.spec.ts
Due: core, cmi_scorm2004, services

test(sequencing): add identifier validation and advanced rollup tests
  src/Scorm2004API.ts
  src/constants/api_constants.ts
  test/api/Scorm2004API.determineEntryValue.spec.ts
  test/cmi/scorm2004/sequencing/advanced_rollup.spec.ts
  test/cmi/scorm2004/sequencing/identifier_validation.spec.ts
Due: core, scorm2004

test(sequencing): add resume fallback behavior tests (REQ-4.2.3)
  test/cmi/scorm2004/sequencing/resume_fallback.spec.ts
Due: none

test(sequencing): add satisfaction by measure edge case tests
  test/cmi/scorm2004/sequencing/satisfaction_by_measure.spec.ts
Due: none

test(sequencing): add auto-progress integration tests (REQ-NAV-058)
  test/cmi/scorm2004/sequencing/auto_progress.spec.ts
Due: none

test(sequencing): add choice flow subprocess edge case tests (REQ-NAV-009)
  test/cmi/scorm2004/sequencing/choice_flow_edge_cases.spec.ts
Due: none

docs: add cross-frame communication guide for sandboxed iframes
  docs/lms-integration/cross-frame-communication.md
Due: none

docs: add API events reference for LMS integration
  docs/lms-integration/api-events-reference.md
Due: none

Update .gitignore to exclude new docs directories
  .gitignore
Due: none

Add LMS integration docs and expand SCORM 2004 examples
  docs/api_usage/examples/scorm2004_examples.md
  docs/lms-integration/README.md
  docs/lms-integration/data-requirements-quick-reference.md
  docs/lms-integration/lms-integration-guide.md
  src/BaseAPI.ts
  src/Scorm2004API.ts
  src/cmi/scorm2004/adl.ts
  src/cmi/scorm2004/content.ts
  src/cmi/scorm2004/learner.ts
  src/services/AsynchronousHttpService.ts
  src/services/SynchronousHttpService.ts
  test/api/BaseAPI.spec.ts
  test/api/Scorm2004API.additional.spec.ts
  test/api/Scorm2004API.navigation.spec.ts
  test/api/Scorm2004API.spec.ts
  test/api/state-machine.spec.ts
  test/cmi/scorm2004/adl-compliance.spec.ts
  test/cmi/scorm2004/adl.spec.ts
  test/services/AsynchronousHttpService.spec.ts
Due: core, cmi_scorm2004, services, scorm2004

Improve SCORM 2004 error handling and diagnostics
  src/BaseAPI.ts
  src/cmi/scorm2004/sequencing/sequencing_process.ts
  src/interfaces/services.ts
  src/services/ErrorHandlingService.ts
  test/api/ErrorConditions.spec.ts
  test/api/Scorm2004API.additional.spec.ts
  test/api/Scorm2004API.spec.ts
  test/cmi/scorm2004/sequencing/active_path_validation.spec.ts
  test/cmi/scorm2004/sequencing/activity_active_check.spec.ts
  test/cmi/scorm2004/sequencing/cluster_suspend_propagation.spec.ts
  test/cmi/scorm2004/sequencing/end_sequencing_session.spec.ts
  test/cmi/scorm2004/sequencing/logout_exit_handling.spec.ts
Due: core, cmi_scorm2004, services

Add heartbeat, rate limiting, and event system to CrossFrame
  src/CrossFrameAPI.ts
  src/CrossFrameLMS.ts
  src/esm/CrossFrameAPI.esm.ts
  src/esm/CrossFrameLMS.esm.ts
  src/types/CrossFrame.ts
  test/facades/CrossFrameFacade.spec.ts
Due: core, cross_frame_lms, cross_frame_api

docs: add error codes reference, offline overview, and data model notes
  docs/lms-integration/lms-integration-guide.md
Due: none

docs: add complete settings reference, interaction formats, and field limits
  docs/lms-integration/data-requirements-quick-reference.md
Due: none

fix(offline): respect maxSyncAttempts setting instead of hardcoded 5
  src/services/OfflineStorageService.ts
  test/services/OfflineStorageService.spec.ts
Due: core, services

docs: update README with links to new documentation files
  docs/lms-integration/README.md
Due: none

fix(offline): handle QuotaExceededError with clear error message
  src/services/OfflineStorageService.ts
  test/services/OfflineStorageService.spec.ts
Due: core, services

fix(offline): await storeOffline completion before returning success
  src/BaseAPI.ts
  src/Scorm12API.ts
  src/Scorm2004API.ts
  src/interfaces/IBaseAPI.ts
  test/api/BaseAPI.spec.ts
Due: core, scorm12, scorm2004

Revert "fix(offline): await storeOffline completion before returning success"
  src/BaseAPI.ts
  src/Scorm12API.ts
  src/Scorm2004API.ts
  src/interfaces/IBaseAPI.ts
  test/api/BaseAPI.spec.ts
Due: core, scorm12, scorm2004

test(offline): add tests documenting event integration points
  test/services/OfflineStorageService.spec.ts
Due: none

fix(offline): return actual storage result using sync localStorage
  src/BaseAPI.ts
  src/CrossFrameAPI.ts
  src/CrossFrameLMS.ts
  src/services/OfflineStorageService.ts
  test/api/BaseAPI.spec.ts
  test/facades/CrossFrameFacade.spec.ts
  test/services/OfflineStorageService.spec.ts
Due: core, services, cross_frame_lms, cross_frame_api

fix(offline): remove abandoned items from queue instead of keeping forever
  .run/Template Mocha.run.xml
  src/services/OfflineStorageService.ts
  test/services/OfflineStorageService.spec.ts
Due: core, services

chore: add .worktrees/ to gitignore
  .gitignore
Due: none

Path conditions:
  core: any of: src/**
  cmi_common: any of: src/cmi/common/**
  cmi_aicc: any of: src/cmi/aicc/**
  cmi_scorm12: any of: src/cmi/scorm12/**
  cmi_scorm2004: any of: src/cmi/scorm2004/**
  services: any of: src/services/**
  aicc: any of: src/AICC.ts
  scorm12: any of: src/Scorm12API.ts
  scorm2004: any of: src/Scorm2004API.ts
  cross_frame_lms: any of: src/CrossFrameLMS.ts
  cross_frame_api: any of: src/CrossFrameAPI.ts
