Repository jcputney/scorm-again: changes, and which Codecov flags are due for each by the changed paths.
All: core, cmi_common, cmi_aicc, cmi_scorm12, cmi_scorm2004, services, aicc, scorm12, scorm2004, cross_frame_lms, cross_frame_api

codecov.yaml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: core
      name: core
      paths:
        - src/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
        - type: patch
    - component_id: cmi_common
      name: cmi_common
      paths:
        - src/cmi/common/**
    - component_id: cmi_aicc
      name: cmi_aicc
      paths:
        - src/cmi/aicc/**
    - component_id: cmi_scorm12
      name: cmi_scorm12
      paths:
        - src/cmi/scorm12/**
    - component_id: cmi_scorm2004
      name: cmi_scorm2004
      paths:
        - src/cmi/scorm2004/**
    - component_id: services
      name: services
      paths:
        - src/services/**
    - component_id: aicc
      paths:
        - src/AICC.ts
    - component_id: scorm12
      paths:
        - src/Scorm12API.ts
    - component_id: scorm2004
      paths:
        - src/Scorm2004API.ts
    - component_id: cross_frame_lms
      paths:
        - src/CrossFrameLMS.ts
    - component_id: cross_frame_api
      paths:
        - src/CrossFrameAPI.ts

Allow expectedError to be undefined in CMI test helpers
  src/services/SequencingService.ts
  test/cmi/cmi_helpers.ts
Due: core, services

Refactor tests and fix SCORM session and objectives logic
  src/cmi/scorm2004/sequencing/activity.ts
  src/cmi/scorm2004/session.ts
  test/cmi/cmi_helpers.ts
  test/constants/default_settings.spec.ts
  test/integration/SequencingForcedSequential_SCORM20043rdEdition.spec.ts
  test/services/AsynchronousHttpService.spec.ts
  test/services/SerializationService.spec.ts
  test/services/SynchronousHttpService.spec.ts
Due: core, cmi_scorm2004

Implement post-condition loop in termination process
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  src/cmi/scorm2004/sequencing/sequencing_process.ts
  test/cmi/scorm2004/sequencing/end_sequencing_session.spec.ts
  test/cmi/scorm2004/sequencing/post_condition_rules.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_rules_check.spec.ts
  test/cmi/scorm2004/sequencing/termination_post_condition_loop.spec.ts
Due: core, cmi_scorm2004

Add multi-SCO support and auto-completion logic
  docs/api_usage/use_cases/common_use_cases.md
  src/Scorm12API.ts
  src/Scorm2004API.ts
  src/cmi/scorm2004/sequencing/activity.ts
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  src/cmi/scorm2004/sequencing/sequencing_controls.ts
  src/constants/default_settings.ts
  src/services/SequencingService.ts
  src/types/api_types.ts
  src/types/sequencing_types.ts
  test/api/Scorm12API.spec.ts
  test/api/Scorm2004API.spec.ts
  test/cmi/scorm2004/sequencing/auto_completion_satisfaction.spec.ts
  test/cmi/scorm2004/sequencing/delivery_request_process.spec.ts
  test/cmi/scorm2004/sequencing/termination_post_condition_loop.spec.ts
  test/cmi/scorm2004/sequencing/termination_request_process.spec.ts
Due: core, cmi_scorm2004, services, scorm12, scorm2004

Enhance SUSPEND_ALL handling and add validation tests
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  test/cmi/scorm2004/sequencing/delivery_request_process.spec.ts
  test/cmi/scorm2004/sequencing/enhanced_choice_validation.spec.ts
  test/cmi/scorm2004/sequencing/enhanced_delivery_validation.spec.ts
  test/cmi/scorm2004/sequencing/overall_sequencing_process.spec.ts
  test/cmi/scorm2004/sequencing/state_persistence.spec.ts
  test/cmi/scorm2004/sequencing/termination_request_process.spec.ts
Due: core, cmi_scorm2004

Fix CHOICE validation and termination logic in sequencing
  src/Scorm2004API.ts
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  src/types/sequencing_types.ts
  test/cmi/scorm2004/sequencing/gap_07_choice_validation.spec.ts
Due: core, cmi_scorm2004, scorm2004

Fix CONTINUE/PREVIOUS to check activity active state
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  test/cmi/scorm2004/sequencing/activity_active_check.spec.ts
  test/cmi/scorm2004/sequencing/choice_validation.spec.ts
Due: core, cmi_scorm2004

Improve post-condition sequencing request handling
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  test/cmi/scorm2004/sequencing/termination_post_condition_loop.spec.ts
  test/cmi/scorm2004/sequencing/termination_request_process.spec.ts
Due: core, cmi_scorm2004

Implement rollup optimization in overallRollupProcess
  src/cmi/scorm2004/sequencing/activity.ts
  src/cmi/scorm2004/sequencing/rollup_process.ts
  test/cmi/scorm2004/sequencing/rollup_processes.spec.ts
Due: core, cmi_scorm2004

docs: add SCORM gap analysis and implementation plan
  docs/analysis/README.md
  docs/analysis/originality-report.md
  docs/analysis/scorm12/api-compliance.md
  docs/analysis/scorm12/cmi-data-model.md
  docs/analysis/scorm2004/api-compliance.md
  docs/analysis/scorm2004/cmi-data-model.md
  docs/analysis/scorm2004/edition-compliance-matrix.md
  docs/analysis/scorm2004/edition-differences-2nd-vs-3rd.md
  docs/analysis/scorm2004/edition-differences-3rd-vs-4th.md
  docs/analysis/scorm2004/exception-code-coverage.md
  docs/analysis/scorm2004/sequencing-compliance.md
  docs/analysis/spec-documentation-audit.md
  docs/plans/2024-12-13-gap-analysis-implementation-plan.md
Due: none

docs: add implementation session prompt for subagent workflow
  docs/plans/2024-12-13-implementation-session-prompt.md
Due: none

fix(scorm12): make interactions.n.objectives.n.id write-only
  src/cmi/scorm12/interactions.ts
  test/api/ErrorConditions.spec.ts
  test/api/Scorm12API.spec.ts
  test/cmi/scorm12/interactions.spec.ts
  test/cmi/scorm12_cmi.spec.ts
  test/cmi/scorm12_interactions_reset.spec.ts
Due: core, cmi_scorm12

feat(scorm2004): add Navigation Request Process exceptions (NB.2.1.x)
  src/constants/sequencing_exceptions.ts
  test/constants/sequencing_exceptions.spec.ts
Due: core

feat(scorm2004): add Retry Process exceptions (SB.2.10.x)
  src/cmi/scorm2004/sequencing/sequencing_process.ts
  src/constants/sequencing_exceptions.ts
  test/cmi/scorm2004/sequencing/retry_attempt_count.spec.ts
  test/cmi/scorm2004/sequencing/retry_exceptions.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_process.spec.ts
  test/constants/sequencing_exceptions.spec.ts
Due: core, cmi_scorm2004

feat(scorm2004): add Choice Activity Traversal exceptions (SB.2.4.x)
  src/cmi/scorm2004/sequencing/sequencing_process.ts
  src/constants/sequencing_exceptions.ts
  test/constants/sequencing_exceptions.spec.ts
Due: core, cmi_scorm2004

fix(api): enforce sequential array index validation
  src/BaseAPI.ts
  test/api/Scorm12API.spec.ts
  test/cmi/common/array_sequential_index.spec.ts
  test/performance/StressTests.spec.ts
Due: core

fix(api): validate Initialize/Terminate/Commit argument is empty string
  src/BaseAPI.ts
  src/Scorm12API.ts
  src/Scorm2004API.ts
  src/interfaces/IBaseAPI.ts
  test/api/ArgumentValidation.spec.ts
Due: core, scorm12, scorm2004

feat(scorm2004): add Termination exceptions and verify GetErrorString
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  src/constants/sequencing_exceptions.ts
  test/api/Scorm12API.additional.spec.ts
  test/api/Scorm2004API.spec.ts
  test/cmi/scorm2004/sequencing/termination_request_process.spec.ts
  test/constants/sequencing_exceptions.spec.ts
Due: core, cmi_scorm2004

fix(scorm2004): minor compliance fixes N1-N3
  src/cmi/scorm2004/sequencing/sequencing_process.ts
  src/cmi/scorm2004/session.ts
  src/constants/regex.ts
  src/constants/sequencing_exceptions.ts
  test/cmi/scorm2004_session.spec.ts
  test/constants/regex.spec.ts
  test/constants/sequencing_exceptions.spec.ts
  test/field_values.ts
Due: core, cmi_scorm2004

docs: add spec references to API and CMI layer
  src/BaseAPI.ts
  src/Scorm12API.ts
  src/Scorm2004API.ts
  src/cmi/scorm12/cmi.ts
  src/cmi/scorm12/interactions.ts
  src/cmi/scorm12/objectives.ts
  src/cmi/scorm2004/cmi.ts
  src/cmi/scorm2004/interactions.ts
  src/cmi/scorm2004/objectives.ts
  src/constants/regex.ts
Due: core, cmi_scorm12, cmi_scorm2004, scorm12, scorm2004

Remove SCORM analysis and compliance documentation
  docs/analysis/README.md
  docs/analysis/originality-report.md
  docs/analysis/scorm12/api-compliance.md
  docs/analysis/scorm12/cmi-data-model.md
  docs/analysis/scorm2004/api-compliance.md
  docs/analysis/scorm2004/cmi-data-model.md
  docs/analysis/scorm2004/edition-compliance-matrix.md
  docs/analysis/scorm2004/edition-differences-2nd-vs-3rd.md
  docs/analysis/scorm2004/edition-differences-3rd-vs-4th.md
  docs/analysis/scorm2004/exception-code-coverage.md
  docs/analysis/scorm2004/sequencing-compliance.md
  docs/analysis/spec-documentation-audit.md
Due: none

Expand SCORM decimal regex to allow up to 10 digits
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  src/constants/regex.ts
  test/cmi/scorm2004/sequencing/activity_active_check.spec.ts
  test/cmi/scorm2004/sequencing/end_sequencing_session.spec.ts
  test/constants/regex.spec.ts
Due: core, cmi_scorm2004

Add suspension state and navigation look-ahead to SCORM 2004 sequencing
  src/cmi/scorm2004/sequencing/activity.ts
  src/cmi/scorm2004/sequencing/navigation_look_ahead.ts
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  src/cmi/scorm2004/sequencing/rollup_process.ts
  src/cmi/scorm2004/sequencing/sequencing_process.ts
  src/cmi/scorm2004/sequencing/sequencing_rules.ts
  src/constants/regex.ts
  src/constants/sequencing_exceptions.ts
  test/cmi/scorm2004/sequencing/advanced_rule_conditions.spec.ts
  test/cmi/scorm2004/sequencing/choice_exit_hide.spec.ts
  test/cmi/scorm2004/sequencing/constrained_choice_complete.spec.ts
  test/cmi/scorm2004/sequencing/enhanced_choice_validation.spec.ts
  test/cmi/scorm2004/sequencing/error_codes.spec.ts
  test/cmi/scorm2004/sequencing/flow_processes.spec.ts
  test/cmi/scorm2004/sequencing/integration_tests.spec.ts
  test/cmi/scorm2004/sequencing/navigation_look_ahead.spec.ts
  test/cmi/scorm2004/sequencing/navigation_validity_complex.spec.ts
  test/cmi/scorm2004/sequencing/rollup_considerations_complete.spec.ts
  test/cmi/scorm2004/sequencing/rollup_processes.spec.ts
  test/cmi/scorm2004/sequencing/suspension_state_preservation.spec.ts
  test/cmi/scorm2004/sequencing/time_limit_edge_cases.spec.ts
Due: core, cmi_scorm2004

Improve SCORM spec compliance and sequencing logic
  src/BaseAPI.ts
  src/Scorm12API.ts
  src/Scorm2004API.ts
  src/cmi/aicc/core.ts
  src/cmi/common/score.ts
  src/cmi/scorm12/cmi.ts
  src/cmi/scorm2004/interactions.ts
  src/cmi/scorm2004/objectives.ts
  src/cmi/scorm2004/sequencing/navigation_look_ahead.ts
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  src/cmi/scorm2004/sequencing/rollup_process.ts
  src/cmi/scorm2004/sequencing/sequencing_controls.ts
  src/cmi/scorm2004/sequencing/sequencing_process.ts
  src/constants/api_constants.ts
  src/constants/regex.ts
  test/api/BaseAPI.spec.ts
  test/api/ErrorConditions.spec.ts
  test/api/Scorm12API.additional.spec.ts
  test/api/error-scenarios.spec.ts
  test/api/state-machine.spec.ts
  test/cmi/aicc_cmi.spec.ts
  test/cmi/scorm12_cmi.spec.ts
  test/cmi/scorm12_objectives_reset.spec.ts
  test/cmi/scorm2004/sequencing/delivery_request_process.spec.ts
  test/cmi/scorm2004/sequencing/error_codes.spec.ts
  test/cmi/scorm2004/sequencing/flow_processes.spec.ts
  test/cmi/scorm2004/sequencing/rollup_considerations_complete.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_controls.spec.ts
  test/cmi/scorm2004/sequencing/start_flow_controls.spec.ts
  test/cmi/scorm2004/sequencing/termination_post_condition_loop.spec.ts
  test/cmi/scorm2004/sequencing/time_limit_edge_cases.spec.ts
  test/cmi/scorm2004_cmi.spec.ts
  test/field_values.ts
  test/integration/SequencingForcedSequential_SCORM20043rdEdition.spec.ts
  test/validation/boundary-values.spec.ts
Due: core, cmi_common, cmi_aicc, cmi_scorm12, cmi_scorm2004, scorm12, scorm2004
