Repository jcputney/scorm-again: changes, and which Codecov flags are due for each by the changed paths.
All: core, cmi_common, cmi_aicc, cmi_scorm12, cmi_scorm2004, services, aicc, scorm12, scorm2004, cross_frame_lms, cross_frame_api

ci: bump engines.node to 20.19 and pin OSV-Scanner to a SHA
  .github/workflows/osv-scanner.yml
  package.json
Due: none

Apply suggestions from code review
  package.json
Due: none

ci: add OSV-Scanner, CycloneDX SBOM, and build attestations (#1529)
  .github/workflows/osv-scanner.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: none

Expand README with audit and consulting information
  README.md
Due: none

Bump react-dom to 19.2.6 in docs-site lockfile
  docs-site/package-lock.json
Due: none

Bump dev deps: Playwright, Vitest, Vite, Rolldown
  package-lock.json
  package.json
Due: none

Fix SCORM 2004 correct_responses rejecting spec bracketed delimiters
  src/cmi/scorm2004/interaction_delimiters.ts
  src/cmi/scorm2004/interactions.ts
  src/handlers/scorm2004/response_validator.ts
  test/api/Scorm2004API.additional.spec.ts
  test/api/scorm2004_correct_responses_pattern.spec.ts
  test/cmi/scorm2004/interactions_pattern_validation.spec.ts
Due: core, cmi_scorm2004

Bump dependencies and update lockfiles
  docs-site/package-lock.json
  package-lock.json
  package.json
Due: none

[skip ci] Add changes during build
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm-again.min.js.map
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/scorm2004.min.js.map
  dist/types/cmi/scorm2004/interaction_delimiters.d.ts
  dist/types/cmi/scorm2004/interaction_delimiters.d.ts.map
  dist/types/cmi/scorm2004/interactions.d.ts.map
  dist/types/handlers/scorm2004/response_validator.d.ts.map
Due: none

Fix SCORM 2004 performance interaction rejecting spec-valid patterns
  src/cmi/scorm2004/interactions.ts
  src/constants/response_constants.ts
  src/handlers/scorm2004/response_validator.ts
  test/api/scorm2004_correct_responses_pattern.spec.ts
  test/cmi/scorm2004/interactions_pattern_validation.spec.ts
  test/cmi/scorm2004_interactions_additional.spec.ts
Due: core, cmi_scorm2004

[skip ci] Add changes during build
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm-again.min.js.map
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/scorm2004.min.js.map
  dist/types/cmi/scorm2004/interactions.d.ts.map
  dist/types/constants/response_constants.d.ts.map
  dist/types/handlers/scorm2004/response_validator.d.ts.map
Due: none

fix(ci): add missing @cyclonedx/cyclonedx-npm devDependency so SBOM step runs
  package-lock.json
  package.json
Due: none

[skip ci] Bump version to 3.0.6
  package-lock.json
  package.json
Due: none

docs: document network access capability and add socket.yml
  README.md
  socket.yml
Due: none

ci: enable Dependabot auto-merge for root npm patch/minor
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
Due: none

ci: enable Dependabot auto-merge for root npm patch/minor (#1587)
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
Due: none

ci(finalize): push dist commit as DIST_COMMIT_TOKEN owner to bypass ruleset
  .github/workflows/main.yml
Due: none

ci(finalize): push dist commit as DIST_COMMIT_TOKEN owner to bypass ruleset (#1590)
  .github/workflows/main.yml
Due: none

ci: add CI Gate + docs-site build, enable docs-site auto-merge
  .github/dependabot.yml
  .github/workflows/main.yml
Due: none

ci: add CI Gate + docs-site build, enable docs-site auto-merge (#1591)
  .github/dependabot.yml
  .github/workflows/main.yml
Due: none

fix: raise 403 for uninitialized SCORM 2004 GetValue
  src/BaseAPI.ts
  src/Scorm2004API.ts
  test/api/Scorm2004API.uninitializedGet.spec.ts
  test/conformance/adl/README.md
  test/conformance/adl/decoder.ts
  test/conformance/adl/fixtures/generated/DMB.json
  test/conformance/session-boundary.spec.ts
Due: core, scorm2004

chore: bump version to 3.1.0
  package-lock.json
  package.json
Due: none

docs: clarify 403 gate tracking and document deliberate boundaries
  src/Scorm2004API.ts
  test/conformance/adl/README.md
Due: core, scorm2004

chore: upgrade CycloneDX npm CLI to v5
  package-lock.json
  package.json
Due: none

chore: bump dev tooling dependencies
  package-lock.json
  package.json
Due: none

Fix SCORM 2004 count assertions as strings
  test/integration/APIInteractions2004.spec.ts
Due: none

[skip ci] Add changes during build
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm-again.min.js.map
  dist/scorm12.js
  dist/scorm12.js.map
  dist/scorm12.min.js
  dist/scorm12.min.js.map
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/scorm2004.min.js.map
  dist/types/BaseAPI.d.ts
  dist/types/BaseAPI.d.ts.map
  dist/types/Scorm2004API.d.ts
  dist/types/Scorm2004API.d.ts.map
  dist/types/services/CMIValueAccessService.d.ts.map
Due: none

style: apply prettier formatting to drifted files
  src/Scorm2004API.ts
  src/services/AsynchronousHttpService.ts
  src/services/SequencingService.ts
  src/services/SynchronousHttpService.ts
  src/types/sequencing_types.ts
Due: core, services, scorm2004

fix(scorm12): correct RTE error codes against ADL CTS
  src/cmi/common/score.ts
  src/cmi/scorm12/core.ts
  src/cmi/scorm12/objectives.ts
  src/constants/error_codes.ts
  src/services/CMIValueAccessService.ts
  src/services/ValidationService.ts
  test/api/ErrorConditions.spec.ts
  test/api/Scorm12API.spec.ts
  test/api/error-scenarios.spec.ts
  test/conformance/adl/SCORM12_COVERAGE.md
  test/conformance/adl/fixtures/scorm12-divergence-probes.json
  test/validation/boundary-values.spec.ts
Due: core, cmi_common, cmi_scorm12, services

test(integration): undefined element returns 401 for SCORM 1.2
  test/integration/suites/scorm-common-api.spec.ts
  test/integration/suites/scorm-common-api.ts
Due: none

[skip ci] Add changes during build
  dist/cross-frame-api.js.map
  dist/esm/cross-frame-api.js.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm-again.min.js.map
  dist/scorm12.js
  dist/scorm12.js.map
  dist/scorm12.min.js
  dist/scorm12.min.js.map
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/scorm2004.min.js.map
  dist/types/Scorm2004API.d.ts.map
  dist/types/cmi/common/score.d.ts
  dist/types/cmi/common/score.d.ts.map
  dist/types/cmi/scorm12/core.d.ts.map
  dist/types/cmi/scorm12/objectives.d.ts.map
  dist/types/constants/error_codes.d.ts.map
  dist/types/services/AsynchronousHttpService.d.ts.map
  dist/types/services/CMIValueAccessService.d.ts.map
  dist/types/services/SequencingService.d.ts.map
  dist/types/services/SynchronousHttpService.d.ts.map
  dist/types/services/ValidationService.d.ts
  dist/types/services/ValidationService.d.ts.map
  dist/types/types/sequencing_types.d.ts.map
Due: none

refactor: modernize params serialization
  src/Scorm12API.ts
  src/serialization/scorm2004_data_serializer.ts
Due: core, scorm12

feat: add commit lifecycle observability, terminate signaling, and commit sequencing
  README.md
  docs-site/docs/configuration/settings-reference.md
  docs-site/docs/lms-integration/api-events-reference.md
  docs-site/docs/lms-integration/integration-guide.md
  src/BaseAPI.ts
  src/Scorm12API.ts
  src/Scorm2004API.ts
  src/constants/default_settings.ts
  src/interfaces/services.ts
  src/services/AsynchronousHttpService.ts
  src/services/EventService.ts
  src/services/OfflineStorageService.ts
  src/services/SynchronousHttpService.ts
  src/types/api_types.ts
  src/types/scheduled_commit.ts
  src/utilities/index.ts
  src/utilities/url.ts
  test/BaseAPI.requestHandler.spec.ts
  test/api/BaseAPI.spec.ts
  test/api/CommitLifecycle.spec.ts
  test/services/AsynchronousHttpService.commitLifecycle.spec.ts
  test/services/EventService.commitLifecycle.spec.ts
  test/services/OfflineStorageService.commitLifecycle.spec.ts
  test/services/OfflineStorageService.spec.ts
  test/utilities/url.spec.ts
Due: core, services, scorm12, scorm2004

feat: add commit lifecycle observability, terminate signaling, and commit sequencing (#1615)
  README.md
  docs-site/docs/configuration/settings-reference.md
  docs-site/docs/lms-integration/api-events-reference.md
  docs-site/docs/lms-integration/integration-guide.md
  src/BaseAPI.ts
  src/Scorm12API.ts
  src/Scorm2004API.ts
  src/constants/default_settings.ts
  src/interfaces/services.ts
  src/services/AsynchronousHttpService.ts
  src/services/EventService.ts
  src/services/OfflineStorageService.ts
  src/services/SynchronousHttpService.ts
  src/types/api_types.ts
  src/types/scheduled_commit.ts
  src/utilities/index.ts
  src/utilities/url.ts
  test/BaseAPI.requestHandler.spec.ts
  test/api/BaseAPI.spec.ts
  test/api/CommitLifecycle.spec.ts
  test/services/AsynchronousHttpService.commitLifecycle.spec.ts
  test/services/EventService.commitLifecycle.spec.ts
  test/services/OfflineStorageService.commitLifecycle.spec.ts
  test/services/OfflineStorageService.spec.ts
  test/utilities/url.spec.ts
Due: core, services, scorm12, scorm2004

chore: bump version to 3.1.1
  package-lock.json
  package.json
Due: none

ci(release): push post-release version bump as DIST_COMMIT_TOKEN owner
  .github/workflows/release.yml
Due: none

ci(release): fix post-release version bump push + bump to 3.1.1 (#1616)
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: none

ci(release): scope the version-bump PAT to the final push
  .github/workflows/release.yml
Due: none

Path conditions:
  core: any of: src/**
  cmi_common: any of: src/cmi/common/**
  cmi_aicc: any of: src/cmi/aicc/**
  cmi_scorm12: any of: src/cmi/scorm12/**
  cmi_scorm2004: any of: src/cmi/scorm2004/**
  services: any of: src/services/**
  aicc: any of: src/AICC.ts
  scorm12: any of: src/Scorm12API.ts
  scorm2004: any of: src/Scorm2004API.ts
  cross_frame_lms: any of: src/CrossFrameLMS.ts
  cross_frame_api: any of: src/CrossFrameAPI.ts
