Repository jcputney/scorm-again: changes, and which Codecov flags are due for each by the changed paths.
All: core, cmi_common, cmi_aicc, cmi_scorm12, cmi_scorm2004, services, aicc, scorm12, scorm2004, cross_frame_lms, cross_frame_api

chore(site): Update site icons and add dark mode support to logo
  docs-site/static/img/android-chrome-192x192.png
  docs-site/static/img/android-chrome-512x512.png
  docs-site/static/img/apple-touch-icon.png
  docs-site/static/img/favicon-16x16.png
  docs-site/static/img/favicon-32x32.png
  docs-site/static/img/favicon.ico
  docs-site/static/img/logo.png
  docs-site/static/img/logo.svg
  docs-site/static/img/scorm-again-logo-small.svg
  docs-site/static/img/scorm-again-logo.svg
  docs-site/static/img/site.webmanifest
Due: none

test(cross_cluster_processor): Add comprehensive test suite for CrossClusterProcessor
  test/cmi/scorm2004/sequencing/rollup/cross_cluster_processor.spec.ts
Due: none

test(global_objective_manager): Add comprehensive test suite for GlobalObjectiveManager
  test/objectives/global_objective_manager.spec.ts
Due: none

test(persistence): Add comprehensive test suite for SequencingStatePersistence
  test/persistence/sequencing_state_persistence.spec.ts
Due: none

chore(site): Update homepage styles and remove duplicate heading
  .run/Serve Site.run.xml
  docs-site/src/pages/index.module.css
  docs-site/src/pages/index.tsx
Due: none

chore(ci): Update CI workflow triggers and naming
  .github/workflows/main.yml
Due: none

refactor(tests): Apply code review improvements
  test/cmi/scorm2004/sequencing/rollup/cross_cluster_processor.spec.ts
  test/cmi/scorm2004/sequencing/rollup/rollup_rule_evaluator.spec.ts
  test/objectives/global_objective_manager.spec.ts
  test/persistence/sequencing_state_persistence.spec.ts
Due: none

refactor(tests): Create shared test utilities and refactor to reduce duplication
  test/cmi/scorm2004/sequencing/rollup/cross_cluster_processor.spec.ts
  test/cmi/scorm2004/sequencing/rollup/rollup_child_filter.spec.ts
  test/cmi/scorm2004/sequencing/rollup/rollup_rule_evaluator.spec.ts
  test/helpers/mock-factories.ts
  test/objectives/global_objective_manager.spec.ts
  test/persistence/sequencing_state_persistence.spec.ts
Due: none

refactor(tests): Apply code review improvements
  test/helpers/mock-factories.ts
  test/persistence/sequencing_state_persistence.spec.ts
Due: none

fix(tests): Address PR review comments from #1324
  test/cmi/scorm2004/sequencing/objectives/global_objective_synchronizer.spec.ts
  test/cmi/scorm2004/sequencing/validators/choice_constraint_validator.spec.ts
  test/helpers/mock-factories.ts
  test/persistence/sequencing_state_persistence.spec.ts
Due: none

test: Add comprehensive tests for sequencing validation components (#1324)
  test/cmi/scorm2004/sequencing/objectives/global_objective_synchronizer.spec.ts
  test/cmi/scorm2004/sequencing/rollup/cross_cluster_processor.spec.ts
  test/cmi/scorm2004/sequencing/rollup/rollup_child_filter.spec.ts
  test/cmi/scorm2004/sequencing/rollup/rollup_rule_evaluator.spec.ts
  test/cmi/scorm2004/sequencing/validation/delivery_validator.spec.ts
  test/cmi/scorm2004/sequencing/validators/choice_constraint_validator.spec.ts
  test/helpers/mock-factories.ts
  test/objectives/global_objective_manager.spec.ts
  test/persistence/sequencing_state_persistence.spec.ts
Due: none

fix: Add dark mode support for navbar logo
  docs-site/docusaurus.config.ts
  docs-site/static/img/scorm-again-logo-small-dark.svg
Due: none

feat: Add SVG favicon with system color preference support
  docs-site/docusaurus.config.ts
  docs-site/static/img/favicon.svg
Due: none

feat: Add dark mode support for homepage logo
  docs-site/src/pages/index.tsx
  docs-site/static/img/scorm-again-logo-dark.svg
Due: none

fix: Add dark mode support for navbar logo (#1325)
  docs-site/docusaurus.config.ts
  docs-site/src/pages/index.tsx
  docs-site/static/img/favicon.svg
  docs-site/static/img/scorm-again-logo-dark.svg
  docs-site/static/img/scorm-again-logo-small-dark.svg
Due: none

refactor: rename useBeaconInsteadOfFetch to asyncModeBeaconBehavior
  MIGRATION.md
  src/BaseAPI.ts
  src/constants/default_settings.ts
  src/services/AsynchronousHttpService.ts
  src/types/api_types.ts
Due: core, services

chore: remove unused useBeaconInsteadOfFetch backwards compatibility
  MIGRATION.md
  src/BaseAPI.ts
  src/types/api_types.ts
Due: core

fix: allow boolean in ResultObject.result for backwards compatibility
  src/types/api_types.ts
Due: core

test: Update tests for asyncModeBeaconBehavior rename and add boolean result tests
  test/services/AsynchronousHttpService.spec.ts
Due: none

fix: convert boolean ResultObject.result to string for internal use
  src/BaseAPI.ts
Due: core

refactor: rename useBeaconInsteadOfFetch to asyncModeBeaconBehavior (#1326)
  MIGRATION.md
  src/BaseAPI.ts
  src/constants/default_settings.ts
  src/services/AsynchronousHttpService.ts
  src/types/api_types.ts
  test/services/AsynchronousHttpService.spec.ts
Due: core, services

fix: Relax CMIShortIdentifier regex to allow valid URI characters per RFC 3986
  src/constants/regex.ts
  test/cmi/scorm2004/interactions_pattern_validation.spec.ts
Due: core

[skip ci] Add changes during build
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm-again.min.js.map
  dist/scorm12.js
  dist/scorm12.js.map
  dist/scorm12.min.js
  dist/scorm12.min.js.map
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/scorm2004.min.js.map
  dist/types/BaseAPI.d.ts.map
  dist/types/types/api_types.d.ts
  dist/types/types/api_types.d.ts.map
Due: none

fix: Switch release workflow to test chromium/firefox only and add sharding
  .github/workflows/release.yml
Due: none

refactor: Use 8 shards (4 per browser) for release integration tests
  .github/workflows/release.yml
Due: none

fix: Switch release workflow to test chromium/firefox only and add sharding (#1329)
  .github/workflows/release.yml
Due: none

ci: Add Firefox to main CI workflow for consistent browser testing
  .github/workflows/main.yml
Due: none

fix(tests): Ensure navigation UI test sets minimal activity tree
  test/integration/NavigationUi.spec.ts
Due: none

[skip ci] Add changes during build
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm-again.min.js.map
  dist/scorm12.js.map
  dist/scorm12.min.js.map
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/scorm2004.min.js.map
  dist/types/exceptions/scorm12_exceptions.d.ts
  dist/types/exceptions/scorm12_exceptions.d.ts.map
  dist/types/exceptions/scorm2004_exceptions.d.ts
  dist/types/exceptions/scorm2004_exceptions.d.ts.map
  dist/types/services/ActivityDeliveryService.d.ts.map
Due: none

[skip ci] Bump version to 3.0.1
  package-lock.json
  package.json
Due: none

chore(deps): Update TypeScript ESLint and related dependencies
  package-lock.json
  package.json
Due: none

Update dependencies to latest versions
  package-lock.json
  package.json
Due: none

Update qs dependency to version 6.14.1
  docs-site/package-lock.json
Due: none

Redesign SCORM 2004 player with modern UI
  test/integration/wrappers/scorm2004-wrapper-cross-frame.html
  test/integration/wrappers/scorm2004-wrapper.html
Due: none

Bump dev dependencies and regenerate lockfile
  package-lock.json
  package.json
Due: none

Bump React, ReactDOM and local search plugin
  docs-site/package-lock.json
  docs-site/package.json
Due: none

Use type-only imports/exports for CMI types
  src/cmi/scorm2004/sequencing/handlers/termination_handler.ts
Due: core, cmi_scorm2004

Add overrides to bump Actions/Octokit deps
  package-lock.json
  package.json
Due: none

Fix spurious 403 errors on first SetValue for array elements (#1378)
  src/Scorm2004API.ts
  test/api/Scorm2004API.additional.spec.ts
Due: core, scorm2004

Path conditions:
  core: any of: src/**
  cmi_common: any of: src/cmi/common/**
  cmi_aicc: any of: src/cmi/aicc/**
  cmi_scorm12: any of: src/cmi/scorm12/**
  cmi_scorm2004: any of: src/cmi/scorm2004/**
  services: any of: src/services/**
  aicc: any of: src/AICC.ts
  scorm12: any of: src/Scorm12API.ts
  scorm2004: any of: src/Scorm2004API.ts
  cross_frame_lms: any of: src/CrossFrameLMS.ts
  cross_frame_api: any of: src/CrossFrameAPI.ts
