Repository jcputney/scorm-again: changes, and which Codecov flags are due for each by the changed paths.
All: core, cmi_common, cmi_aicc, cmi_scorm12, cmi_scorm2004, services, aicc, scorm12, scorm2004, cross_frame_lms, cross_frame_api

Adding codecov badge
  README.md
Due: none

Update file pattern in git-auto-commit-action to include reports directory
  .github/workflows/main.yml
Due: none

Remove reports directory from file pattern in git-auto-commit-action
  .github/workflows/main.yml
Due: none

Remove modern JavaScript support and related references from the project
  README.md
  package.json
  rollup.config.js
  test/integration/APIInteractions.spec.ts
  test/integration/APIInteractions2004.spec.ts
  test/integration/dist_test.html
Due: none

Refactor README examples to improve clarity and consistency
  README.md
Due: none

[skip ci] Add changes during build
  dist/modern/aicc.js
  dist/modern/aicc.js.map
  dist/modern/aicc.min.js
  dist/modern/aicc.min.js.map
  dist/modern/cross-frame-api.js
  dist/modern/cross-frame-api.js.map
  dist/modern/cross-frame-api.min.js
  dist/modern/cross-frame-api.min.js.map
  dist/modern/cross-frame-lms.js
  dist/modern/cross-frame-lms.js.map
  dist/modern/cross-frame-lms.min.js
  dist/modern/cross-frame-lms.min.js.map
  dist/modern/scorm-again.js
  dist/modern/scorm-again.js.map
  dist/modern/scorm-again.min.js
  dist/modern/scorm-again.min.js.map
  dist/modern/scorm12.js
  dist/modern/scorm12.js.map
  dist/modern/scorm12.min.js
  dist/modern/scorm12.min.js.map
  dist/modern/scorm2004.js
  dist/modern/scorm2004.js.map
  dist/modern/scorm2004.min.js
  dist/modern/scorm2004.min.js.map
  src/BaseAPI.ts
Due: core

Update script references to use minified versions and enhance build process for production
  .github/workflows/main.yml
  README.md
  index.d.ts
  package.json
  rollup.config.js
  test/integration/wrappers/aicc-wrapper-esm.html
  test/integration/wrappers/aicc-wrapper-modern.html
  test/integration/wrappers/aicc-wrapper.html
  test/integration/wrappers/scorm12-wrapper-esm.html
  test/integration/wrappers/scorm12-wrapper-modern.html
  test/integration/wrappers/scorm12-wrapper.html
  test/integration/wrappers/scorm2004-wrapper-esm.html
  test/integration/wrappers/scorm2004-wrapper-modern.html
  test/integration/wrappers/scorm2004-wrapper.html
Due: none

[skip ci] Add changes during build
  dist/esm/aicc.js.map
  dist/esm/aicc.min.js
  dist/esm/aicc.min.js.map
  dist/esm/cross-frame-api.min.js
  dist/esm/cross-frame-api.min.js.map
  dist/esm/cross-frame-lms.min.js
  dist/esm/cross-frame-lms.min.js.map
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
Due: none

Update total time calculation logic to include terminateCommit condition
  src/Scorm12API.ts
  src/Scorm2004API.ts
Due: core, scorm12, scorm2004

Refactor CMI classes to improve start time handling and update API settings management
  src/BaseAPI.ts
  src/Scorm12API.ts
  src/Scorm2004API.ts
  src/cmi/aicc/core.ts
  src/cmi/common/base_cmi.ts
  src/cmi/scorm2004/cmi.ts
  src/cmi/scorm2004/session.ts
  test/api/BaseAPI.spec.ts
  test/cmi/common/base_cmi.spec.ts
Due: core, cmi_common, cmi_aicc, cmi_scorm2004, scorm12, scorm2004

[skip ci] Add changes during build
  dist/esm/aicc.js
  dist/esm/aicc.js.map
  dist/esm/aicc.min.js
  dist/esm/aicc.min.js.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/types/BaseAPI.d.ts
  dist/types/cmi/common/base_cmi.d.ts
  dist/types/cmi/scorm2004/session.d.ts
  src/BaseAPI.ts
  src/Scorm12API.ts
  src/Scorm2004API.ts
Due: core, scorm12, scorm2004

[skip ci] Add changes during build
  dist/esm/aicc.js
  dist/esm/aicc.js.map
  dist/esm/aicc.min.js
  dist/esm/aicc.min.js.map
  dist/esm/cross-frame-api.js
  dist/esm/cross-frame-api.js.map
  dist/esm/cross-frame-api.min.js
  dist/esm/cross-frame-api.min.js.map
  dist/esm/cross-frame-lms.js
  dist/esm/cross-frame-lms.js.map
  dist/esm/cross-frame-lms.min.js
  dist/esm/cross-frame-lms.min.js.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
Due: none

Fix NAVBoolean regex
  src/constants/regex.ts
Due: core

Fix NAVBoolean regex (#948)
  src/constants/regex.ts
Due: core

[skip ci] Add changes during build
  dist/esm/aicc.js.map
  dist/esm/aicc.min.js.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
Due: none

Fix SCORM 1.2 decimal regex
  src/constants/regex.ts
  test/services/ValidationService.spec.ts
Due: core

Fix SCORM 1.2 decimal regex (#949)
  src/constants/regex.ts
  test/services/ValidationService.spec.ts
Due: core

[skip ci] Add changes during build
  dist/esm/aicc.js
  dist/esm/aicc.js.map
  dist/esm/aicc.min.js
  dist/esm/aicc.min.js.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
Due: none

Fix jsDelivr badge label
  README.md
  src/utilities.ts
  test/utils/utilities.spec.ts
Due: core

Fix jsDelivr badge label (#950)
  README.md
  src/utilities.ts
  test/utils/utilities.spec.ts
Due: core

[skip ci] Add changes during build
  dist/esm/aicc.js
  dist/esm/aicc.js.map
  dist/esm/aicc.min.js
  dist/esm/aicc.min.js.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/types/utilities.d.ts
Due: none

fix: expose event helpers and handle unknown errors
  index.d.ts
  src/BaseAPI.ts
Due: core

fix: expose event helpers and handle unknown errors (#951)
  index.d.ts
  src/BaseAPI.ts
Due: core

fix: allow longer feedback strings
  src/constants/regex.ts
Due: core

fix: allow longer feedback strings (#952)
  src/constants/regex.ts
Due: core

fix: correct type imports
  index.d.ts
Due: none

fix: correct type imports (#959)
  index.d.ts
Due: none

Pushing compiled dist
  dist/aicc.js
  dist/aicc.js.map
  dist/aicc.min.js
  dist/aicc.min.js.map
  dist/esm/aicc.js
  dist/esm/aicc.js.map
  dist/esm/aicc.min.js
  dist/esm/aicc.min.js.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm-again.min.js.map
  dist/scorm12.js
  dist/scorm12.js.map
  dist/scorm12.min.js
  dist/scorm12.min.js.map
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/scorm2004.min.js.map
Due: none

Dependency updates
  package-lock.json
  package.json
Due: none

Removing basic test reporter
  package.json
Due: none

Handle error info caching in CrossFrameAPI
  src/CrossFrameAPI.ts
Due: core, cross_frame_api

Handle error info caching in CrossFrameAPI (#960)
  src/CrossFrameAPI.ts
Due: core, cross_frame_api

[skip ci] Add changes during build
  dist/esm/cross-frame-api.js
  dist/esm/cross-frame-api.js.map
  dist/esm/cross-frame-api.min.js
  dist/esm/cross-frame-api.min.js.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
Due: none

fix: improve error code parsing in CrossFrameAPI
  src/CrossFrameAPI.ts
Due: core, cross_frame_api

fix: improve error code parsing in CrossFrameAPI (#961)
  src/CrossFrameAPI.ts
Due: core, cross_frame_api

feat: validate message origin in CrossFrameLMS
  src/CrossFrameLMS.ts
  test/facades/CrossFrameFacade.spec.ts
Due: core, cross_frame_lms

feat: validate message origin in CrossFrameLMS (#962)
  src/CrossFrameLMS.ts
  test/facades/CrossFrameFacade.spec.ts
Due: core, cross_frame_lms

[skip ci] Add changes during build
  dist/esm/cross-frame-lms.js
  dist/esm/cross-frame-lms.js.map
  dist/esm/cross-frame-lms.min.js
  dist/esm/cross-frame-lms.min.js.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
Due: none

Path conditions:
  core: any of: src/**
  cmi_common: any of: src/cmi/common/**
  cmi_aicc: any of: src/cmi/aicc/**
  cmi_scorm12: any of: src/cmi/scorm12/**
  cmi_scorm2004: any of: src/cmi/scorm2004/**
  services: any of: src/services/**
  aicc: any of: src/AICC.ts
  scorm12: any of: src/Scorm12API.ts
  scorm2004: any of: src/Scorm2004API.ts
  cross_frame_lms: any of: src/CrossFrameLMS.ts
  cross_frame_api: any of: src/CrossFrameAPI.ts
