Repository jcputney/scorm-again: changes, and which Codecov flags are due for each by the changed paths.
All: core, cmi_common, cmi_aicc, cmi_scorm12, cmi_scorm2004, services, aicc, scorm12, scorm2004, cross_frame_lms, cross_frame_api

codecov.yaml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: core
      name: core
      paths:
        - src/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
        - type: patch
    - component_id: cmi_common
      name: cmi_common
      paths:
        - src/cmi/common/**
    - component_id: cmi_aicc
      name: cmi_aicc
      paths:
        - src/cmi/aicc/**
    - component_id: cmi_scorm12
      name: cmi_scorm12
      paths:
        - src/cmi/scorm12/**
    - component_id: cmi_scorm2004
      name: cmi_scorm2004
      paths:
        - src/cmi/scorm2004/**
    - component_id: services
      name: services
      paths:
        - src/services/**
    - component_id: aicc
      paths:
        - src/AICC.ts
    - component_id: scorm12
      paths:
        - src/Scorm12API.ts
    - component_id: scorm2004
      paths:
        - src/Scorm2004API.ts
    - component_id: cross_frame_lms
      paths:
        - src/CrossFrameLMS.ts
    - component_id: cross_frame_api
      paths:
        - src/CrossFrameAPI.ts

test: Improve scorm12_sequencer test coverage to 100%
  test/services/AsynchronousHttpService.spec.ts
  test/utilities/scorm12-lms-helpers/scorm12_sequencer.spec.ts
Due: none

test(services): Improve coverage for service layer edge cases
  test/services/EventService.spec.ts
  test/services/OfflineStorageService.spec.ts
Due: none

test(sequencing): Add comprehensive termination request process tests
  test/cmi/scorm2004/sequencing/termination_request_process.spec.ts
Due: none

test(Scorm2004API): Improve test coverage for edge cases and state management
  test/api/Scorm2004API.additional.spec.ts
Due: none

docs(site): Update docs-site branding and favicon assets
  docs-site/docusaurus.config.ts
  docs-site/src/pages/index.module.css
  docs-site/src/pages/index.tsx
  docs-site/static/img/android-chrome-192x192.png
  docs-site/static/img/android-chrome-512x512.png
  docs-site/static/img/apple-touch-icon.png
  docs-site/static/img/docusaurus-social-card.jpg
  docs-site/static/img/docusaurus.png
  docs-site/static/img/favicon-16x16.png
  docs-site/static/img/favicon-32x32.png
  docs-site/static/img/favicon.ico
  docs-site/static/img/scorm-again-logo-small.svg
  docs-site/static/img/scorm-again-logo.svg
  docs-site/static/img/site.webmanifest
  docs-site/static/img/undraw_docusaurus_mountain.svg
  docs-site/static/img/undraw_docusaurus_react.svg
  docs-site/static/img/undraw_docusaurus_tree.svg
Due: none

tests(coverage): Add comprehensive tests for OverallSequencingProcess
  test/cmi/scorm2004/sequencing/overall_sequencing_process.spec.ts
  test/cmi/scorm2004/sequencing/rollup_processes.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_process.spec.ts
Due: none

test(sequencing): Add SB.2.9 specification compliance tests
  test/cmi/scorm2004/sequencing/sequencing_process.spec.ts
Due: none

docs: Add god class refactoring plan prompt
  GOD-CLASS-REFACTORING.md
Due: none

refactor(sequencing): Extract god class into focused, single-responsibility modules
  package-lock.json
  src/cmi/scorm2004/sequencing/handlers/choice_request_handler.ts
  src/cmi/scorm2004/sequencing/handlers/exit_request_handler.ts
  src/cmi/scorm2004/sequencing/handlers/flow_request_handler.ts
  src/cmi/scorm2004/sequencing/handlers/index.ts
  src/cmi/scorm2004/sequencing/handlers/retry_request_handler.ts
  src/cmi/scorm2004/sequencing/rules/rule_evaluation_engine.ts
  src/cmi/scorm2004/sequencing/rules/sequencing_request_types.ts
  src/cmi/scorm2004/sequencing/sequencing_process_refactored.ts
  src/cmi/scorm2004/sequencing/traversal/flow_traversal_service.ts
  src/cmi/scorm2004/sequencing/utils/activity_tree_queries.ts
  src/cmi/scorm2004/sequencing/validators/choice_constraint_validator.ts
  test/cmi/scorm2004/sequencing/handlers/flow_request_handler.spec.ts
  test/cmi/scorm2004/sequencing/rules/rule_evaluation_engine.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_process_refactored.spec.ts
  test/cmi/scorm2004/sequencing/traversal/flow_traversal_service.spec.ts
  test/cmi/scorm2004/sequencing/utils/activity_tree_queries.spec.ts
  test/cmi/scorm2004/sequencing/validators/choice_constraint_validator.spec.ts
Due: core, cmi_scorm2004

refactor(sequencing): Integrate extracted modules into SequencingProcess
  src/cmi/scorm2004/sequencing/sequencing_process.ts
Due: core, cmi_scorm2004

refactor(sequencing): Complete god class refactoring - reduce from 3036 to 401 lines
  src/cmi/scorm2004/sequencing/handlers/choice_request_handler.ts
  src/cmi/scorm2004/sequencing/handlers/flow_request_handler.ts
  src/cmi/scorm2004/sequencing/sequencing_process.ts
  src/cmi/scorm2004/sequencing/sequencing_rules.ts
  src/cmi/scorm2004/sequencing/traversal/flow_traversal_service.ts
  test/cmi/scorm2004/sequencing/handlers/flow_request_handler.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_process_refactored.spec.ts
  test/cmi/scorm2004/sequencing/time_limit_edge_cases.spec.ts
Due: core, cmi_scorm2004

fix: Complete sequencing process refactoring with full test coverage
  src/cmi/scorm2004/sequencing/rules/rule_evaluation_engine.ts
  src/cmi/scorm2004/sequencing/sequencing_process.ts
  src/cmi/scorm2004/sequencing/sequencing_process_refactored.ts
  src/cmi/scorm2004/sequencing/validators/choice_constraint_validator.ts
  test/cmi/scorm2004/sequencing/sequencing_process_refactored.spec.ts
Due: core, cmi_scorm2004

fix: Use type-only imports for PostConditionResult interface
  src/cmi/scorm2004/sequencing/sequencing_process.ts
Due: core, cmi_scorm2004

chore: Remove unused imports flagged by code review
  src/cmi/scorm2004/sequencing/traversal/flow_traversal_service.ts
  test/cmi/scorm2004/sequencing/rules/rule_evaluation_engine.spec.ts
Due: core, cmi_scorm2004

refactor(sequencing): Extract god class into focused, single-responsibility modules (#1317)
  package-lock.json
  src/cmi/scorm2004/sequencing/handlers/choice_request_handler.ts
  src/cmi/scorm2004/sequencing/handlers/exit_request_handler.ts
  src/cmi/scorm2004/sequencing/handlers/flow_request_handler.ts
  src/cmi/scorm2004/sequencing/handlers/index.ts
  src/cmi/scorm2004/sequencing/handlers/retry_request_handler.ts
  src/cmi/scorm2004/sequencing/rules/rule_evaluation_engine.ts
  src/cmi/scorm2004/sequencing/rules/sequencing_request_types.ts
  src/cmi/scorm2004/sequencing/sequencing_process.ts
  src/cmi/scorm2004/sequencing/sequencing_rules.ts
  src/cmi/scorm2004/sequencing/traversal/flow_traversal_service.ts
  src/cmi/scorm2004/sequencing/utils/activity_tree_queries.ts
  src/cmi/scorm2004/sequencing/validators/choice_constraint_validator.ts
  test/cmi/scorm2004/sequencing/handlers/flow_request_handler.spec.ts
  test/cmi/scorm2004/sequencing/rules/rule_evaluation_engine.spec.ts
  test/cmi/scorm2004/sequencing/time_limit_edge_cases.spec.ts
  test/cmi/scorm2004/sequencing/traversal/flow_traversal_service.spec.ts
  test/cmi/scorm2004/sequencing/utils/activity_tree_queries.spec.ts
  test/cmi/scorm2004/sequencing/validators/choice_constraint_validator.spec.ts
Due: core, cmi_scorm2004

refactor(sequencing): Extract components from OverallSequencingProcess god class
  src/cmi/scorm2004/sequencing/handlers/delivery_handler.ts
  src/cmi/scorm2004/sequencing/handlers/termination_handler.ts
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  src/cmi/scorm2004/sequencing/services/global_objective_service.ts
  src/cmi/scorm2004/sequencing/services/navigation_validity_service.ts
  src/cmi/scorm2004/sequencing/state/sequencing_state_manager.ts
  src/cmi/scorm2004/sequencing/validation/delivery_validator.ts
Due: core, cmi_scorm2004

[skip ci] Add changes during build
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm-again.min.js.map
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/scorm2004.min.js.map
  dist/types/cmi/scorm2004/sequencing/handlers/choice_request_handler.d.ts
  dist/types/cmi/scorm2004/sequencing/handlers/choice_request_handler.d.ts.map
  dist/types/cmi/scorm2004/sequencing/handlers/exit_request_handler.d.ts
  dist/types/cmi/scorm2004/sequencing/handlers/exit_request_handler.d.ts.map
  dist/types/cmi/scorm2004/sequencing/handlers/flow_request_handler.d.ts
  dist/types/cmi/scorm2004/sequencing/handlers/flow_request_handler.d.ts.map
  dist/types/cmi/scorm2004/sequencing/handlers/index.d.ts
  dist/types/cmi/scorm2004/sequencing/handlers/index.d.ts.map
  dist/types/cmi/scorm2004/sequencing/handlers/retry_request_handler.d.ts
  dist/types/cmi/scorm2004/sequencing/handlers/retry_request_handler.d.ts.map
  dist/types/cmi/scorm2004/sequencing/rules/rule_evaluation_engine.d.ts
  dist/types/cmi/scorm2004/sequencing/rules/rule_evaluation_engine.d.ts.map
  dist/types/cmi/scorm2004/sequencing/rules/sequencing_request_types.d.ts
  dist/types/cmi/scorm2004/sequencing/rules/sequencing_request_types.d.ts.map
  dist/types/cmi/scorm2004/sequencing/sequencing_process.d.ts
  dist/types/cmi/scorm2004/sequencing/sequencing_process.d.ts.map
  dist/types/cmi/scorm2004/sequencing/sequencing_rules.d.ts
  dist/types/cmi/scorm2004/sequencing/sequencing_rules.d.ts.map
  dist/types/cmi/scorm2004/sequencing/traversal/flow_traversal_service.d.ts
  dist/types/cmi/scorm2004/sequencing/traversal/flow_traversal_service.d.ts.map
  dist/types/cmi/scorm2004/sequencing/utils/activity_tree_queries.d.ts
  dist/types/cmi/scorm2004/sequencing/utils/activity_tree_queries.d.ts.map
  dist/types/cmi/scorm2004/sequencing/validators/choice_constraint_validator.d.ts
  dist/types/cmi/scorm2004/sequencing/validators/choice_constraint_validator.d.ts.map
Due: none

fix: Remove unused initial values for conditionsMet variables
  src/cmi/scorm2004/sequencing/handlers/termination_handler.ts
Due: core, cmi_scorm2004

refactor(sequencing): Extract components from OverallSequencingProcess god class (#1318)
  src/cmi/scorm2004/sequencing/handlers/delivery_handler.ts
  src/cmi/scorm2004/sequencing/handlers/termination_handler.ts
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  src/cmi/scorm2004/sequencing/services/global_objective_service.ts
  src/cmi/scorm2004/sequencing/services/navigation_validity_service.ts
  src/cmi/scorm2004/sequencing/state/sequencing_state_manager.ts
  src/cmi/scorm2004/sequencing/validation/delivery_validator.ts
Due: core, cmi_scorm2004

refactor(Scorm2004API): Extract 7 classes to reduce god class complexity
  src/Scorm2004API.ts
  src/configuration/activity_tree_builder.ts
  src/configuration/sequencing_configuration_builder.ts
  src/handlers/scorm2004/cmi_handler.ts
  src/handlers/scorm2004/response_validator.ts
  src/objectives/global_objective_manager.ts
  src/persistence/sequencing_state_persistence.ts
  src/serialization/scorm2004_data_serializer.ts
Due: core, scorm2004

[skip ci] Add changes during build
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm-again.min.js.map
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/scorm2004.min.js.map
  dist/types/cmi/scorm2004/sequencing/handlers/delivery_handler.d.ts
  dist/types/cmi/scorm2004/sequencing/handlers/delivery_handler.d.ts.map
  dist/types/cmi/scorm2004/sequencing/handlers/termination_handler.d.ts
  dist/types/cmi/scorm2004/sequencing/handlers/termination_handler.d.ts.map
  dist/types/cmi/scorm2004/sequencing/overall_sequencing_process.d.ts
  dist/types/cmi/scorm2004/sequencing/overall_sequencing_process.d.ts.map
  dist/types/cmi/scorm2004/sequencing/services/global_objective_service.d.ts
  dist/types/cmi/scorm2004/sequencing/services/global_objective_service.d.ts.map
  dist/types/cmi/scorm2004/sequencing/services/navigation_validity_service.d.ts
  dist/types/cmi/scorm2004/sequencing/services/navigation_validity_service.d.ts.map
  dist/types/cmi/scorm2004/sequencing/state/sequencing_state_manager.d.ts
  dist/types/cmi/scorm2004/sequencing/state/sequencing_state_manager.d.ts.map
  dist/types/cmi/scorm2004/sequencing/validation/delivery_validator.d.ts
  dist/types/cmi/scorm2004/sequencing/validation/delivery_validator.d.ts.map
Due: none

fix: Address TypeScript type safety issues from code review
  src/Scorm2004API.ts
  src/handlers/scorm2004/cmi_handler.ts
  src/handlers/scorm2004/response_validator.ts
  src/objectives/global_objective_manager.ts
  src/serialization/scorm2004_data_serializer.ts
Due: core, scorm2004

fix: Address PR review feedback - use getSettings() getter pattern
  src/Scorm2004API.ts
  src/objectives/global_objective_manager.ts
  src/persistence/sequencing_state_persistence.ts
Due: core, scorm2004

refactor(Scorm2004API): Extract 7 classes to reduce god class complexity (#1319)
  src/Scorm2004API.ts
  src/configuration/activity_tree_builder.ts
  src/configuration/sequencing_configuration_builder.ts
  src/handlers/scorm2004/cmi_handler.ts
  src/handlers/scorm2004/response_validator.ts
  src/objectives/global_objective_manager.ts
  src/persistence/sequencing_state_persistence.ts
  src/serialization/scorm2004_data_serializer.ts
Due: core, scorm2004

refactor(sequencing): Extract focused classes from Activity god class
  src/cmi/scorm2004/sequencing/activity.ts
  src/cmi/scorm2004/sequencing/activity_objective.ts
  src/cmi/scorm2004/sequencing/duration/activity_duration_tracker.ts
  src/cmi/scorm2004/sequencing/objectives/activity_objective_manager.ts
  src/cmi/scorm2004/sequencing/rollup/activity_rollup_status.ts
Due: core, cmi_scorm2004

fix(sequencing): Remove orphan duration fields causing state persistence bug
  src/cmi/scorm2004/sequencing/duration/activity_duration_tracker.ts
Due: core, cmi_scorm2004

refactor(sequencing): Extract specialized processors from RollupProcess god class
  src/cmi/scorm2004/sequencing/objectives/global_objective_synchronizer.ts
  src/cmi/scorm2004/sequencing/objectives/index.ts
  src/cmi/scorm2004/sequencing/rollup/cross_cluster_processor.ts
  src/cmi/scorm2004/sequencing/rollup/duration_rollup.ts
  src/cmi/scorm2004/sequencing/rollup/index.ts
  src/cmi/scorm2004/sequencing/rollup/measure_rollup.ts
  src/cmi/scorm2004/sequencing/rollup/objective_rollup.ts
  src/cmi/scorm2004/sequencing/rollup/progress_rollup.ts
  src/cmi/scorm2004/sequencing/rollup/rollup_child_filter.ts
  src/cmi/scorm2004/sequencing/rollup/rollup_rule_evaluator.ts
  src/cmi/scorm2004/sequencing/rollup_process.ts
  src/cmi/scorm2004/sequencing/validation/index.ts
  src/cmi/scorm2004/sequencing/validation/rollup_state_validator.ts
Due: core, cmi_scorm2004

fix(rollup): Address PR review comments
  src/cmi/scorm2004/sequencing/objectives/global_objective_synchronizer.ts
  src/cmi/scorm2004/sequencing/rollup/cross_cluster_processor.ts
  src/cmi/scorm2004/sequencing/rollup/objective_rollup.ts
  src/cmi/scorm2004/sequencing/rollup/rollup_child_filter.ts
  src/cmi/scorm2004/sequencing/validation/rollup_state_validator.ts
Due: core, cmi_scorm2004

refactor(sequencing): Extract specialized processors from RollupProcess god class (#1321)
  src/cmi/scorm2004/sequencing/objectives/global_objective_synchronizer.ts
  src/cmi/scorm2004/sequencing/objectives/index.ts
  src/cmi/scorm2004/sequencing/rollup/cross_cluster_processor.ts
  src/cmi/scorm2004/sequencing/rollup/duration_rollup.ts
  src/cmi/scorm2004/sequencing/rollup/index.ts
  src/cmi/scorm2004/sequencing/rollup/measure_rollup.ts
  src/cmi/scorm2004/sequencing/rollup/objective_rollup.ts
  src/cmi/scorm2004/sequencing/rollup/progress_rollup.ts
  src/cmi/scorm2004/sequencing/rollup/rollup_child_filter.ts
  src/cmi/scorm2004/sequencing/rollup/rollup_rule_evaluator.ts
  src/cmi/scorm2004/sequencing/rollup_process.ts
  src/cmi/scorm2004/sequencing/validation/index.ts
  src/cmi/scorm2004/sequencing/validation/rollup_state_validator.ts
Due: core, cmi_scorm2004

refactor: Extract CMIValueAccessService and RteDataTransferService from god classes
  src/BaseAPI.ts
  src/Scorm2004API.ts
  src/cmi/scorm2004/sequencing/handlers/rte_data_transfer.ts
  src/cmi/scorm2004/sequencing/handlers/termination_handler.ts
  src/services/CMIValueAccessService.ts
  src/services/index.ts
  test/api/Scorm2004API.additional.spec.ts
  test/api/Scorm2004API.spec.ts
Due: core, cmi_scorm2004, services, scorm2004

fix: Address code review issues from extracted services
  src/BaseAPI.ts
  src/Scorm2004API.ts
  src/cmi/scorm2004/sequencing/handlers/rte_data_transfer.ts
  src/services/CMIValueAccessService.ts
  test/api/BaseAPI.spec.ts
  test/api/Scorm2004API.additional.spec.ts
  test/api/Scorm2004API.spec.ts
Due: core, cmi_scorm2004, services, scorm2004

refactor: Extract CMIValueAccessService and RteDataTransferService from god classes (#1323)
  src/BaseAPI.ts
  src/Scorm2004API.ts
  src/cmi/scorm2004/sequencing/handlers/rte_data_transfer.ts
  src/cmi/scorm2004/sequencing/handlers/termination_handler.ts
  src/services/CMIValueAccessService.ts
  src/services/index.ts
  test/api/BaseAPI.spec.ts
  test/api/Scorm2004API.additional.spec.ts
  test/api/Scorm2004API.spec.ts
Due: core, cmi_scorm2004, services, scorm2004

[skip ci] Add changes during build
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm-again.min.js.map
  dist/scorm12.js
  dist/scorm12.js.map
  dist/scorm12.min.js
  dist/scorm12.min.js.map
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/scorm2004.min.js.map
  dist/types/BaseAPI.d.ts
  dist/types/BaseAPI.d.ts.map
  dist/types/Scorm2004API.d.ts
  dist/types/Scorm2004API.d.ts.map
  dist/types/cmi/scorm2004/sequencing/handlers/rte_data_transfer.d.ts
  dist/types/cmi/scorm2004/sequencing/handlers/rte_data_transfer.d.ts.map
  dist/types/cmi/scorm2004/sequencing/handlers/termination_handler.d.ts
  dist/types/cmi/scorm2004/sequencing/handlers/termination_handler.d.ts.map
  dist/types/services/CMIValueAccessService.d.ts
  dist/types/services/CMIValueAccessService.d.ts.map
  dist/types/services/index.d.ts
  dist/types/services/index.d.ts.map
Due: none

test: Add comprehensive tests for sequencing validation components
  test/cmi/scorm2004/sequencing/objectives/global_objective_synchronizer.spec.ts
  test/cmi/scorm2004/sequencing/validation/delivery_validator.spec.ts
  test/cmi/scorm2004/sequencing/validators/choice_constraint_validator.spec.ts
Due: none

test(rollup_rule_evaluator): Add comprehensive test suite for RollupRuleEvaluator
  test/cmi/scorm2004/sequencing/rollup/rollup_rule_evaluator.spec.ts
Due: none

test(rollup_child_filter): Add comprehensive test suite for RollupChildFilter
  test/cmi/scorm2004/sequencing/rollup/rollup_child_filter.spec.ts
Due: none
