Repository jcputney/scorm-again: changes, and which Codecov flags are due for each by the changed paths.
All: core, cmi_common, cmi_aicc, cmi_scorm12, cmi_scorm2004, services, aicc, scorm12, scorm2004, cross_frame_lms, cross_frame_api

codecov.yaml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: core
      name: core
      paths:
        - src/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
        - type: patch
    - component_id: cmi_common
      name: cmi_common
      paths:
        - src/cmi/common/**
    - component_id: cmi_aicc
      name: cmi_aicc
      paths:
        - src/cmi/aicc/**
    - component_id: cmi_scorm12
      name: cmi_scorm12
      paths:
        - src/cmi/scorm12/**
    - component_id: cmi_scorm2004
      name: cmi_scorm2004
      paths:
        - src/cmi/scorm2004/**
    - component_id: services
      name: services
      paths:
        - src/services/**
    - component_id: aicc
      paths:
        - src/AICC.ts
    - component_id: scorm12
      paths:
        - src/Scorm12API.ts
    - component_id: scorm2004
      paths:
        - src/Scorm2004API.ts
    - component_id: cross_frame_lms
      paths:
        - src/CrossFrameLMS.ts
    - component_id: cross_frame_api
      paths:
        - src/CrossFrameAPI.ts

fix(sequencing): restore isActivityDisabled check in choice navigation
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
Due: core, cmi_scorm2004

fix(types): add missing progressStatus to ActivityObjectiveState snapshots
  src/cmi/scorm2004/sequencing/activity.ts
Due: core, cmi_scorm2004

feat(objective): add dirty flag tracking for sync optimization
  src/cmi/scorm2004/sequencing/activity.ts
Due: core, cmi_scorm2004

fix(objective): clear dirty flags on reset, set on updateFromActivity
  src/cmi/scorm2004/sequencing/activity.ts
Due: core, cmi_scorm2004

feat(activity): add dirty flag tracking for objective properties
  src/cmi/scorm2004/sequencing/activity.ts
Due: core, cmi_scorm2004

fix(activity): correct dirty flag tracking edge cases
  src/cmi/scorm2004/sequencing/activity.ts
Due: core, cmi_scorm2004

fix(rollup): only write to global objectives when dirty flag is set
  src/cmi/scorm2004/sequencing/rollup_process.ts
Due: core, cmi_scorm2004

fix(rollup): clear satisfiedStatus dirty flag when derived from measure
  src/cmi/scorm2004/sequencing/rollup_process.ts
Due: core, cmi_scorm2004

docs(rollup): clarify derived satisfaction dirty flag clearing
  src/cmi/scorm2004/sequencing/rollup_process.ts
Due: core, cmi_scorm2004

feat(objective): ensure initial CMI values are marked dirty for global sync
  src/cmi/scorm2004/sequencing/activity.ts
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  test/cmi/scorm2004/sequencing/rte_data_transfer.spec.ts
Due: core, cmi_scorm2004

fix(objective): add documentation and test coverage for measureStatus
  src/cmi/scorm2004/sequencing/activity.ts
  test/cmi/scorm2004/sequencing/rte_data_transfer.spec.ts
Due: core, cmi_scorm2004

test(objective): update bidirectional sync tests for dirty flag tracking
  test/cmi/scorm2004/sequencing/objective_mapping.spec.ts
Due: none

test(objective): add comprehensive dirty flag tracking tests
  test/cmi/scorm2004/sequencing/objective_dirty_tracking.spec.ts
Due: none

security: eliminate Function() constructor code injection vulnerability
  REVIEW_PLAN.md
  docs/REVIEW_HANDOFF.md
  docs/review-results/BASEAPI-SUMMARY.md
  docs/review-results/FINAL-REVIEW-REPORT.md
  docs/review-results/WAVE1-CORE-APIS-SUMMARY.md
  docs/review-results/WAVE2-SEQUENCING-SUMMARY.md
  docs/review-results/WAVE3-SCORM2004-CMI-SUMMARY.md
  docs/review-results/WAVE4-SCORM12-CMI-SUMMARY.md
  docs/review-results/WAVE5-SERVICES-SUMMARY.md
  docs/review-results/WAVE6-UTILS-SUMMARY.md
  docs/review-results/WAVE7-TYPES-SUMMARY.md
  docs/review-results/WAVE8-CROSS-CUTTING-SUMMARY.md
  src/Scorm2004API.ts
  src/utilities.ts
  test/api/Scorm2004API.additional.spec.ts
  test/utils/utilities.spec.ts
Due: core, scorm2004

refactor: remove debug console.log statements from production code
  src/BaseAPI.ts
  src/cmi/scorm2004/adl.ts
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
Due: core, cmi_scorm2004

fix(sequencing): remove broken async storage check in resource validation
  docs/review-results/SEC-001-REVIEW.md
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
Due: core, cmi_scorm2004

fix(sequencing): add full ISO 8601 duration support for date components
  src/cmi/scorm2004/sequencing/sequencing_rules.ts
  src/utilities.ts
  test/cmi/scorm2004/sequencing/parse_iso8601_duration.spec.ts
Due: core, cmi_scorm2004

fix(sequencing): add infinite loop safeguards to backward traversal
  src/cmi/scorm2004/sequencing/sequencing_process.ts
  test/cmi/scorm2004/sequencing/backward_traversal_safeguards.spec.ts
Due: core, cmi_scorm2004

fix(sequencing): add setCurrentActivityWithoutActivation method
  src/cmi/scorm2004/sequencing/activity_tree.ts
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  test/cmi/scorm2004/sequencing/exit_parent_state_consistency.spec.ts
Due: core, cmi_scorm2004

security(crossframe): add console warnings for wildcard origin usage
  src/CrossFrameAPI.ts
  src/CrossFrameLMS.ts
  test/facades/CrossFrameFacade.spec.ts
Due: core, cross_frame_lms, cross_frame_api
