Repository jcputney/scorm-again: changes, and which Codecov flags are due for each by the changed paths.
All: core, cmi_common, cmi_aicc, cmi_scorm12, cmi_scorm2004, services, aicc, scorm12, scorm2004, cross_frame_lms, cross_frame_api

fix: rebuild activity map on reset
  src/cmi/scorm2004/sequencing/activity_tree.ts
  test/cmi/scorm2004/sequencing/activity_tree.spec.ts
Due: core, cmi_scorm2004

fix: rebuild activity map on reset (#976)
  src/cmi/scorm2004/sequencing/activity_tree.ts
  test/cmi/scorm2004/sequencing/activity_tree.spec.ts
Due: core, cmi_scorm2004

[skip ci] Add changes during build
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
Due: none

fix(activity-tree): clear map when changing root
  src/cmi/scorm2004/sequencing/activity_tree.ts
  test/cmi/scorm2004/sequencing/activity_tree.spec.ts
Due: core, cmi_scorm2004

fix(activity-tree): clear map when changing root (#977)
  src/cmi/scorm2004/sequencing/activity_tree.ts
  test/cmi/scorm2004/sequencing/activity_tree.spec.ts
Due: core, cmi_scorm2004

Fix sequencing link on ADLNav reset
  src/cmi/scorm2004/adl.ts
  test/cmi/scorm2004_adl.spec.ts
Due: core, cmi_scorm2004

Fix sequencing link on ADLNav reset (#978)
  src/cmi/scorm2004/adl.ts
  test/cmi/scorm2004_adl.spec.ts
Due: core, cmi_scorm2004

fix(aicc): allow hyphens and periods in identifiers
  src/constants/regex.ts
  test/cmi/aicc_cmi.spec.ts
Due: core

fix(aicc): allow hyphens and periods in identifiers (#979)
  src/constants/regex.ts
  test/cmi/aicc_cmi.spec.ts
Due: core

[skip ci] Add changes during build
  dist/esm/aicc.js
  dist/esm/aicc.js.map
  dist/esm/aicc.min.js
  dist/esm/aicc.min.js.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js.map
Due: none

Fixing some strict type safety issues
  src/cmi/aicc/attempts.ts
  src/cmi/aicc/evaluation.ts
  src/cmi/aicc/tries.ts
  src/cmi/aicc/validation.ts
  src/cmi/common/array.ts
  src/cmi/scorm12/objectives.ts
  src/cmi/scorm2004/score.ts
  src/cmi/scorm2004/validation.ts
  src/exceptions/scorm12_exceptions.ts
  src/exceptions/scorm2004_exceptions.ts
  tsconfig.json
Due: core, cmi_common, cmi_aicc, cmi_scorm12, cmi_scorm2004

[skip ci] Add changes during build
  dist/esm/aicc.js
  dist/esm/aicc.js.map
  dist/esm/aicc.min.js
  dist/esm/aicc.min.js.map
  dist/esm/cross-frame-api.js
  dist/esm/cross-frame-api.js.map
  dist/esm/cross-frame-api.min.js
  dist/esm/cross-frame-api.min.js.map
  dist/esm/cross-frame-lms.js
  dist/esm/cross-frame-lms.js.map
  dist/esm/cross-frame-lms.min.js
  dist/esm/cross-frame-lms.min.js.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  src/BaseAPI.ts
  src/Scorm12API.ts
  src/Scorm2004API.ts
Due: core, scorm12, scorm2004

Version bump
  package.json
Due: none

Build update
  dist/esm/aicc.js
  dist/esm/aicc.js.map
  dist/esm/aicc.min.js
  dist/esm/aicc.min.js.map
  dist/esm/cross-frame-api.js
  dist/esm/cross-frame-api.js.map
  dist/esm/cross-frame-api.min.js
  dist/esm/cross-frame-api.min.js.map
  dist/esm/cross-frame-lms.js
  dist/esm/cross-frame-lms.js.map
  dist/esm/cross-frame-lms.min.js
  dist/esm/cross-frame-lms.min.js.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
Due: none

Updates
  package-lock.json
  package.json
Due: none

eslint plugin update
  package-lock.json
  package.json
Due: none

[skip ci] Add changes during build
  dist/esm/aicc.js
  dist/esm/aicc.js.map
  dist/esm/aicc.min.js
  dist/esm/aicc.min.js.map
  dist/esm/cross-frame-api.js
  dist/esm/cross-frame-api.js.map
  dist/esm/cross-frame-api.min.js
  dist/esm/cross-frame-api.min.js.map
  dist/esm/cross-frame-lms.js
  dist/esm/cross-frame-lms.js.map
  dist/esm/cross-frame-lms.min.js
  dist/esm/cross-frame-lms.min.js.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
Due: none

Improve test coverage across key components
  src/cmi/scorm2004/sequencing/sequencing_process.ts
  src/services/ActivityDeliveryService.ts
  test/api/BaseAPI.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_process.spec.ts
  test/services/ActivityDeliveryService.spec.ts
Due: core, cmi_scorm2004, services

Improve test coverage for CrossFrameAPI, exceptions, and Scorm2004API
  test/api/Scorm2004API.additional.spec.ts
  test/facades/CrossFrameFacade.spec.ts
  test/utils/exceptions.spec.ts
Due: none

Enhance SCORM 2004 sequencing tests and documentation
  CLAUDE.md
  README.md
  docs/sequencing_configuration.md
  src/cmi/scorm2004/adl.ts
  src/cmi/scorm2004/sequencing/activity.ts
  src/cmi/scorm2004/sequencing/sequencing.ts
  src/cmi/scorm2004/sequencing/sequencing_controls.ts
  src/cmi/scorm2004/sequencing/sequencing_rules.ts
  src/constants/regex.ts
  test/api/Scorm2004API.additional.spec.ts
  test/cmi/scorm2004/sequencing/sequencing.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_additional.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_additional_new.spec.ts
Due: core, cmi_scorm2004

Updated dist build
  dist/aicc.js
  dist/aicc.min.js
  dist/esm/aicc.js
  dist/esm/aicc.js.map
  dist/esm/aicc.min.js
  dist/esm/aicc.min.js.map
  dist/esm/cross-frame-api.js
  dist/esm/cross-frame-api.js.map
  dist/esm/cross-frame-api.min.js
  dist/esm/cross-frame-api.min.js.map
  dist/esm/cross-frame-lms.js
  dist/esm/cross-frame-lms.js.map
  dist/esm/cross-frame-lms.min.js
  dist/esm/cross-frame-lms.min.js.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.min.js
  dist/scorm12.js
  dist/scorm12.min.js
  dist/scorm2004.js
  dist/scorm2004.min.js
  dist/types/cmi/scorm2004/sequencing/activity.d.ts
  dist/types/cmi/scorm2004/sequencing/sequencing.d.ts
  dist/types/cmi/scorm2004/sequencing/sequencing_controls.d.ts
  dist/types/cmi/scorm2004/sequencing/sequencing_process.d.ts
  dist/types/cmi/scorm2004/sequencing/sequencing_rules.d.ts
  dist/types/services/ActivityDeliveryService.d.ts
Due: none

Dependency updates
  package-lock.json
  package.json
Due: none

Fixing a vulnerable dev dependency
  package-lock.json
Due: none

[skip ci] Add changes during build
  dist/esm/aicc.js
  dist/esm/aicc.js.map
  dist/esm/aicc.min.js
  dist/esm/aicc.min.js.map
  dist/esm/cross-frame-api.js
  dist/esm/cross-frame-api.js.map
  dist/esm/cross-frame-api.min.js
  dist/esm/cross-frame-api.min.js.map
  dist/esm/cross-frame-lms.js
  dist/esm/cross-frame-lms.js.map
  dist/esm/cross-frame-lms.min.js
  dist/esm/cross-frame-lms.min.js.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  src/constants/regex.ts
  test/api/BaseAPI.spec.ts
  test/api/Scorm2004API.additional.spec.ts
  test/facades/CrossFrameFacade.spec.ts
  test/services/ActivityDeliveryService.spec.ts
  test/utils/exceptions.spec.ts
Due: core

Major progress on SCORM 2004 sequencing implementation
  CLAUDE.md
  docs/api_usage/examples/offline/codepen_demos/complete_demo/index.html
  docs/api_usage/examples/offline/codepen_demos/complete_demo/style.css
  docs/api_usage/examples/offline/exit_action_rules_demo.html
  docs/api_usage/examples/offline/index.html
  docs/api_usage/examples/offline/interactive_demo.html
  docs/api_usage/examples/offline/post_condition_rules_demo.html
  docs/api_usage/examples/offline/quick_start_templates.md
  docs/api_usage/examples/offline/selection_randomization_demo.html
  docs/api_usage/examples/offline/troubleshooting.md
  docs/scorm2004_sequencing_pseudo_code_diagram.pdf
  docs/scorm2004_sequencing_pseudo_code_diagram.png
  docs/scorm2004_sequencing_pseudo_code_diagram.txt
  src/cmi/scorm2004/sequencing/activity.ts
  src/cmi/scorm2004/sequencing/activity_tree.ts
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  src/cmi/scorm2004/sequencing/rollup_process.ts
  src/cmi/scorm2004/sequencing/rollup_rules.ts
  src/cmi/scorm2004/sequencing/selection_randomization.ts
  src/cmi/scorm2004/sequencing/sequencing_controls.ts
  src/cmi/scorm2004/sequencing/sequencing_process.ts
  test/cmi/scorm2004/sequencing/delivery_request_process.spec.ts
  test/cmi/scorm2004/sequencing/exit_action_rules.spec.ts
  test/cmi/scorm2004/sequencing/flow_processes.spec.ts
  test/cmi/scorm2004/sequencing/limit_conditions_check.spec.ts
  test/cmi/scorm2004/sequencing/navigation_request_process.spec.ts
  test/cmi/scorm2004/sequencing/objective_rollup_using_measure.spec.ts
  test/cmi/scorm2004/sequencing/overall_sequencing_process.spec.ts
  test/cmi/scorm2004/sequencing/post_condition_rules.spec.ts
  test/cmi/scorm2004/sequencing/rollup_processes.spec.ts
  test/cmi/scorm2004/sequencing/selection_randomization.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_controls.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_requests.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_rules_check.spec.ts
  test/cmi/scorm2004/sequencing/termination_request_process.spec.ts
Due: core, cmi_scorm2004

Fixing log level
  dist/aicc.js
  dist/aicc.js.map
  dist/aicc.min.js
  dist/aicc.min.js.map
  dist/esm/aicc.js
  dist/esm/aicc.js.map
  dist/esm/aicc.min.js
  dist/esm/aicc.min.js.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm-again.min.js.map
  dist/scorm12.js
  dist/scorm12.js.map
  dist/scorm12.min.js
  dist/scorm12.min.js.map
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/scorm2004.min.js.map
  src/BaseAPI.ts
  test/api/BaseAPI.spec.ts
Due: core

Trying to fix logging
  dist/aicc.js
  dist/aicc.js.map
  dist/aicc.min.js
  dist/aicc.min.js.map
  dist/esm/aicc.js
  dist/esm/aicc.js.map
  dist/esm/aicc.min.js
  dist/esm/aicc.min.js.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm-again.min.js.map
  dist/scorm12.js
  dist/scorm12.js.map
  dist/scorm12.min.js
  dist/scorm12.min.js.map
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/scorm2004.min.js.map
  src/BaseAPI.ts
Due: core

[skip ci] Add changes during build
  src/BaseAPI.ts
Due: core

Updates
  .github/workflows/main.yml
  package-lock.json
  package.json
Due: none

[skip ci] Add changes during build
  dist/esm/aicc.js.map
  dist/esm/aicc.min.js.map
  dist/esm/cross-frame-api.js.map
  dist/esm/cross-frame-api.min.js.map
  dist/esm/cross-frame-lms.js.map
  dist/esm/cross-frame-lms.min.js.map
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js.map
Due: none

Enhanced type safety for SCORM 2004 properties 'choice' and 'jump'.
  src/cmi/scorm2004/adl.ts
  src/cmi/scorm2004/cmi.ts
Due: core, cmi_scorm2004

Add unit tests for `BaseAPI` requestHandler functionality
  src/BaseAPI.ts
  test/BaseAPI.requestHandler.spec.ts
Due: core

Version bump to 2.6.5
  package.json
Due: none

Path conditions:
  core: any of: src/**
  cmi_common: any of: src/cmi/common/**
  cmi_aicc: any of: src/cmi/aicc/**
  cmi_scorm12: any of: src/cmi/scorm12/**
  cmi_scorm2004: any of: src/cmi/scorm2004/**
  services: any of: src/services/**
  aicc: any of: src/AICC.ts
  scorm12: any of: src/Scorm12API.ts
  scorm2004: any of: src/Scorm2004API.ts
  cross_frame_lms: any of: src/CrossFrameLMS.ts
  cross_frame_api: any of: src/CrossFrameAPI.ts
