Repository jcputney/scorm-again: changes, and which Codecov flags are due for each by the changed paths.
All: core, cmi_common, cmi_aicc, cmi_scorm12, cmi_scorm2004, services, aicc, scorm12, scorm2004, cross_frame_lms, cross_frame_api

[skip ci] Add changes during build
  dist/types/esm/CrossFrameAPI.esm.d.ts
  dist/types/esm/CrossFrameAPI.esm.d.ts.map
  dist/types/esm/CrossFrameLMS.esm.d.ts
  dist/types/esm/CrossFrameLMS.esm.d.ts.map
  dist/types/esm/Scorm12API.esm.d.ts
  dist/types/esm/Scorm12API.esm.d.ts.map
  dist/types/esm/Scorm2004API.esm.d.ts
  dist/types/esm/Scorm2004API.esm.d.ts.map
Due: none

fix: point require export conditions at a CommonJS build (#1717)
  .github/workflows/main.yml
  package.json
  rollup.config.js
  scripts/package-smoke.mjs
Due: none

fix: add .js extensions to relative imports in type declarations
  index.d.ts
  package.json
  scripts/fix-dts-extensions.mjs
Due: none

fix: resolve dist/types relative to the script, not the cwd
  scripts/fix-dts-extensions.mjs
Due: none

fix: keep default imports and root require globals working
  rollup.config.js
  scripts/package-smoke.mjs
  src/cjs/ScormAgain.cjs.ts
  src/esm/CrossFrameAPI.esm.ts
  src/esm/CrossFrameLMS.esm.ts
  src/esm/Scorm12API.esm.ts
  src/esm/Scorm2004API.esm.ts
Due: core

[skip ci] Add changes during build
  dist/cjs/cross-frame-api.cjs
  dist/cjs/cross-frame-api.cjs.map
  dist/cjs/cross-frame-api.min.cjs
  dist/cjs/cross-frame-api.min.cjs.map
  dist/cjs/cross-frame-lms.cjs
  dist/cjs/cross-frame-lms.cjs.map
  dist/cjs/cross-frame-lms.min.cjs
  dist/cjs/cross-frame-lms.min.cjs.map
  dist/cjs/scorm-again.cjs
  dist/cjs/scorm-again.cjs.map
  dist/cjs/scorm-again.min.cjs
  dist/cjs/scorm-again.min.cjs.map
  dist/cjs/scorm12.cjs
  dist/cjs/scorm12.cjs.map
  dist/cjs/scorm12.min.cjs
  dist/cjs/scorm12.min.cjs.map
  dist/cjs/scorm2004.cjs
  dist/cjs/scorm2004.cjs.map
  dist/cjs/scorm2004.min.cjs
  dist/cjs/scorm2004.min.cjs.map
Due: none

fix: rewrite side-effect imports in type declarations too
  scripts/fix-dts-extensions.mjs
Due: none

fix: working types under nodenext, subpath default exports, root require globals (#1718)
  index.d.ts
  package.json
  rollup.config.js
  scripts/fix-dts-extensions.mjs
  scripts/package-smoke.mjs
  src/cjs/ScormAgain.cjs.ts
  src/esm/CrossFrameAPI.esm.ts
  src/esm/CrossFrameLMS.esm.ts
  src/esm/Scorm12API.esm.ts
  src/esm/Scorm2004API.esm.ts
Due: core

[skip ci] Bump version to 3.4.5
  package-lock.json
  package.json
Due: none

chore(deps): drop dev packages that pull in vulnerable braces
  package-lock.json
  package.json
  rollup.config.js
  scripts/check-es5.mjs
Due: none

chore(deps): drop dev packages that pull in vulnerable braces (#1724)
  package-lock.json
  package.json
  rollup.config.js
  scripts/check-es5.mjs
Due: none

fix: load flattened list items with index 10 and above in order
  src/services/SerializationService.ts
  test/api/Scorm12API.spec.ts
  test/api/Scorm2004API.spec.ts
Due: core, services

fix: load flattened list items with index 10 and above in order (#1723)
  src/services/SerializationService.ts
  test/api/Scorm12API.spec.ts
  test/api/Scorm2004API.spec.ts
Due: core, services

[skip ci] Add changes during build
  dist/cjs/scorm-again.cjs
  dist/cjs/scorm-again.cjs.map
  dist/cjs/scorm-again.min.cjs
  dist/cjs/scorm-again.min.cjs.map
  dist/cjs/scorm12.cjs
  dist/cjs/scorm12.cjs.map
  dist/cjs/scorm12.min.cjs
  dist/cjs/scorm12.min.cjs.map
  dist/cjs/scorm2004.cjs
  dist/cjs/scorm2004.cjs.map
  dist/cjs/scorm2004.min.cjs
  dist/cjs/scorm2004.min.cjs.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm12.js
  dist/scorm12.js.map
  dist/scorm12.min.js
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
Due: none

[skip ci] Bump version to 3.4.6
  package-lock.json
  package.json
Due: none

chore(deps-dev): update dev dependencies
  package-lock.json
  package.json
Due: none

chore(deps-dev): update dev dependencies (#1730)
  package-lock.json
  package.json
Due: none

ci: report npm audit on PRs without failing them
  .github/workflows/main.yml
Due: none

test: cover CrossFrameLMS origin rejection; allow 0.1% coverage jitter
  codecov.yaml
  test/facades/CrossFrameFacade.spec.ts
Due: none

ci: report npm audit on PRs without failing them (#1731)
  .github/workflows/main.yml
Due: none

test: cover CrossFrameLMS origin rejection; allow 0.1% coverage jitter (#1732)
  codecov.yaml
  test/facades/CrossFrameFacade.spec.ts
Due: none

fix(scorm2004): redeliver a resumed attempt of the same activity
  src/cmi/scorm2004/sequencing/delivery_generation.ts
  src/cmi/scorm2004/sequencing/handlers/delivery_handler.ts
  src/services/ActivityDeliveryService.ts
  test/api/ResumedRedelivery.spec.ts
  test/services/ActivityDeliveryService.spec.ts
Due: core, cmi_scorm2004, services

fix(scorm2004): redeliver a resumed attempt of the same activity (#1733)
  src/cmi/scorm2004/sequencing/delivery_generation.ts
  src/cmi/scorm2004/sequencing/handlers/delivery_handler.ts
  src/services/ActivityDeliveryService.ts
  test/api/ResumedRedelivery.spec.ts
  test/services/ActivityDeliveryService.spec.ts
Due: core, cmi_scorm2004, services

[skip ci] Add changes during build
  dist/cjs/scorm-again.cjs
  dist/cjs/scorm-again.cjs.map
  dist/cjs/scorm-again.min.cjs
  dist/cjs/scorm-again.min.cjs.map
  dist/cjs/scorm2004.cjs
  dist/cjs/scorm2004.cjs.map
  dist/cjs/scorm2004.min.cjs
  dist/cjs/scorm2004.min.cjs.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm12.js
  dist/scorm12.js.map
  dist/scorm12.min.js
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/types/cmi/scorm2004/sequencing/delivery_generation.d.ts
  dist/types/cmi/scorm2004/sequencing/delivery_generation.d.ts.map
  dist/types/cmi/scorm2004/sequencing/handlers/delivery_handler.d.ts.map
  dist/types/services/ActivityDeliveryService.d.ts
  dist/types/services/ActivityDeliveryService.d.ts.map
Due: none

[skip ci] Bump version to 3.4.7
  package-lock.json
  package.json
Due: none

chore: add a CodeRabbit review config
  .coderabbit.yaml
Due: none

chore: stop exempting ES2015+ built-ins from IE11 review
  .coderabbit.yaml
Due: none

chore: add a CodeRabbit review config (#1734)
  .coderabbit.yaml
Due: none

fix: fall back when navigator.sendBeacon is missing
  README.md
  docs-site/docs/getting-started/installation.md
  docs-site/docs/getting-started/introduction.md
  src/services/AsynchronousHttpService.ts
  src/services/SynchronousHttpService.ts
  test/services/AsynchronousHttpService.spec.ts
  test/services/SynchronousHttpService.spec.ts
Due: core, services

docs: warn that async commits can lose the IE11 termination commit
  docs-site/docs/getting-started/installation.md
Due: none

fix: fall back when navigator.sendBeacon is missing (#1735)
  README.md
  docs-site/docs/getting-started/installation.md
  docs-site/docs/getting-started/introduction.md
  src/services/AsynchronousHttpService.ts
  src/services/SynchronousHttpService.ts
  test/services/AsynchronousHttpService.spec.ts
  test/services/SynchronousHttpService.spec.ts
Due: core, services

chore(deps): bump handlebars to 4.7.10 and drop Docusaurus mentions
  .github/dependabot.yml
  .github/workflows/main.yml
  docs-site/.vitepress/config.ts
  docs-site/.vitepress/theme/custom.css
  package-lock.json
Due: none

chore(deps): bump handlebars to 4.7.10 and drop Docusaurus mentions (#1736)
  .github/dependabot.yml
  .github/workflows/main.yml
  docs-site/.vitepress/config.ts
  docs-site/.vitepress/theme/custom.css
  package-lock.json
Due: none

[skip ci] Add changes during build
  dist/cjs/scorm-again.cjs
  dist/cjs/scorm-again.cjs.map
  dist/cjs/scorm-again.min.cjs
  dist/cjs/scorm-again.min.cjs.map
  dist/cjs/scorm12.cjs
  dist/cjs/scorm12.cjs.map
  dist/cjs/scorm12.min.cjs
  dist/cjs/scorm12.min.cjs.map
  dist/cjs/scorm2004.cjs
  dist/cjs/scorm2004.cjs.map
  dist/cjs/scorm2004.min.cjs
  dist/cjs/scorm2004.min.cjs.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm12.js
  dist/scorm12.js.map
  dist/scorm12.min.js
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/types/services/AsynchronousHttpService.d.ts
  dist/types/services/AsynchronousHttpService.d.ts.map
  dist/types/services/SynchronousHttpService.d.ts.map
Due: none

Path conditions:
  core: any of: src/**
  cmi_common: any of: src/cmi/common/**
  cmi_aicc: any of: src/cmi/aicc/**
  cmi_scorm12: any of: src/cmi/scorm12/**
  cmi_scorm2004: any of: src/cmi/scorm2004/**
  services: any of: src/services/**
  aicc: any of: src/AICC.ts
  scorm12: any of: src/Scorm12API.ts
  scorm2004: any of: src/Scorm2004API.ts
  cross_frame_lms: any of: src/CrossFrameLMS.ts
  cross_frame_api: any of: src/CrossFrameAPI.ts
