Repository jcputney/scorm-again: changes, and which Codecov flags are due for each by the changed paths.
All: core, cmi_common, cmi_aicc, cmi_scorm12, cmi_scorm2004, services, aicc, scorm12, scorm2004, cross_frame_lms, cross_frame_api

fix(cmi): add missing total_time field to SCORM 2004 CMI toJSON method
  src/Scorm2004API.ts
  src/cmi/scorm2004/cmi.ts
  test/cmi/scorm2004_cmi.spec.ts
Due: core, cmi_scorm2004, scorm2004

fix(adl): include exit, exitAll, abandon, abandonAll, and suspendAll in ADLNavRequestValid.toJSON()
  src/cmi/scorm2004/adl.ts
  test/cmi/scorm2004/adl.spec.ts
Due: core, cmi_scorm2004

fix(adl): complete toJSON type declaration with choice and jump properties
  src/cmi/scorm2004/adl.ts
  test/cmi/scorm2004/adl.spec.ts
Due: core, cmi_scorm2004

refactor(types): remove 'as any' assertions in Scorm2004API.ts
  src/Scorm2004API.ts
  src/types/api_types.ts
Due: core, scorm2004

fix(cmi): standardize reset() behavior across score and CMI classes
  src/cmi/common/score.ts
  src/cmi/scorm12/cmi.ts
  test/cmi/common/score_reset.spec.ts
  test/cmi/scorm12_cmi_reset.spec.ts
  test/cmi/scorm12_objectives_reset.spec.ts
Due: core, cmi_common, cmi_scorm12

fix(validation): address empty string and range validation edge cases
  src/cmi/common/validation.ts
  src/cmi/scorm12/validation.ts
  test/cmi/common/validation.spec.ts
  test/cmi/scorm12/validation.spec.ts
Due: core, cmi_common, cmi_scorm12

refactor(scorm12): replace 'as any' with 'as StringKeyMap' type assertions
  src/Scorm12API.ts
Due: core, scorm12

fix(services): address event and error handling edge cases
  src/services/ErrorHandlingService.ts
  src/services/EventService.ts
  test/services/ErrorHandlingService.spec.ts
  test/services/EventService.spec.ts
Due: core, services

fix(crossframe): improve heartbeat, rate limit events, and data validation
  src/CrossFrameAPI.ts
  src/CrossFrameLMS.ts
  test/facades/CrossFrameFacade.spec.ts
Due: core, cross_frame_lms, cross_frame_api

docs(services): add SCORM RTE and W3C specification references
  src/cmi/common/validation.ts
  src/services/SynchronousHttpService.ts
  src/services/ValidationService.ts
Due: core, cmi_common, services

docs(scorm2004): add SCORM 2004 RTE specification references
  src/cmi/scorm2004/adl.ts
  src/cmi/scorm2004/cmi.ts
  src/cmi/scorm2004/comments.ts
  src/cmi/scorm2004/interactions.ts
  src/cmi/scorm2004/objectives.ts
Due: core, cmi_scorm2004

docs: add SCORM clarification comments for interactions, nav, and objectives
  src/cmi/scorm12/interactions.ts
  src/cmi/scorm12/nav.ts
  src/cmi/scorm12/objectives.ts
Due: core, cmi_scorm12

docs(sequencing): add SCORM 2004 SN Book specification references
  src/Scorm12API.ts
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  src/cmi/scorm2004/sequencing/rollup_process.ts
  src/cmi/scorm2004/sequencing/sequencing_process.ts
Due: core, cmi_scorm2004, scorm12

docs: add missing documentation for jsonString, LoggingService, and requestTime
  src/CrossFrameAPI.ts
  src/cmi/common/base_cmi.ts
  src/services/LoggingService.ts
Due: core, cmi_common, services, cross_frame_api

docs(scorm12): add SCORM 1.2 RTE specification references
  src/cmi/scorm12/core.ts
  src/cmi/scorm12/interactions.ts
  src/cmi/scorm12/nav.ts
  src/cmi/scorm12/objectives.ts
  src/cmi/scorm12/student_data.ts
  src/cmi/scorm12/student_preference.ts
  src/cmi/scorm12/validation.ts
Due: core, cmi_scorm12

test(scorm2004): add coverage for ADL nav requests, objectives, interactions
  test/cmi/scorm12/core.spec.ts
  test/cmi/scorm12/interactions.spec.ts
  test/cmi/scorm2004/adl.spec.ts
  test/cmi/scorm2004_interactions.spec.ts
Due: none

test(crossframe): add coverage for Proxy, heartbeat, method allowlist security
  test/facades/CrossFrameFacade.spec.ts
Due: none

docs: fix misleading comments in validation, services, and CMI classes
  src/cmi/common/score.ts
  src/cmi/common/validation.ts
  src/cmi/scorm12/student_data.ts
  src/services/EventService.ts
Due: core, cmi_common, cmi_scorm12, services

test(services): add coverage for HTTP handlers, ErrorHandling, Events, Logging
  test/cmi/common/array_methods.spec.ts
  test/cmi/common/score_methods.spec.ts
  test/services/ErrorHandlingService.spec.ts
  test/services/EventService.spec.ts
  test/services/LoggingService.spec.ts
  test/services/SynchronousHttpService.spec.ts
Due: none

fix(scorm2004): prevent settings mutation in constructor
  src/Scorm2004API.ts
  test/api/Scorm2004API.spec.ts
Due: core, scorm2004

test(core): add coverage for base_cmi, cmi constructor, BaseAPI error paths
  test/api/Scorm12API.additional.spec.ts
  test/cmi/common/base_cmi.spec.ts
  test/cmi/scorm12/cmi.spec.ts
Due: none

refactor: Phase 9 complexity improvements
  src/CrossFrameAPI.ts
  src/cmi/common/validation.ts
  src/cmi/scorm12/student_data.ts
  src/services/EventService.ts
Due: core, cmi_common, cmi_scorm12, services, cross_frame_api

refactor: Phase 10 dead code cleanup
  src/cmi/common/score.ts
  src/cmi/scorm12/core.ts
  src/cmi/scorm2004/session.ts
  src/services/SynchronousHttpService.ts
  src/services/ValidationService.ts
  test/cmi/scorm12/core.spec.ts
Due: core, cmi_common, cmi_scorm12, cmi_scorm2004, services

refactor: Phase 11-12 type safety and security hardening
  src/CrossFrameAPI.ts
  src/CrossFrameLMS.ts
  src/cmi/common/array.ts
  src/cmi/common/validation.ts
  src/interfaces/services.ts
  src/services/AsynchronousHttpService.ts
  src/services/LoggingService.ts
  test/facades/CrossFrameFacade.spec.ts
Due: core, cmi_common, services, cross_frame_lms, cross_frame_api

test(sequencing): add coverage for rollup status, navigation look-ahead, and tree traversal
  test/cmi/scorm2004/sequencing/activity_tree_traversal_edge_cases.spec.ts
  test/cmi/scorm2004/sequencing/navigation_look_ahead_edge_cases.spec.ts
  test/cmi/scorm2004/sequencing/rollup_status_capture_compare.spec.ts
Due: none

fix(scorm2004): fix duplicate pattern detection to compare .pattern property
  src/Scorm2004API.ts
  test/api/Scorm2004API.spec.ts
Due: core, scorm2004

fix(scorm2004): add null checks to sanitizeAuxiliaryResources
  src/Scorm2004API.ts
  test/api/SequencingConfiguration.spec.ts
Due: core, scorm2004

fix(scorm2004): fix off-by-one error in correct_responses limit check
  src/Scorm2004API.ts
  test/api/Scorm2004API.additional.spec.ts
  test/api/Scorm2004API.spec.ts
Due: core, scorm2004

fix(scorm12): fix browse mode status logic to run before Stage 1
  src/Scorm12API.ts
  test/api/Scorm12API.spec.ts
Due: core, scorm12

fix(scorm12): prevent settings mutation in constructor
  src/Scorm12API.ts
  test/api/Scorm12API.spec.ts
Due: core, scorm12

fix(scorm2004): clone referencedObjective in sequencing collections
  src/Scorm2004API.ts
  test/api/SequencingConfiguration.spec.ts
Due: core, scorm2004

docs(scorm2004): fix JSDoc for determineEntryValue to match implementation
  src/Scorm2004API.ts
Due: core, scorm2004

fix(scorm2004): set satisfiedStatusKnown in syncCmiToSequencingActivity
  src/Scorm2004API.ts
  test/api/Scorm2004API.spec.ts
Due: core, scorm2004

fix(scorm2004): add missing sequencing control properties
  src/Scorm2004API.ts
  test/api/SequencingConfiguration.spec.ts
Due: core, scorm2004

refactor(scorm2004): use SuccessStatus constants instead of magic strings
  src/Scorm2004API.ts
Due: core, scorm2004

fix(scorm2004): restore contentDelivered flag during state deserialization
  src/Scorm2004API.ts
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  test/api/SequencingPersistence.spec.ts
Due: core, cmi_scorm2004, scorm2004

Add E2E+unit coverage merge and reporting to CI
  .github/workflows/main.yml
  package-lock.json
  package.json
  scripts/merge-coverage.ts
  vitest.config.ts
Due: none

fix(scorm12): reset statusSetByModule flag in reset method
  src/Scorm12API.ts
Due: core, scorm12

fix(scorm12): add NaN validation for parseFloat in mastery evaluation
  src/Scorm12API.ts
  test/api/Scorm12API.spec.ts
Due: core, scorm12

test(scorm2004): add completion_status GetValue evaluation tests
  test/cmi/scorm2004_status.spec.ts
Due: none

Path conditions:
  core: any of: src/**
  cmi_common: any of: src/cmi/common/**
  cmi_aicc: any of: src/cmi/aicc/**
  cmi_scorm12: any of: src/cmi/scorm12/**
  cmi_scorm2004: any of: src/cmi/scorm2004/**
  services: any of: src/services/**
  aicc: any of: src/AICC.ts
  scorm12: any of: src/Scorm12API.ts
  scorm2004: any of: src/Scorm2004API.ts
  cross_frame_lms: any of: src/CrossFrameLMS.ts
  cross_frame_api: any of: src/CrossFrameAPI.ts
