Repository jcputney/scorm-again: changes, and which Codecov flags are due for each by the changed paths.
All: core, cmi_common, cmi_aicc, cmi_scorm12, cmi_scorm2004, services, aicc, scorm12, scorm2004, cross_frame_lms, cross_frame_api

Refactor CrossFrameAPI constructor and postMessage logic.
  index.d.ts
  src/CrossFrameAPI.ts
Due: core, cross_frame_api

[skip ci] Add changes during build
  dist/esm/cross-frame-api.js
  dist/esm/cross-frame-api.js.map
  dist/esm/cross-frame-api.min.js
  dist/esm/cross-frame-api.min.js.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/types/CrossFrameAPI.d.ts
Due: none

feat: validate message source in CrossFrameAPI
  src/CrossFrameAPI.ts
  test/facades/CrossFrameFacade.spec.ts
Due: core, cross_frame_api

Version bump
  package.json
Due: none

feat: validate message source in CrossFrameAPI (#963)
  src/CrossFrameAPI.ts
  test/facades/CrossFrameFacade.spec.ts
Due: core, cross_frame_api

[skip ci] Add changes during build
  dist/esm/cross-frame-api.js
  dist/esm/cross-frame-api.js.map
  dist/esm/cross-frame-api.min.js
  dist/esm/cross-frame-api.min.js.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
Due: none

docs: clarify CrossFrame usage
  README.md
Due: none

fix(CrossFrameAPI): clear timeout on response
  src/CrossFrameAPI.ts
Due: core, cross_frame_api

Merge conflicts
  src/services/HttpService.ts
Due: core, services

Refactor error handling in HttpService and update tests.
  src/services/HttpService.ts
  test/services/HttpService.spec.ts
Due: core, services

[skip ci] Add changes during build
  dist/esm/aicc.js
  dist/esm/aicc.js.map
  dist/esm/aicc.min.js
  dist/esm/aicc.min.js.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
Due: none

fix(CrossFrameAPI): clear timeout on response (#965)
  src/CrossFrameAPI.ts
Due: core, cross_frame_api

docs: clarify CrossFrame usage (#964)
  README.md
Due: none

test: add async handling tests for CrossFrameLMS
  src/CrossFrameLMS.ts
  test/facades/CrossFrameFacade.spec.ts
Due: core, cross_frame_lms

test: add listener multi-event tests
  src/BaseAPI.ts
  test/Scorm12API.spec.ts
  test/Scorm2004API.spec.ts
Due: core

test: add listener multi-event tests (#967)
  src/BaseAPI.ts
  test/Scorm12API.spec.ts
  test/Scorm2004API.spec.ts
Due: core

fix MessageResponse typing
  src/CrossFrameLMS.ts
Due: core, cross_frame_lms

fix CrossFrameLMS responses
  src/CrossFrameLMS.ts
  test/facades/CrossFrameFacade.spec.ts
Due: core, cross_frame_lms

fix CrossFrameLMS responses (#969)
  src/CrossFrameLMS.ts
  test/facades/CrossFrameFacade.spec.ts
Due: core, cross_frame_lms

[skip ci] Add changes during build
  dist/esm/cross-frame-lms.js
  dist/esm/cross-frame-lms.js.map
  dist/esm/cross-frame-lms.min.js
  dist/esm/cross-frame-lms.min.js.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
Due: none

fix: update getCommitObject interface
  src/interfaces/services.ts
Due: core

fix: update getCommitObject interface (#970)
  src/interfaces/services.ts
Due: core

[skip ci] Add changes during build
  dist/types/interfaces/services.d.ts
  src/interfaces/services.ts
Due: core

Refactor test files, formatting, and documentation.
  CODE_OF_CONDUCT.md
  docs/api_usage/examples/offline/flutter.md
  docs/api_usage/examples/offline/ios_native.md
  docs/api_usage/examples/offline/kotlin_multiplatform.md
  docs/api_usage/examples/offline/native_android.md
  docs/api_usage/examples/offline/react_native.md
  docs/api_usage/examples/offline/xamarin_maui.md
  docs/offline_support.md
  src/cmi/aicc/core.ts
  test/cmi/aicc/attempts.spec.ts
  test/cmi/aicc/student_demographics.spec.ts
  test/cmi/aicc/student_preferences.spec.ts
  test/cmi/common/score_reset.spec.ts
  test/cmi/scorm2004/interactions_pattern_validation.spec.ts
  test/cmi/scorm2004/sequencing/rule_condition_setters.spec.ts
  test/integration/APIInteractions.spec.ts
  test/integration/APIInteractions2004.spec.ts
Due: core, cmi_aicc

[skip ci] Add changes during build
  dist/esm/aicc.js.map
  dist/esm/aicc.min.js.map
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js.map
  dist/types/cmi/aicc/core.d.ts
Due: none

fix: handle errors in immediate HTTP requests
  src/services/HttpService.ts
  test/services/HttpService.spec.ts
Due: core, services

fix: handle errors in immediate HTTP requests (#971)
  src/services/HttpService.ts
  test/services/HttpService.spec.ts
Due: core, services

fix: parse numeric time strings in getTimeAsSeconds
  src/utilities.ts
  test/utils/utilities.spec.ts
Due: core

fix: parse numeric time strings in getTimeAsSeconds (#972)
  src/utilities.ts
  test/utils/utilities.spec.ts
Due: core

[skip ci] Add changes during build
  dist/esm/aicc.js
  dist/esm/aicc.js.map
  dist/esm/aicc.min.js
  dist/esm/aicc.min.js.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js.map
Due: none

fix: treat boolean results as success
  src/services/HttpService.ts
  test/services/HttpService.spec.ts
Due: core, services

fix: treat boolean results as success (#973)
  src/services/HttpService.ts
  test/services/HttpService.spec.ts
Due: core, services

[skip ci] Add changes during build
  dist/esm/aicc.js
  dist/esm/aicc.js.map
  dist/esm/aicc.min.js
  dist/esm/aicc.min.js.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  src/services/HttpService.ts
Due: core, services

fix: correct SCORM 2004 multiple termination error code
  src/constants/error_codes.ts
  test/api/ErrorConditions.spec.ts
Due: core

Fix navigation checks for SCORM 2004 sequencing
  src/cmi/scorm2004/sequencing/sequencing_controls.ts
  test/cmi/scorm2004/sequencing/sequencing_controls.spec.ts
Due: core, cmi_scorm2004

fix: correct SCORM 2004 multiple termination error code (#974)
  src/constants/error_codes.ts
  test/api/ErrorConditions.spec.ts
Due: core

Fix navigation checks for SCORM 2004 sequencing (#975)
  src/cmi/scorm2004/sequencing/sequencing_controls.ts
  test/cmi/scorm2004/sequencing/sequencing_controls.spec.ts
Due: core, cmi_scorm2004

[skip ci] Add changes during build
  dist/esm/aicc.js.map
  dist/esm/aicc.min.js.map
  dist/esm/cross-frame-api.js.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  test/api/ErrorConditions.spec.ts
Due: none

Path conditions:
  core: any of: src/**
  cmi_common: any of: src/cmi/common/**
  cmi_aicc: any of: src/cmi/aicc/**
  cmi_scorm12: any of: src/cmi/scorm12/**
  cmi_scorm2004: any of: src/cmi/scorm2004/**
  services: any of: src/services/**
  aicc: any of: src/AICC.ts
  scorm12: any of: src/Scorm12API.ts
  scorm2004: any of: src/Scorm2004API.ts
  cross_frame_lms: any of: src/CrossFrameLMS.ts
  cross_frame_api: any of: src/CrossFrameAPI.ts
