Repository jcputney/scorm-again: changes, and which Codecov flags are due for each by the changed paths.
All: core, cmi_common, cmi_aicc, cmi_scorm12, cmi_scorm2004, services, aicc, scorm12, scorm2004, cross_frame_lms, cross_frame_api

codecov.yaml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: core
      name: core
      paths:
        - src/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
        - type: patch
    - component_id: cmi_common
      name: cmi_common
      paths:
        - src/cmi/common/**
    - component_id: cmi_aicc
      name: cmi_aicc
      paths:
        - src/cmi/aicc/**
    - component_id: cmi_scorm12
      name: cmi_scorm12
      paths:
        - src/cmi/scorm12/**
    - component_id: cmi_scorm2004
      name: cmi_scorm2004
      paths:
        - src/cmi/scorm2004/**
    - component_id: services
      name: services
      paths:
        - src/services/**
    - component_id: aicc
      paths:
        - src/AICC.ts
    - component_id: scorm12
      paths:
        - src/Scorm12API.ts
    - component_id: scorm2004
      paths:
        - src/Scorm2004API.ts
    - component_id: cross_frame_lms
      paths:
        - src/CrossFrameLMS.ts
    - component_id: cross_frame_api
      paths:
        - src/CrossFrameAPI.ts

feat: add reset options for multi-SCO players
  demos/player-wrapper/scorm2004-sequenced/player.js
  docs-site/docs/advanced/sequencing.md
  docs-site/docs/api-reference/scorm12-api.md
  docs-site/docs/api-reference/scorm2004-api.md
  docs-site/docs/lms-integration/api-events-reference.md
  docs-site/docs/lms-integration/integration-guide.md
  docs-site/docs/lms-integration/player-wrapper-guide.md
  src/BaseAPI.ts
  src/Scorm12API.ts
  src/Scorm2004API.ts
  src/types/api_types.ts
  test/api/ResetOptions.spec.ts
  test/integration/demos/player-wrapper.spec.ts
Due: core, scorm12, scorm2004

feat: expose rolled-up activity completion tracking
  docs-site/docs/advanced/sequencing.md
  docs-site/docs/api-reference/scorm2004-api.md
  src/Scorm2004API.ts
  test/api/SequencingPlayerState.spec.ts
  test/integration/SequencingPlayerState.spec.ts
Due: core, scorm2004

fix(sequencing): stop Continue ending the session at a blocked activity (#1704)
  src/cmi/scorm2004/sequencing/handlers/retry_request_handler.ts
  src/cmi/scorm2004/sequencing/traversal/flow_traversal_service.ts
  test/cmi/scorm2004/sequencing/delivery_request_process.spec.ts
  test/cmi/scorm2004/sequencing/end_sequencing_session.spec.ts
  test/cmi/scorm2004/sequencing/enhanced_delivery_validation.spec.ts
  test/cmi/scorm2004/sequencing/flow_control_check.spec.ts
  test/cmi/scorm2004/sequencing/flow_processes.spec.ts
  test/cmi/scorm2004/sequencing/navigation_look_ahead.spec.ts
  test/cmi/scorm2004/sequencing/retry_exceptions.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_process.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_requests.spec.ts
  test/cmi/scorm2004/sequencing/start_flow_controls.spec.ts
  test/cmi/scorm2004/sequencing/traversal/flow_traversal_service.spec.ts
Due: core, cmi_scorm2004

fix: preserve navigation validity when restoring sequencing state (#1705)
  src/persistence/sequencing_state_persistence.ts
  test/api/SequencingPersistence.spec.ts
  test/persistence/sequencing_state_persistence.spec.ts
Due: core

[skip ci] Add changes during build
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/types/cmi/scorm2004/sequencing/handlers/retry_request_handler.d.ts.map
  dist/types/cmi/scorm2004/sequencing/traversal/flow_traversal_service.d.ts
  dist/types/cmi/scorm2004/sequencing/traversal/flow_traversal_service.d.ts.map
  dist/types/persistence/sequencing_state_persistence.d.ts.map
Due: none

[skip ci] Bump version to 3.3.10
  package-lock.json
  package.json
Due: none

fix(api): keep navigation validity after reset() between SCOs
  src/Scorm2004API.ts
  test/api/Scorm2004API.reset_navigation_validity.spec.ts
Due: core, scorm2004

fix(sequencing): stop Start and Retry at a blocked first activity
  src/cmi/scorm2004/sequencing/handlers/flow_request_handler.ts
  src/cmi/scorm2004/sequencing/handlers/retry_request_handler.ts
  src/cmi/scorm2004/sequencing/traversal/flow_traversal_service.ts
  test/cmi/scorm2004/sequencing/end_sequencing_session.spec.ts
  test/cmi/scorm2004/sequencing/error_codes.spec.ts
  test/cmi/scorm2004/sequencing/flow_control_check.spec.ts
  test/cmi/scorm2004/sequencing/flow_processes.spec.ts
  test/cmi/scorm2004/sequencing/handlers/flow_request_handler.spec.ts
  test/cmi/scorm2004/sequencing/retry_exceptions.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_process.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_requests.spec.ts
  test/cmi/scorm2004/sequencing/start_flow_controls.spec.ts
  test/cmi/scorm2004/sequencing/start_retry_blocked.spec.ts
  test/cmi/scorm2004/sequencing/traversal/flow_traversal_service.spec.ts
Due: core, cmi_scorm2004

feat: add reset options for multi-SCO players (#1706)
  demos/player-wrapper/scorm2004-sequenced/player.js
  docs-site/docs/advanced/sequencing.md
  docs-site/docs/api-reference/scorm12-api.md
  docs-site/docs/api-reference/scorm2004-api.md
  docs-site/docs/lms-integration/api-events-reference.md
  docs-site/docs/lms-integration/integration-guide.md
  docs-site/docs/lms-integration/player-wrapper-guide.md
  src/BaseAPI.ts
  src/Scorm12API.ts
  src/Scorm2004API.ts
  src/types/api_types.ts
  test/api/ResetOptions.spec.ts
  test/integration/demos/player-wrapper.spec.ts
Due: core, scorm12, scorm2004

fix(sequencing): report SB.2.2-2 when a leaf root is blocked
  src/cmi/scorm2004/sequencing/traversal/flow_traversal_service.ts
  test/cmi/scorm2004/sequencing/start_retry_blocked.spec.ts
Due: core, cmi_scorm2004

[skip ci] Add changes during build
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm12.js
  dist/scorm12.js.map
  dist/scorm12.min.js
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/types/BaseAPI.d.ts
  dist/types/BaseAPI.d.ts.map
  dist/types/Scorm12API.d.ts
  dist/types/Scorm12API.d.ts.map
  dist/types/Scorm2004API.d.ts
  dist/types/Scorm2004API.d.ts.map
  dist/types/types/api_types.d.ts
  dist/types/types/api_types.d.ts.map
Due: none

fix: keep navigation validity after reset() and stop Start at a blocked first activity (#1708)
  src/Scorm2004API.ts
  src/cmi/scorm2004/sequencing/handlers/flow_request_handler.ts
  src/cmi/scorm2004/sequencing/handlers/retry_request_handler.ts
  src/cmi/scorm2004/sequencing/traversal/flow_traversal_service.ts
  test/api/Scorm2004API.reset_navigation_validity.spec.ts
  test/cmi/scorm2004/sequencing/end_sequencing_session.spec.ts
  test/cmi/scorm2004/sequencing/error_codes.spec.ts
  test/cmi/scorm2004/sequencing/flow_control_check.spec.ts
  test/cmi/scorm2004/sequencing/flow_processes.spec.ts
  test/cmi/scorm2004/sequencing/handlers/flow_request_handler.spec.ts
  test/cmi/scorm2004/sequencing/retry_exceptions.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_process.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_requests.spec.ts
  test/cmi/scorm2004/sequencing/start_flow_controls.spec.ts
  test/cmi/scorm2004/sequencing/start_retry_blocked.spec.ts
  test/cmi/scorm2004/sequencing/traversal/flow_traversal_service.spec.ts
Due: core, cmi_scorm2004, scorm2004

feat: expose rolled-up activity completion tracking (#1707)
  docs-site/docs/advanced/sequencing.md
  docs-site/docs/api-reference/scorm2004-api.md
  src/Scorm2004API.ts
  test/api/SequencingPlayerState.spec.ts
  test/integration/SequencingPlayerState.spec.ts
Due: core, scorm2004

feat: preview flow navigation without ending the current SCO
  docs-site/docs/api-reference/scorm2004-api.md
  docs-site/docs/lms-integration/navigation-preview.md
  src/Scorm2004API.ts
  src/cmi/scorm2004/sequencing/utils/clone_preview_state.ts
  src/services/SequencingService.ts
  src/types/sequencing_types.ts
  test/api/NavigationPreview.spec.ts
Due: core, cmi_scorm2004, services, scorm2004

ci: drop --skip-git from OSV-Scanner args
  .github/workflows/osv-scanner.yml
Due: none

[skip ci] Add changes during build
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/types/Scorm2004API.d.ts
  dist/types/Scorm2004API.d.ts.map
  dist/types/cmi/scorm2004/sequencing/handlers/flow_request_handler.d.ts.map
  dist/types/cmi/scorm2004/sequencing/handlers/retry_request_handler.d.ts.map
  dist/types/cmi/scorm2004/sequencing/traversal/flow_traversal_service.d.ts
  dist/types/cmi/scorm2004/sequencing/traversal/flow_traversal_service.d.ts.map
Due: none

feat: preview flow navigation without ending the current SCO (#1709)
  docs-site/docs/api-reference/scorm2004-api.md
  docs-site/docs/lms-integration/navigation-preview.md
  src/Scorm2004API.ts
  src/cmi/scorm2004/sequencing/utils/clone_preview_state.ts
  src/services/SequencingService.ts
  src/types/sequencing_types.ts
  test/api/NavigationPreview.spec.ts
Due: core, cmi_scorm2004, services, scorm2004

chore: bump version to 3.4.0
  package-lock.json
  package.json
Due: none

chore: bump version to 3.4.0 (#1710)
  package-lock.json
  package.json
Due: none

chore(deps): update dependencies and override vite in docs-site
  docs-site/package-lock.json
  docs-site/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update dependencies and override vite in docs-site (#1711)
  docs-site/package-lock.json
  docs-site/package.json
  package-lock.json
  package.json
Due: none

[skip ci] Add changes during build
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm12.js
  dist/scorm12.js.map
  dist/scorm12.min.js
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/types/Scorm2004API.d.ts
  dist/types/Scorm2004API.d.ts.map
  dist/types/cmi/scorm2004/sequencing/utils/clone_preview_state.d.ts
  dist/types/cmi/scorm2004/sequencing/utils/clone_preview_state.d.ts.map
  dist/types/services/SequencingService.d.ts
  dist/types/services/SequencingService.d.ts.map
  dist/types/types/sequencing_types.d.ts
  dist/types/types/sequencing_types.d.ts.map
Due: none

[skip ci] Bump version to 3.4.1
  package-lock.json
  package.json
Due: none

fix: allow repeated SCORM 2004 interaction IDs for journaling
  docs/api_usage/examples/scorm2004_examples.md
  src/BaseAPI.ts
  src/services/CMIValueAccessService.ts
  test/api/ErrorConditions.spec.ts
  test/api/Scorm2004API.additional.spec.ts
  test/api/Scorm2004API.interaction_journaling.spec.ts
Due: core, services

test: update ID uniqueness docs for repeatable interaction IDs
  test/api/Scorm2004API.additional.spec.ts
Due: none

fix: allow SCORM 2004 interaction journaling on quiz retakes (#1712)
  docs/api_usage/examples/scorm2004_examples.md
  src/BaseAPI.ts
  src/services/CMIValueAccessService.ts
  test/api/ErrorConditions.spec.ts
  test/api/Scorm2004API.additional.spec.ts
  test/api/Scorm2004API.interaction_journaling.spec.ts
Due: core, services

[skip ci] Add changes during build
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm12.js
  dist/scorm12.js.map
  dist/scorm12.min.js
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/types/BaseAPI.d.ts.map
Due: none

[skip ci] Bump version to 3.4.2
  package-lock.json
  package.json
Due: none

fix: roll up SCO results on Suspend All
  src/cmi/scorm2004/sequencing/handlers/termination_handler.ts
  src/services/SequencingService.ts
  test/api/Scorm2004API.suspend_all.spec.ts
Due: core, cmi_scorm2004, services

fix: roll up SCO results on Suspend All (#1713)
  src/cmi/scorm2004/sequencing/handlers/termination_handler.ts
  src/services/SequencingService.ts
  test/api/Scorm2004API.suspend_all.spec.ts
Due: core, cmi_scorm2004, services

[skip ci] Add changes during build
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/types/cmi/scorm2004/sequencing/handlers/termination_handler.d.ts.map
  dist/types/services/SequencingService.d.ts.map
Due: none

[skip ci] Bump version to 3.4.3
  package-lock.json
  package.json
Due: none

fix: keep cluster attempts open when a navigation request is refused
  src/cmi/scorm2004/sequencing/activity.ts
  src/cmi/scorm2004/sequencing/handlers/choice_request_handler.ts
  src/cmi/scorm2004/sequencing/handlers/delivery_handler.ts
  src/cmi/scorm2004/sequencing/objectives/objective_evaluation_context.ts
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  src/cmi/scorm2004/sequencing/sequencing_process.ts
  src/cmi/scorm2004/sequencing/traversal/flow_traversal_service.ts
  test/cmi/scorm2004/sequencing/refused_branch_attempts.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_requests.spec.ts
  test/cmi/scorm2004/sequencing/traversal/flow_traversal_service.spec.ts
  test/integration/SequencingRandomTest_SCORM20043rdEdition.spec.ts
Due: core, cmi_scorm2004

fix: keep cluster attempts open when a navigation request is refused (#1714)
  src/cmi/scorm2004/sequencing/activity.ts
  src/cmi/scorm2004/sequencing/handlers/choice_request_handler.ts
  src/cmi/scorm2004/sequencing/handlers/delivery_handler.ts
  src/cmi/scorm2004/sequencing/objectives/objective_evaluation_context.ts
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  src/cmi/scorm2004/sequencing/sequencing_process.ts
  src/cmi/scorm2004/sequencing/traversal/flow_traversal_service.ts
  test/cmi/scorm2004/sequencing/refused_branch_attempts.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_requests.spec.ts
  test/cmi/scorm2004/sequencing/traversal/flow_traversal_service.spec.ts
  test/integration/SequencingRandomTest_SCORM20043rdEdition.spec.ts
Due: core, cmi_scorm2004

[skip ci] Add changes during build
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm12.js
  dist/scorm12.js.map
  dist/scorm12.min.js
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/types/cmi/scorm2004/sequencing/activity.d.ts
  dist/types/cmi/scorm2004/sequencing/activity.d.ts.map
  dist/types/cmi/scorm2004/sequencing/handlers/choice_request_handler.d.ts
  dist/types/cmi/scorm2004/sequencing/handlers/choice_request_handler.d.ts.map
  dist/types/cmi/scorm2004/sequencing/handlers/delivery_handler.d.ts
  dist/types/cmi/scorm2004/sequencing/handlers/delivery_handler.d.ts.map
  dist/types/cmi/scorm2004/sequencing/objectives/objective_evaluation_context.d.ts
  dist/types/cmi/scorm2004/sequencing/objectives/objective_evaluation_context.d.ts.map
  dist/types/cmi/scorm2004/sequencing/overall_sequencing_process.d.ts.map
  dist/types/cmi/scorm2004/sequencing/sequencing_process.d.ts
  dist/types/cmi/scorm2004/sequencing/sequencing_process.d.ts.map
  dist/types/cmi/scorm2004/sequencing/traversal/flow_traversal_service.d.ts
  dist/types/cmi/scorm2004/sequencing/traversal/flow_traversal_service.d.ts.map
Due: none

[skip ci] Bump version to 3.4.4
  package-lock.json
  package.json
Due: none

fix: point subpath type declarations at the ESM entry exports (#1715)
  package.json
  src/esm/CrossFrameAPI.esm.ts
  src/esm/CrossFrameLMS.esm.ts
  src/esm/Scorm12API.esm.ts
  src/esm/Scorm2004API.esm.ts
Due: core

fix: point require export conditions at a CommonJS build
  package.json
  rollup.config.js
Due: none

fix: point subpath type declarations at the ESM entry exports (#1715) (#1716)
  package.json
  src/esm/CrossFrameAPI.esm.ts
  src/esm/CrossFrameLMS.esm.ts
  src/esm/Scorm12API.esm.ts
  src/esm/Scorm2004API.esm.ts
Due: core

test: add packaging smoke test for require and import exports
  .github/workflows/main.yml
  package.json
  scripts/package-smoke.mjs
Due: none
