Repository jcputney/scorm-again: changes, and which Codecov flags are due for each by the changed paths.
All: core, cmi_common, cmi_aicc, cmi_scorm12, cmi_scorm2004, services, aicc, scorm12, scorm2004, cross_frame_lms, cross_frame_api

codecov.yaml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: core
      name: core
      paths:
        - src/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
        - type: patch
    - component_id: cmi_common
      name: cmi_common
      paths:
        - src/cmi/common/**
    - component_id: cmi_aicc
      name: cmi_aicc
      paths:
        - src/cmi/aicc/**
    - component_id: cmi_scorm12
      name: cmi_scorm12
      paths:
        - src/cmi/scorm12/**
    - component_id: cmi_scorm2004
      name: cmi_scorm2004
      paths:
        - src/cmi/scorm2004/**
    - component_id: services
      name: services
      paths:
        - src/services/**
    - component_id: aicc
      paths:
        - src/AICC.ts
    - component_id: scorm12
      paths:
        - src/Scorm12API.ts
    - component_id: scorm2004
      paths:
        - src/Scorm2004API.ts
    - component_id: cross_frame_lms
      paths:
        - src/CrossFrameLMS.ts
    - component_id: cross_frame_api
      paths:
        - src/CrossFrameAPI.ts

test(sequencing): add auto-progress integration tests (REQ-NAV-058)
  test/cmi/scorm2004/sequencing/auto_progress.spec.ts
Due: none

Add vocabulary validation for SCORM 2004 settings fields
  src/cmi/scorm2004/settings.ts
  test/cmi/scorm2004_settings.spec.ts
Due: core, cmi_scorm2004

test(sequencing): add resume fallback behavior tests (REQ-4.2.3)
  test/cmi/scorm2004/sequencing/resume_fallback.spec.ts
Due: none

test(sequencing): add comprehensive global objective mapping tests
  test/cmi/scorm2004/sequencing/objective_mapping.spec.ts
Due: none

feat(scorm2004): wire adl.nav.request_valid to sequencing evaluation
  src/cmi/scorm2004/adl.ts
  src/cmi/scorm2004/sequencing/sequencing.ts
  src/services/SequencingService.ts
  test/cmi/scorm2004/adl.spec.ts
  test/cmi/scorm2004_adl.spec.ts
Due: core, cmi_scorm2004, services

test(sequencing): add choice flow subprocess edge case tests (REQ-NAV-009)
  test/cmi/scorm2004/sequencing/choice_flow_edge_cases.spec.ts
Due: none

test(sequencing): add identifier validation and advanced rollup tests
  src/Scorm2004API.ts
  src/constants/api_constants.ts
  test/api/Scorm2004API.determineEntryValue.spec.ts
  test/cmi/scorm2004/sequencing/advanced_rollup.spec.ts
  test/cmi/scorm2004/sequencing/identifier_validation.spec.ts
Due: core, scorm2004

feat(sequencing): validate and manage active path (REQ-5.1.5, REQ-6.1.3)
  src/cmi/scorm2004/learner_preference.ts
  src/cmi/scorm2004/sequencing/activity_tree.ts
  src/services/SequencingService.ts
  test/api/Scorm2004API.additional.spec.ts
  test/cmi/scorm2004/sequencing/activity_tree.spec.ts
  test/cmi/scorm2004/sequencing/choice_validation.spec.ts
  test/cmi/scorm2004/sequencing/termination_request_process.spec.ts
  test/cmi/scorm2004_learner_preference.spec.ts
Due: core, cmi_scorm2004, services

Update .gitignore to exclude new docs directories
  .gitignore
Due: none

Improve SCORM 2004 error handling and diagnostics
  src/BaseAPI.ts
  src/cmi/scorm2004/sequencing/sequencing_process.ts
  src/interfaces/services.ts
  src/services/ErrorHandlingService.ts
  test/api/ErrorConditions.spec.ts
  test/api/Scorm2004API.additional.spec.ts
  test/api/Scorm2004API.spec.ts
  test/cmi/scorm2004/sequencing/active_path_validation.spec.ts
  test/cmi/scorm2004/sequencing/activity_active_check.spec.ts
  test/cmi/scorm2004/sequencing/cluster_suspend_propagation.spec.ts
  test/cmi/scorm2004/sequencing/end_sequencing_session.spec.ts
  test/cmi/scorm2004/sequencing/logout_exit_handling.spec.ts
Due: core, cmi_scorm2004, services

Add LMS integration docs and expand SCORM 2004 examples
  docs/api_usage/examples/scorm2004_examples.md
  docs/lms-integration/README.md
  docs/lms-integration/data-requirements-quick-reference.md
  docs/lms-integration/lms-integration-guide.md
  src/BaseAPI.ts
  src/Scorm2004API.ts
  src/cmi/scorm2004/adl.ts
  src/cmi/scorm2004/content.ts
  src/cmi/scorm2004/learner.ts
  src/services/AsynchronousHttpService.ts
  src/services/SynchronousHttpService.ts
  test/api/BaseAPI.spec.ts
  test/api/Scorm2004API.additional.spec.ts
  test/api/Scorm2004API.navigation.spec.ts
  test/api/Scorm2004API.spec.ts
  test/api/state-machine.spec.ts
  test/cmi/scorm2004/adl-compliance.spec.ts
  test/cmi/scorm2004/adl.spec.ts
  test/services/AsynchronousHttpService.spec.ts
Due: core, cmi_scorm2004, services, scorm2004

docs: add API events reference for LMS integration
  docs/lms-integration/api-events-reference.md
Due: none

docs: add cross-frame communication guide for sandboxed iframes
  docs/lms-integration/cross-frame-communication.md
Due: none

docs: add complete settings reference, interaction formats, and field limits
  docs/lms-integration/data-requirements-quick-reference.md
Due: none

docs: add error codes reference, offline overview, and data model notes
  docs/lms-integration/lms-integration-guide.md
Due: none

docs: update README with links to new documentation files
  docs/lms-integration/README.md
Due: none

Add heartbeat, rate limiting, and event system to CrossFrame
  src/CrossFrameAPI.ts
  src/CrossFrameLMS.ts
  src/esm/CrossFrameAPI.esm.ts
  src/esm/CrossFrameLMS.esm.ts
  src/types/CrossFrame.ts
  test/facades/CrossFrameFacade.spec.ts
Due: core, cross_frame_lms, cross_frame_api

fix(offline): respect maxSyncAttempts setting instead of hardcoded 5
  src/services/OfflineStorageService.ts
  test/services/OfflineStorageService.spec.ts
Due: core, services

fix(offline): handle QuotaExceededError with clear error message
  src/services/OfflineStorageService.ts
  test/services/OfflineStorageService.spec.ts
Due: core, services

chore: add .worktrees/ to gitignore
  .gitignore
Due: none

fix(offline): remove abandoned items from queue instead of keeping forever
  .run/Template Mocha.run.xml
  src/services/OfflineStorageService.ts
  test/services/OfflineStorageService.spec.ts
Due: core, services
