Repository jcputney/scorm-again: changes, and which Codecov flags are due for each by the changed paths.
All: core, cmi_common, cmi_aicc, cmi_scorm12, cmi_scorm2004, services, aicc, scorm12, scorm2004, cross_frame_lms, cross_frame_api

codecov.yaml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: core
      name: core
      paths:
        - src/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
        - type: patch
    - component_id: cmi_common
      name: cmi_common
      paths:
        - src/cmi/common/**
    - component_id: cmi_aicc
      name: cmi_aicc
      paths:
        - src/cmi/aicc/**
    - component_id: cmi_scorm12
      name: cmi_scorm12
      paths:
        - src/cmi/scorm12/**
    - component_id: cmi_scorm2004
      name: cmi_scorm2004
      paths:
        - src/cmi/scorm2004/**
    - component_id: services
      name: services
      paths:
        - src/services/**
    - component_id: aicc
      paths:
        - src/AICC.ts
    - component_id: scorm12
      paths:
        - src/Scorm12API.ts
    - component_id: scorm2004
      paths:
        - src/Scorm2004API.ts
    - component_id: cross_frame_lms
      paths:
        - src/CrossFrameLMS.ts
    - component_id: cross_frame_api
      paths:
        - src/CrossFrameAPI.ts

ci(release): scope the version-bump PAT to the final push (#1617)
  .github/workflows/release.yml
Due: none

ci(finalize): scope the dist-push PAT to the final step
  .github/workflows/main.yml
Due: none

ci(finalize): scope the dist-push PAT to the final step (#1618)
  .github/workflows/main.yml
Due: none

refactor: modernize params serialization (#1612)
  src/Scorm12API.ts
  src/serialization/scorm2004_data_serializer.ts
Due: core, scorm12

chore: bump dev tooling to Babel 8 and TS 7
  package-lock.json
  package.json
Due: none

build: replace Babel with SWC for IE11 downleveling
  package-lock.json
  package.json
  rollup.config.js
Due: none

build: remove unused rollup-plugin-dts
  package-lock.json
  package.json
Due: none

build: replace Babel with SWC for IE11 downleveling (#1623)
  package-lock.json
  package.json
  rollup.config.js
Due: none

[skip ci] Add changes during build
  dist/cross-frame-api.js
  dist/cross-frame-api.js.map
  dist/cross-frame-api.min.js
  dist/cross-frame-api.min.js.map
  dist/cross-frame-lms.js
  dist/cross-frame-lms.js.map
  dist/cross-frame-lms.min.js
  dist/cross-frame-lms.min.js.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm-again.min.js.map
  dist/scorm12.js
  dist/scorm12.js.map
  dist/scorm12.min.js
  dist/scorm12.min.js.map
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/scorm2004.min.js.map
  dist/types/Scorm12API.d.ts.map
  dist/types/serialization/scorm2004_data_serializer.d.ts.map
Due: none

[skip ci] Bump version to 3.1.2
  package-lock.json
  package.json
Due: none

fix(scorm2004): keep current activity on the exited leaf in TB.2.3
  src/cmi/scorm2004/sequencing/handlers/termination_handler.ts
  test/cmi/scorm2004/sequencing/exit_parent_state_consistency.spec.ts
  test/cmi/scorm2004/sequencing/logout_exit_handling.spec.ts
  test/cmi/scorm2004/sequencing/overall_sequencing_process.spec.ts
  test/cmi/scorm2004/sequencing/termination_post_condition_loop.spec.ts
  test/cmi/scorm2004/sequencing/termination_request_process.spec.ts
Due: core, cmi_scorm2004

chore(deps): npm audit fix for body-parser and brace-expansion advisories
  package-lock.json
Due: none

chore(deps): npm audit fix for body-parser and brace-expansion advisories (#1632)
  package-lock.json
Due: none

fix(scorm2004): keep current activity on the exited leaf in TB.2.3 (#1631)
  src/cmi/scorm2004/sequencing/handlers/termination_handler.ts
  test/cmi/scorm2004/sequencing/exit_parent_state_consistency.spec.ts
  test/cmi/scorm2004/sequencing/logout_exit_handling.spec.ts
  test/cmi/scorm2004/sequencing/overall_sequencing_process.spec.ts
  test/cmi/scorm2004/sequencing/termination_post_condition_loop.spec.ts
  test/cmi/scorm2004/sequencing/termination_request_process.spec.ts
Due: core, cmi_scorm2004

[skip ci] Add changes during build
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/types/cmi/scorm2004/sequencing/handlers/termination_handler.d.ts.map
Due: none

fix(cmi): clear session start time on reset so a reused API can re-initialize
  src/cmi/scorm12/cmi.ts
  src/cmi/scorm2004/cmi.ts
  test/api/Scorm12API.spec.ts
  test/api/Scorm2004API.spec.ts
  test/cmi/scorm12_cmi_reset.spec.ts
  test/cmi/scorm2004_cmi_reset.spec.ts
Due: core, cmi_scorm12, cmi_scorm2004

ci(release): discard dist/ before the version-bump commit
  .github/workflows/release.yml
Due: none

[skip ci] Bump version to 3.1.3
  package-lock.json
  package.json
Due: none

[skip ci] Bump version to 3.1.4
  package-lock.json
  package.json
Due: none

Honor completionThreshold and ancestor exit rules in SCORM 2004 sequencing
  src/Scorm2004API.ts
  src/cmi/scorm2004/completion_status_evaluation.ts
  src/cmi/scorm2004/sequencing/handlers/rte_data_transfer.ts
  src/cmi/scorm2004/sequencing/handlers/termination_handler.ts
  src/configuration/activity_tree_builder.ts
  src/handlers/scorm2004/cmi_handler.ts
  src/services/SequencingService.ts
  src/types/sequencing_types.ts
  test/api/Scorm2004API.sequencing.spec.ts
  test/cmi/scorm2004/sequencing/sx02_completion_threshold_exit_rules.spec.ts
  test/integration/SX02CompletionThresholdExitRules_SCORM20044thEdition.spec.ts
Due: core, cmi_scorm2004, services, scorm2004

Honor completionThreshold and ancestor exit rules in SCORM 2004 sequencing (#1639)
  src/Scorm2004API.ts
  src/cmi/scorm2004/completion_status_evaluation.ts
  src/cmi/scorm2004/sequencing/handlers/rte_data_transfer.ts
  src/cmi/scorm2004/sequencing/handlers/termination_handler.ts
  src/configuration/activity_tree_builder.ts
  src/handlers/scorm2004/cmi_handler.ts
  src/services/SequencingService.ts
  src/types/sequencing_types.ts
  test/api/Scorm2004API.sequencing.spec.ts
  test/cmi/scorm2004/sequencing/sx02_completion_threshold_exit_rules.spec.ts
  test/integration/SX02CompletionThresholdExitRules_SCORM20044thEdition.spec.ts
Due: core, cmi_scorm2004, services, scorm2004

[skip ci] Bump version to 3.1.5
  package-lock.json
  package.json
Due: none

Implement three-valued sequencing rule evaluation per the ADL SN book
  src/cmi/scorm2004/sequencing/handlers/termination_handler.ts
  src/cmi/scorm2004/sequencing/rules/rule_evaluation_engine.ts
  src/cmi/scorm2004/sequencing/sequencing_rules.ts
  src/configuration/activity_tree_builder.ts
  test/cmi/scorm2004/sequencing/advanced_rule_conditions.spec.ts
  test/cmi/scorm2004/sequencing/choice_flow_cluster_navigation.spec.ts
  test/cmi/scorm2004/sequencing/choice_rule_condition_evaluation.spec.ts
  test/cmi/scorm2004/sequencing/enhanced_choice_validation.spec.ts
  test/cmi/scorm2004/sequencing/rule_condition_setters.spec.ts
  test/cmi/scorm2004/sequencing/rules/rule_evaluation_engine.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_rule_additional_edge_cases.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_rules.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_rules_additional.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_rules_check.spec.ts
  test/cmi/scorm2004/sequencing/tristate_rule_conditions.spec.ts
Due: core, cmi_scorm2004

Propagate knowledge flags on global-objective reads
  src/cmi/scorm2004/sequencing/objectives/global_objective_synchronizer.ts
  test/cmi/scorm2004/sequencing/objectives/global_objective_synchronizer_tristate_regression.spec.ts
Due: core, cmi_scorm2004

Complete the SX-07a/OB-03b/OB-10a conformance chain
  src/Scorm2004API.ts
  src/cmi/scorm2004/sequencing/activity.ts
  src/cmi/scorm2004/sequencing/handlers/rte_data_transfer.ts
  src/cmi/scorm2004/sequencing/objectives/global_objective_synchronizer.ts
  src/cmi/scorm2004/sequencing/services/global_objective_service.ts
  src/cmi/scorm2004/sequencing/traversal/flow_traversal_service.ts
  src/configuration/activity_tree_builder.ts
  src/configuration/sequencing_configuration_builder.ts
  src/objectives/global_objective_manager.ts
  src/services/SequencingService.ts
  src/types/api_types.ts
  src/types/sequencing_types.ts
  test/api/SequencingPersistence.spec.ts
  test/cmi/scorm2004/sequencing/objective_delivery_seeding.spec.ts
  test/cmi/scorm2004/sequencing/objective_dirty_tracking.spec.ts
  test/cmi/scorm2004/sequencing/objective_mapping.spec.ts
  test/cmi/scorm2004/sequencing/objectives/global_objective_synchronizer.spec.ts
  test/cmi/scorm2004/sequencing/objectives/global_objective_synchronizer_tristate_regression.spec.ts
  test/cmi/scorm2004/sequencing/rollup_processes.spec.ts
  test/cmi/scorm2004/sequencing/rte_data_transfer.spec.ts
  test/cmi/scorm2004/sequencing/sx07a_forward_only_backward_traversal.spec.ts
  test/cmi/scorm2004/sequencing/tristate_rule_conditions.spec.ts
Due: core, cmi_scorm2004, services, scorm2004

Fix satisfaction-knowledge seeding and update sequencing integration tests
  src/Scorm2004API.ts
  src/cmi/scorm2004/sequencing/services/global_objective_service.ts
  test/integration/SequencingForcedSequential_SCORM20043rdEdition.spec.ts
  test/integration/SequencingPostTestRollup4thEd_SCORM20044thEdition.spec.ts
  test/integration/SequencingPreOrPostTestRollup_SCORM20043rdEdition.spec.ts
  test/integration/helpers/scorm2004-helpers.ts
Due: core, cmi_scorm2004, scorm2004

Update SimpleRemediation integration tests for seeded objectives
  test/integration/SequencingSimpleRemediation_SCORM20043rdEdition.spec.ts
Due: none

Implement three-valued sequencing rule evaluation per the ADL SN book (#1641)
  src/Scorm2004API.ts
  src/cmi/scorm2004/sequencing/activity.ts
  src/cmi/scorm2004/sequencing/handlers/rte_data_transfer.ts
  src/cmi/scorm2004/sequencing/handlers/termination_handler.ts
  src/cmi/scorm2004/sequencing/objectives/global_objective_synchronizer.ts
  src/cmi/scorm2004/sequencing/rules/rule_evaluation_engine.ts
  src/cmi/scorm2004/sequencing/sequencing_rules.ts
  src/cmi/scorm2004/sequencing/services/global_objective_service.ts
  src/cmi/scorm2004/sequencing/traversal/flow_traversal_service.ts
  src/configuration/activity_tree_builder.ts
  src/configuration/sequencing_configuration_builder.ts
  src/objectives/global_objective_manager.ts
  src/services/SequencingService.ts
  src/types/api_types.ts
  src/types/sequencing_types.ts
  test/api/SequencingPersistence.spec.ts
  test/cmi/scorm2004/sequencing/advanced_rule_conditions.spec.ts
  test/cmi/scorm2004/sequencing/choice_flow_cluster_navigation.spec.ts
  test/cmi/scorm2004/sequencing/choice_rule_condition_evaluation.spec.ts
  test/cmi/scorm2004/sequencing/enhanced_choice_validation.spec.ts
  test/cmi/scorm2004/sequencing/objective_delivery_seeding.spec.ts
  test/cmi/scorm2004/sequencing/objective_dirty_tracking.spec.ts
  test/cmi/scorm2004/sequencing/objective_mapping.spec.ts
  test/cmi/scorm2004/sequencing/objectives/global_objective_synchronizer.spec.ts
  test/cmi/scorm2004/sequencing/objectives/global_objective_synchronizer_tristate_regression.spec.ts
  test/cmi/scorm2004/sequencing/rollup_processes.spec.ts
  test/cmi/scorm2004/sequencing/rte_data_transfer.spec.ts
  test/cmi/scorm2004/sequencing/rule_condition_setters.spec.ts
  test/cmi/scorm2004/sequencing/rules/rule_evaluation_engine.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_rule_additional_edge_cases.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_rules.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_rules_additional.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_rules_check.spec.ts
  test/cmi/scorm2004/sequencing/sx07a_forward_only_backward_traversal.spec.ts
  test/cmi/scorm2004/sequencing/tristate_rule_conditions.spec.ts
  test/integration/SequencingForcedSequential_SCORM20043rdEdition.spec.ts
  test/integration/SequencingPostTestRollup4thEd_SCORM20044thEdition.spec.ts
  test/integration/SequencingPreOrPostTestRollup_SCORM20043rdEdition.spec.ts
  test/integration/SequencingSimpleRemediation_SCORM20043rdEdition.spec.ts
  test/integration/helpers/scorm2004-helpers.ts
Due: core, cmi_scorm2004, services, scorm2004

fix(scorm2004): stop enforcing 250-char limit on interaction and objective descriptions
  src/cmi/scorm2004/interactions.ts
  src/cmi/scorm2004/objectives.ts
  src/constants/regex.ts
  test/cmi/scorm2004_objectives.spec.ts
  test/field_values.ts
  test/validation/boundary-values.spec.ts
Due: core, cmi_scorm2004

perf: bound the validation memoization cache
  src/cmi/common/validation.ts
  src/utilities/core.ts
  test/utilities/memoize.spec.ts
Due: core, cmi_common

perf: bound the validation memoization cache (#1644)
  src/cmi/common/validation.ts
  src/utilities/core.ts
  test/utilities/memoize.spec.ts
Due: core, cmi_common

fix(scorm2004): stop enforcing 250-char limit on interaction and objective descriptions (#1643)
  src/cmi/scorm2004/interactions.ts
  src/cmi/scorm2004/objectives.ts
  src/constants/regex.ts
  test/cmi/scorm2004_objectives.spec.ts
  test/field_values.ts
  test/validation/boundary-values.spec.ts
Due: core, cmi_scorm2004

[skip ci] Add changes during build
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm12.js
  dist/scorm12.js.map
  dist/scorm12.min.js
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/types/cmi/common/validation.d.ts.map
  dist/types/cmi/scorm2004/interactions.d.ts.map
  dist/types/cmi/scorm2004/objectives.d.ts.map
  dist/types/constants/regex.d.ts
  dist/types/constants/regex.d.ts.map
  dist/types/utilities/core.d.ts
  dist/types/utilities/core.d.ts.map
Due: none

[skip ci] Bump version to 3.1.6
  package-lock.json
  package.json
Due: none

fix(http): let the terminate beacon Content-Type be configured
  README.md
  src/constants/default_settings.ts
  src/services/AsynchronousHttpService.ts
  src/services/SynchronousHttpService.ts
  src/types/api_types.ts
  src/utilities/core.ts
  test/services/AsynchronousHttpService.spec.ts
  test/services/SynchronousHttpService.spec.ts
Due: core, services

fix(scorm2004): log uninitialized-GetValue 403 at WARN by default
  README.md
  src/BaseAPI.ts
  src/Scorm2004API.ts
  src/constants/default_settings.ts
  src/interfaces/services.ts
  src/services/ErrorHandlingService.ts
  src/types/api_types.ts
  test/api/BaseAPI.spec.ts
  test/api/Scorm2004API.uninitializedGet.spec.ts
  test/services/ErrorHandlingService.spec.ts
Due: core, services, scorm2004

chore(deps): bump postcss to 8.5.23 to clear audit advisory
  package-lock.json
Due: none

chore(deps): bump postcss to 8.5.23 to clear audit advisory (#1648)
  package-lock.json
Due: none

fix(http): make terminate beacon Content-Type configurable (#1645) (#1646)
  README.md
  src/constants/default_settings.ts
  src/services/AsynchronousHttpService.ts
  src/services/SynchronousHttpService.ts
  src/types/api_types.ts
  src/utilities/core.ts
  test/services/AsynchronousHttpService.spec.ts
  test/services/SynchronousHttpService.spec.ts
Due: core, services
