Repository jcputney/scorm-again: changes, and which Codecov flags are due for each by the changed paths.
All: core, cmi_common, cmi_aicc, cmi_scorm12, cmi_scorm2004, services, aicc, scorm12, scorm2004, cross_frame_lms, cross_frame_api

test(crossframe): add coverage for Proxy, heartbeat, method allowlist security
  test/facades/CrossFrameFacade.spec.ts
Due: none

test(scorm2004): add coverage for ADL nav requests, objectives, interactions
  test/cmi/scorm12/core.spec.ts
  test/cmi/scorm12/interactions.spec.ts
  test/cmi/scorm2004/adl.spec.ts
  test/cmi/scorm2004_interactions.spec.ts
Due: none

test(services): add coverage for HTTP handlers, ErrorHandling, Events, Logging
  test/cmi/common/array_methods.spec.ts
  test/cmi/common/score_methods.spec.ts
  test/services/ErrorHandlingService.spec.ts
  test/services/EventService.spec.ts
  test/services/LoggingService.spec.ts
  test/services/SynchronousHttpService.spec.ts
Due: none

test(core): add coverage for base_cmi, cmi constructor, BaseAPI error paths
  test/api/Scorm12API.additional.spec.ts
  test/cmi/common/base_cmi.spec.ts
  test/cmi/scorm12/cmi.spec.ts
Due: none

test(sequencing): add coverage for rollup status, navigation look-ahead, and tree traversal
  test/cmi/scorm2004/sequencing/activity_tree_traversal_edge_cases.spec.ts
  test/cmi/scorm2004/sequencing/navigation_look_ahead_edge_cases.spec.ts
  test/cmi/scorm2004/sequencing/rollup_status_capture_compare.spec.ts
Due: none

refactor: Phase 9 complexity improvements
  src/CrossFrameAPI.ts
  src/cmi/common/validation.ts
  src/cmi/scorm12/student_data.ts
  src/services/EventService.ts
Due: core, cmi_common, cmi_scorm12, services, cross_frame_api

refactor: Phase 10 dead code cleanup
  src/cmi/common/score.ts
  src/cmi/scorm12/core.ts
  src/cmi/scorm2004/session.ts
  src/services/SynchronousHttpService.ts
  src/services/ValidationService.ts
  test/cmi/scorm12/core.spec.ts
Due: core, cmi_common, cmi_scorm12, cmi_scorm2004, services

refactor: Phase 11-12 type safety and security hardening
  src/CrossFrameAPI.ts
  src/CrossFrameLMS.ts
  src/cmi/common/array.ts
  src/cmi/common/validation.ts
  src/interfaces/services.ts
  src/services/AsynchronousHttpService.ts
  src/services/LoggingService.ts
  test/facades/CrossFrameFacade.spec.ts
Due: core, cmi_common, services, cross_frame_lms, cross_frame_api

fix(scorm2004): prevent settings mutation in constructor
  src/Scorm2004API.ts
  test/api/Scorm2004API.spec.ts
Due: core, scorm2004

fix(scorm12): prevent settings mutation in constructor
  src/Scorm12API.ts
  test/api/Scorm12API.spec.ts
Due: core, scorm12

fix(scorm12): fix browse mode status logic to run before Stage 1
  src/Scorm12API.ts
  test/api/Scorm12API.spec.ts
Due: core, scorm12

fix(scorm2004): fix off-by-one error in correct_responses limit check
  src/Scorm2004API.ts
  test/api/Scorm2004API.additional.spec.ts
  test/api/Scorm2004API.spec.ts
Due: core, scorm2004

fix(scorm2004): fix duplicate pattern detection to compare .pattern property
  src/Scorm2004API.ts
  test/api/Scorm2004API.spec.ts
Due: core, scorm2004

fix(scorm2004): add null checks to sanitizeAuxiliaryResources
  src/Scorm2004API.ts
  test/api/SequencingConfiguration.spec.ts
Due: core, scorm2004

fix(scorm2004): clone referencedObjective in sequencing collections
  src/Scorm2004API.ts
  test/api/SequencingConfiguration.spec.ts
Due: core, scorm2004

fix(scorm2004): add missing sequencing control properties
  src/Scorm2004API.ts
  test/api/SequencingConfiguration.spec.ts
Due: core, scorm2004

docs(scorm2004): fix JSDoc for determineEntryValue to match implementation
  src/Scorm2004API.ts
Due: core, scorm2004

fix(scorm2004): restore contentDelivered flag during state deserialization
  src/Scorm2004API.ts
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  test/api/SequencingPersistence.spec.ts
Due: core, cmi_scorm2004, scorm2004

refactor(scorm2004): use SuccessStatus constants instead of magic strings
  src/Scorm2004API.ts
Due: core, scorm2004

fix(scorm2004): set satisfiedStatusKnown in syncCmiToSequencingActivity
  src/Scorm2004API.ts
  test/api/Scorm2004API.spec.ts
Due: core, scorm2004

Path conditions:
  core: any of: src/**
  cmi_common: any of: src/cmi/common/**
  cmi_aicc: any of: src/cmi/aicc/**
  cmi_scorm12: any of: src/cmi/scorm12/**
  cmi_scorm2004: any of: src/cmi/scorm2004/**
  services: any of: src/services/**
  aicc: any of: src/AICC.ts
  scorm12: any of: src/Scorm12API.ts
  scorm2004: any of: src/Scorm2004API.ts
  cross_frame_lms: any of: src/CrossFrameLMS.ts
  cross_frame_api: any of: src/CrossFrameAPI.ts
