Repository jcputney/scorm-again: changes, and which Codecov flags are due for each by the changed paths.
All: core, cmi_common, cmi_aicc, cmi_scorm12, cmi_scorm2004, services, aicc, scorm12, scorm2004, cross_frame_lms, cross_frame_api

codecov.yaml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: core
      name: core
      paths:
        - src/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
        - type: patch
    - component_id: cmi_common
      name: cmi_common
      paths:
        - src/cmi/common/**
    - component_id: cmi_aicc
      name: cmi_aicc
      paths:
        - src/cmi/aicc/**
    - component_id: cmi_scorm12
      name: cmi_scorm12
      paths:
        - src/cmi/scorm12/**
    - component_id: cmi_scorm2004
      name: cmi_scorm2004
      paths:
        - src/cmi/scorm2004/**
    - component_id: services
      name: services
      paths:
        - src/services/**
    - component_id: aicc
      paths:
        - src/AICC.ts
    - component_id: scorm12
      paths:
        - src/Scorm12API.ts
    - component_id: scorm2004
      paths:
        - src/Scorm2004API.ts
    - component_id: cross_frame_lms
      paths:
        - src/CrossFrameLMS.ts
    - component_id: cross_frame_api
      paths:
        - src/CrossFrameAPI.ts

fix(CrossFrameLMS): add type validation for ev.source in message handler
  src/CrossFrameLMS.ts
  test/facades/CrossFrameFacade.spec.ts
Due: core, cross_frame_lms

fix(objective): reset all CMIObjectivesObject properties to defaults
  src/cmi/scorm2004/objectives.ts
  test/cmi/scorm2004/objectives.spec.ts
Due: core, cmi_scorm2004

fix(interactions): correct performance pattern validation for decimal numbers
  src/cmi/scorm2004/interactions.ts
  test/cmi/scorm2004/interactions_pattern_validation.spec.ts
  test/cmi/scorm2004_interactions_additional.spec.ts
Due: core, cmi_scorm2004

fix(adl): include exit, exitAll, abandon, abandonAll, and suspendAll in ADLNavRequestValid.toJSON()
  src/cmi/scorm2004/adl.ts
  test/cmi/scorm2004/adl.spec.ts
Due: core, cmi_scorm2004

fix(adl): complete toJSON type declaration with choice and jump properties
  src/cmi/scorm2004/adl.ts
  test/cmi/scorm2004/adl.spec.ts
Due: core, cmi_scorm2004

fix(cmi): add missing total_time field to SCORM 2004 CMI toJSON method
  src/Scorm2004API.ts
  src/cmi/scorm2004/cmi.ts
  test/cmi/scorm2004_cmi.spec.ts
Due: core, cmi_scorm2004, scorm2004

refactor(types): remove 'as any' assertions in Scorm2004API.ts
  src/Scorm2004API.ts
  src/types/api_types.ts
Due: core, scorm2004

refactor(BaseAPI): remove 'as any' type assertions in _checkForDuplicateId
  src/BaseAPI.ts
Due: core

refactor(scorm12): replace 'as any' with 'as StringKeyMap' type assertions
  src/Scorm12API.ts
Due: core, scorm12

fix(validation): address empty string and range validation edge cases
  src/cmi/common/validation.ts
  src/cmi/scorm12/validation.ts
  test/cmi/common/validation.spec.ts
  test/cmi/scorm12/validation.spec.ts
Due: core, cmi_common, cmi_scorm12

fix(services): address event and error handling edge cases
  src/services/ErrorHandlingService.ts
  src/services/EventService.ts
  test/services/ErrorHandlingService.spec.ts
  test/services/EventService.spec.ts
Due: core, services

fix(crossframe): improve heartbeat, rate limit events, and data validation
  src/CrossFrameAPI.ts
  src/CrossFrameLMS.ts
  test/facades/CrossFrameFacade.spec.ts
Due: core, cross_frame_lms, cross_frame_api

fix(cmi): standardize reset() behavior across score and CMI classes
  src/cmi/common/score.ts
  src/cmi/scorm12/cmi.ts
  test/cmi/common/score_reset.spec.ts
  test/cmi/scorm12_cmi_reset.spec.ts
  test/cmi/scorm12_objectives_reset.spec.ts
Due: core, cmi_common, cmi_scorm12

docs(services): add SCORM RTE and W3C specification references
  src/cmi/common/validation.ts
  src/services/SynchronousHttpService.ts
  src/services/ValidationService.ts
Due: core, cmi_common, services

docs(scorm12): add SCORM 1.2 RTE specification references
  src/cmi/scorm12/core.ts
  src/cmi/scorm12/interactions.ts
  src/cmi/scorm12/nav.ts
  src/cmi/scorm12/objectives.ts
  src/cmi/scorm12/student_data.ts
  src/cmi/scorm12/student_preference.ts
  src/cmi/scorm12/validation.ts
Due: core, cmi_scorm12

docs(scorm2004): add SCORM 2004 RTE specification references
  src/cmi/scorm2004/adl.ts
  src/cmi/scorm2004/cmi.ts
  src/cmi/scorm2004/comments.ts
  src/cmi/scorm2004/interactions.ts
  src/cmi/scorm2004/objectives.ts
Due: core, cmi_scorm2004

docs(sequencing): add SCORM 2004 SN Book specification references
  src/Scorm12API.ts
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  src/cmi/scorm2004/sequencing/rollup_process.ts
  src/cmi/scorm2004/sequencing/sequencing_process.ts
Due: core, cmi_scorm2004, scorm12

docs: add SCORM clarification comments for interactions, nav, and objectives
  src/cmi/scorm12/interactions.ts
  src/cmi/scorm12/nav.ts
  src/cmi/scorm12/objectives.ts
Due: core, cmi_scorm12

docs: add missing documentation for jsonString, LoggingService, and requestTime
  src/CrossFrameAPI.ts
  src/cmi/common/base_cmi.ts
  src/services/LoggingService.ts
Due: core, cmi_common, services, cross_frame_api

docs: fix misleading comments in validation, services, and CMI classes
  src/cmi/common/score.ts
  src/cmi/common/validation.ts
  src/cmi/scorm12/student_data.ts
  src/services/EventService.ts
Due: core, cmi_common, cmi_scorm12, services
