Repository jcputney/scorm-again: changes, and which Codecov flags are due for each by the changed paths.
All: core, cmi_common, cmi_aicc, cmi_scorm12, cmi_scorm2004, services, aicc, scorm12, scorm2004, cross_frame_lms, cross_frame_api

Compiling 2.6.5
  dist/aicc.js
  dist/aicc.js.map
  dist/aicc.min.js
  dist/aicc.min.js.map
  dist/esm/aicc.js
  dist/esm/aicc.js.map
  dist/esm/aicc.min.js
  dist/esm/aicc.min.js.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm-again.min.js.map
  dist/scorm12.js
  dist/scorm12.js.map
  dist/scorm12.min.js
  dist/scorm12.min.js.map
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/scorm2004.min.js.map
  dist/types/cmi/scorm2004/adl.d.ts
  dist/types/cmi/scorm2004/cmi.d.ts
Due: none

Version bump to 2.6.6; enable strict mode in TypeScript and add improved type casting.
  dist/aicc.js.map
  dist/aicc.min.js.map
  dist/esm/aicc.js.map
  dist/esm/aicc.min.js.map
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js.map
  dist/scorm-again.min.js.map
  dist/scorm12.js.map
  dist/scorm12.min.js.map
  dist/scorm2004.js.map
  dist/scorm2004.min.js.map
  package.json
  src/BaseAPI.ts
  tsconfig.json
Due: core

Refactor type exports and update package exports
  index.d.ts
  package.json
  src/BaseAPI.ts
  src/constants/default_settings.ts
  src/types/api_types.ts
  tsconfig.json
Due: core

Compiling the release
  dist/aicc.js
  dist/aicc.js.map
  dist/aicc.min.js
  dist/aicc.min.js.map
  dist/esm/aicc.js
  dist/esm/aicc.js.map
  dist/esm/aicc.min.js
  dist/esm/aicc.min.js.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm-again.min.js.map
  dist/scorm12.js
  dist/scorm12.js.map
  dist/scorm12.min.js
  dist/scorm12.min.js.map
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/scorm2004.min.js.map
  dist/types/types/api_types.d.ts
Due: none

Refactor type exports and update dev dependencies
  index.d.ts
  package-lock.json
  package.json
  src/BaseAPI.ts
  src/services/ErrorHandlingService.ts
  test/BaseAPI.requestHandler.spec.ts
  tsconfig.types.json
Due: core, services

Update dependencies to latest versions
  package-lock.json
  package.json
Due: none

Update dependencies in package.json
  package-lock.json
  package.json
Due: none

Bumping up version number.
  package.json
Due: none

Accept RegExp objects along with string for the regex validation patterns.
  src/cmi/aicc/validation.ts
  src/cmi/common/validation.ts
  src/cmi/scorm12/validation.ts
Due: core, cmi_common, cmi_aicc, cmi_scorm12

Transforming 1.2 string regexes into RegExp objects to include the multiline flag.
  src/constants/regex.ts
Due: core

Including tests for multiline 1.2 strings.
  test/cmi/scorm12/validation.spec.ts
Due: none

Updating indirect dependencies.
  package-lock.json
Due: none

Add SCORM sequencing agents, docs, and refactor core
  .claude/agents/scorm-compliance-reviewer.md
  .claude/agents/scorm-implementation-expert.md
  .claude/agents/typescript-expert.md
  .claude/agents/typescript-reviewer.md
  AGENTS.md
  README.md
  SCORM_2004_SEQUENCING_REVIEW.md
  SEQUENCING_INTEGRATION_SUMMARY.md
  docs/api_usage/examples/offline/codepen_demos/complete_demo/index.html
  docs/api_usage/examples/offline/codepen_demos/complete_demo/style.css
  docs/api_usage/examples/offline/troubleshooting.md
  docs/release-process.md
  docs/sequencing/README.md
  docs/sequencing_configuration.md
  package-lock.json
  package.json
  src/BaseAPI.ts
  src/Scorm2004API.ts
  src/cmi/scorm2004/adl.ts
  src/cmi/scorm2004/objectives.ts
  src/cmi/scorm2004/sequencing/activity.ts
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  src/cmi/scorm2004/sequencing/rollup_process.ts
  src/cmi/scorm2004/sequencing/sequencing.ts
  src/cmi/scorm2004/sequencing/sequencing_controls.ts
  src/cmi/scorm2004/sequencing/sequencing_process.ts
  src/cmi/scorm2004/sequencing/sequencing_rules.ts
  src/services/ActivityDeliveryService.ts
  src/services/SequencingService.ts
  src/types/api_types.ts
  src/types/sequencing_types.ts
  src/utilities.ts
  test/cmi/scorm2004/sequencing/delivery_request_process.spec.ts
  test/cmi/scorm2004/sequencing/integration_tests.spec.ts
  test/cmi/scorm2004/sequencing/sequencing.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_additional_new.spec.ts
  test/cmi/scorm2004_adl.spec.ts
  test/services/SequencingService.spec.ts
Due: core, cmi_scorm2004, services, scorm2004

Enhance sequencing and rollup validation logic
  src/cmi/scorm2004/sequencing/activity_tree.ts
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  src/cmi/scorm2004/sequencing/rollup_process.ts
  vitest.config.ts
Due: core, cmi_scorm2004

Improve error handling for navigation validity updates
  src/Scorm2004API.ts
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
Due: core, cmi_scorm2004, scorm2004

Update GitHub Actions to latest major versions
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
Due: none

Revert version bump as Alpha 1 hasn't been released
  package.json
Due: none

Build master
  dist/aicc.js
  dist/aicc.js.map
  dist/aicc.min.js
  dist/aicc.min.js.map
  dist/cross-frame-api.js.map
  dist/cross-frame-api.min.js.map
  dist/cross-frame-lms.js.map
  dist/cross-frame-lms.min.js.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm-again.min.js.map
  dist/scorm12.js
  dist/scorm12.js.map
  dist/scorm12.min.js
  dist/scorm12.min.js.map
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/scorm2004.min.js.map
  dist/types/Scorm2004API.d.ts.map
  dist/types/services/SequencingService.d.ts.map
Due: none

Enforce dist/ as CI-only build artifact
  .githooks/pre-commit
  .github/workflows/main.yml
  CONTRIBUTING.md
  package.json
Due: none

Enforce dist/ directory policy in PRs and docs
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/main.yml
  README.md
Due: none

Update CI workflows to optimize test and build steps
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

Update file pattern in auto-commit action
  .github/workflows/main.yml
Due: none

Update SCORM regex patterns to string format
  src/constants/regex.ts
Due: core

Support multiline strings on SCORM 1.2 (#1120)
  src/cmi/aicc/validation.ts
  src/cmi/common/validation.ts
  src/cmi/scorm12/validation.ts
  src/constants/regex.ts
  test/cmi/scorm12/validation.spec.ts
Due: core, cmi_common, cmi_aicc, cmi_scorm12

Remove SCORM sequencing review and integration docs
  SCORM_2004_SEQUENCING_REVIEW.md
  SEQUENCING_INTEGRATION_SUMMARY.md
Due: none

[skip ci] Add changes during build
  dist/aicc.js
  dist/aicc.js.map
  dist/aicc.min.js
  dist/aicc.min.js.map
  dist/esm/aicc.js
  dist/esm/aicc.js.map
  dist/esm/aicc.min.js
  dist/esm/aicc.min.js.map
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm-again.min.js.map
  dist/scorm12.js
  dist/scorm12.js.map
  dist/scorm12.min.js
  dist/scorm12.min.js.map
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/scorm2004.min.js.map
  dist/types/cmi/aicc/validation.d.ts
  dist/types/cmi/aicc/validation.d.ts.map
  dist/types/cmi/common/validation.d.ts
  dist/types/cmi/common/validation.d.ts.map
  dist/types/cmi/scorm12/validation.d.ts
  dist/types/cmi/scorm12/validation.d.ts.map
Due: none

Add sequencing collections, auxiliary resources, and UI hints
  docs/sequencing/README.md
  src/Scorm2004API.ts
  src/cmi/scorm2004/sequencing/activity.ts
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  src/cmi/scorm2004/sequencing/rollup_process.ts
  src/cmi/scorm2004/sequencing/sequencing.ts
  src/cmi/scorm2004/sequencing/sequencing_process.ts
  src/services/SequencingService.ts
  src/types/sequencing_types.ts
  test/api/SequencingConfiguration.spec.ts
  test/api/SequencingPersistence.spec.ts
  test/cmi/scorm2004/sequencing/navigation_choice_constraints.spec.ts
  test/cmi/scorm2004/sequencing/objective_mapping.spec.ts
  test/cmi/scorm2004/sequencing/overall_sequencing_process.spec.ts
  test/cmi/scorm2004/sequencing/rollup_processes.spec.ts
  test/cmi/scorm2004/sequencing/rule_condition_limits.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_process.spec.ts
  test/integration/NavigationUi.spec.ts
  test/integration/wrappers/scorm2004-wrapper-cross-frame.html
  test/integration/wrappers/scorm2004-wrapper-esm.html
  test/integration/wrappers/scorm2004-wrapper.html
  test/services/SequencingService.spec.ts
Due: core, cmi_scorm2004, services, scorm2004

[skip ci] Add changes during build
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm-again.min.js.map
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/scorm2004.min.js.map
  dist/types/Scorm2004API.d.ts
  dist/types/Scorm2004API.d.ts.map
  dist/types/cmi/scorm2004/sequencing/activity.d.ts
  dist/types/cmi/scorm2004/sequencing/activity.d.ts.map
  dist/types/cmi/scorm2004/sequencing/overall_sequencing_process.d.ts
  dist/types/cmi/scorm2004/sequencing/overall_sequencing_process.d.ts.map
  dist/types/cmi/scorm2004/sequencing/rollup_process.d.ts
  dist/types/cmi/scorm2004/sequencing/rollup_process.d.ts.map
  dist/types/cmi/scorm2004/sequencing/sequencing.d.ts
  dist/types/cmi/scorm2004/sequencing/sequencing.d.ts.map
  dist/types/cmi/scorm2004/sequencing/sequencing_process.d.ts.map
  dist/types/services/SequencingService.d.ts.map
  dist/types/types/sequencing_types.d.ts
  dist/types/types/sequencing_types.d.ts.map
Due: none

Improve SCORM 1.2 validation and normalization logic
  README.md
  src/Scorm12API.ts
  src/cmi/aicc/core.ts
  src/cmi/scorm12/interactions.ts
  src/cmi/scorm12/student_data.ts
  src/constants/default_settings.ts
  src/constants/regex.ts
  src/services/HttpService.ts
  src/types/api_types.ts
  src/utilities.ts
  test/api/Scorm12API.spec.ts
  test/cmi/aicc_cmi.spec.ts
  test/cmi/scorm12_cmi.spec.ts
  test/field_values.ts
  test/services/HttpService.spec.ts
  test/utils/utilities.spec.ts
Due: core, cmi_aicc, cmi_scorm12, services, scorm12

Rename asyncCommit setting to throttleCommits
  README.md
  src/Scorm12API.ts
  src/Scorm2004API.ts
  src/constants/default_settings.ts
  src/constants/regex.ts
  src/services/HttpService.ts
  src/services/SequencingService.ts
  src/types/api_types.ts
  src/utilities.ts
  test/api/Scorm12API.additional.spec.ts
  test/api/Scorm12API.spec.ts
  test/api/SequencingConfiguration.spec.ts
  test/api/SequencingPersistence.spec.ts
  test/cmi/aicc_cmi.spec.ts
  test/field_values.ts
  test/integration/NavigationUi.spec.ts
  test/types/api_types.spec.ts
Due: core, services, scorm12, scorm2004

Refactor HttpService, switch to SynchronousHttpService by default
  .gitignore
  CLAUDE.md
  README.md
  docs/plans/2025-11-13-scorm-compliant-http-service-design.md
  docs/plans/2025-11-13-scorm-compliant-http-service.md
  docs/scorm12_compliance_review.md
  docs/sequencing_backlog.md
  src/AICC.ts
  src/BaseAPI.ts
  src/Scorm12API.ts
  src/Scorm2004API.ts
  src/constants/default_settings.ts
  src/interfaces/IBaseAPI.ts
  src/interfaces/services.ts
  src/services/AsynchronousHttpService.ts
  src/services/SynchronousHttpService.ts
  src/types/api_types.ts
  test/BaseAPI.requestHandler.spec.ts
  test/api/BaseAPI.httpservice.spec.ts
  test/api/BaseAPI.spec.ts
  test/api/EventHandling.spec.ts
  test/api/Scorm12API.additional.spec.ts
  test/api/Scorm12API.spec.ts
  test/api/Scorm2004API.additional.spec.ts
  test/api/Scorm2004API.spec.ts
  test/constants/default_settings.spec.ts
  test/events/BeforeTerminate.spec.ts
  test/performance/PerformanceTests.spec.ts
  test/performance/StressTests.spec.ts
  test/services/AsynchronousHttpService.spec.ts
  test/services/IHttpService.spec.ts
  test/services/SynchronousHttpService.spec.ts
  test/types/new_settings.spec.ts
Due: core, services, aicc, scorm12, scorm2004

Add type assertions to request payloads
  src/services/SynchronousHttpService.ts
Due: core, services

Update GitHub Actions and dev dependencies
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: none

Path conditions:
  core: any of: src/**
  cmi_common: any of: src/cmi/common/**
  cmi_aicc: any of: src/cmi/aicc/**
  cmi_scorm12: any of: src/cmi/scorm12/**
  cmi_scorm2004: any of: src/cmi/scorm2004/**
  services: any of: src/services/**
  aicc: any of: src/AICC.ts
  scorm12: any of: src/Scorm12API.ts
  scorm2004: any of: src/Scorm2004API.ts
  cross_frame_lms: any of: src/CrossFrameLMS.ts
  cross_frame_api: any of: src/CrossFrameAPI.ts
