Repository jcputney/scorm-again: changes, and which Codecov flags are due for each by the changed paths.
All: core, cmi_common, cmi_aicc, cmi_scorm12, cmi_scorm2004, services, aicc, scorm12, scorm2004, cross_frame_lms, cross_frame_api

fix(scorm2004): preserve sequenced activity state
  src/Scorm2004API.ts
  src/cmi/scorm2004/adl.ts
  src/cmi/scorm2004/sequencing/activity.ts
  src/cmi/scorm2004/sequencing/handlers/delivery_handler.ts
  src/cmi/scorm2004/sequencing/handlers/rte_data_transfer.ts
  src/cmi/scorm2004/sequencing/objectives/global_objective_synchronizer.ts
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  src/cmi/scorm2004/sequencing/rollup_process.ts
  src/configuration/activity_tree_builder.ts
  src/handlers/scorm2004/cmi_handler.ts
  src/persistence/sequencing_state_persistence.ts
  src/serialization/scorm2004_data_serializer.ts
  src/services/ActivityDeliveryService.ts
  src/services/SequencingService.ts
  src/types/activity_types.ts
  src/types/api_types.ts
  src/types/sequencing_types.ts
  test/api/Scorm2004API.navigation.spec.ts
  test/cmi/scorm2004/sequencing/end_sequencing_session.spec.ts
  test/cmi/scorm2004/sequencing/objective_delivery_seeding.spec.ts
  test/cmi/scorm2004/sequencing/rte_data_transfer.spec.ts
  test/cmi/scorm2004/sequencing/simple_remediation.spec.ts
  test/cmi/scorm2004/shared_data.spec.ts
  test/integration/SequencingPostTestRollup4thEd_SCORM20044thEdition.spec.ts
  test/integration/helpers/scorm2004-helpers.ts
  test/services/ActivityDeliveryService.spec.ts
  test/services/SequencingService.spec.ts
Due: core, cmi_scorm2004, services, scorm2004

fix(scorm2004): preserve sequenced activity state (#1683)
  src/Scorm2004API.ts
  src/cmi/scorm2004/adl.ts
  src/cmi/scorm2004/sequencing/activity.ts
  src/cmi/scorm2004/sequencing/handlers/delivery_handler.ts
  src/cmi/scorm2004/sequencing/handlers/rte_data_transfer.ts
  src/cmi/scorm2004/sequencing/objectives/global_objective_synchronizer.ts
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  src/cmi/scorm2004/sequencing/rollup_process.ts
  src/configuration/activity_tree_builder.ts
  src/handlers/scorm2004/cmi_handler.ts
  src/persistence/sequencing_state_persistence.ts
  src/serialization/scorm2004_data_serializer.ts
  src/services/ActivityDeliveryService.ts
  src/services/SequencingService.ts
  src/types/activity_types.ts
  src/types/api_types.ts
  src/types/sequencing_types.ts
  test/api/Scorm2004API.navigation.spec.ts
  test/cmi/scorm2004/sequencing/end_sequencing_session.spec.ts
  test/cmi/scorm2004/sequencing/objective_delivery_seeding.spec.ts
  test/cmi/scorm2004/sequencing/rte_data_transfer.spec.ts
  test/cmi/scorm2004/sequencing/simple_remediation.spec.ts
  test/cmi/scorm2004/shared_data.spec.ts
  test/integration/SequencingPostTestRollup4thEd_SCORM20044thEdition.spec.ts
  test/integration/helpers/scorm2004-helpers.ts
  test/services/ActivityDeliveryService.spec.ts
  test/services/SequencingService.spec.ts
Due: core, cmi_scorm2004, services, scorm2004

fix(scorm2004): preserve suspend all resume state
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  src/cmi/scorm2004/sequencing/state/sequencing_state_manager.ts
  src/utilities/PlayerEventAdapter.ts
  test/cmi/scorm2004/sequencing/end_sequencing_session.spec.ts
  test/cmi/scorm2004/sequencing/overall_sequencing_process.spec.ts
  test/cmi/scorm2004/sequencing/state_persistence.spec.ts
  test/cmi/scorm2004/sequencing/termination_request_process.spec.ts
  test/utilities/PlayerEventAdapter.spec.ts
Due: core, cmi_scorm2004

fix(scorm2004): preserve common ancestor on choice
  src/cmi/scorm2004/sequencing/handlers/choice_request_handler.ts
  src/cmi/scorm2004/sequencing/traversal/flow_traversal_service.ts
  test/cmi/scorm2004/sequencing/asset_only_default_rollup.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_requests.spec.ts
Due: core, cmi_scorm2004

fix(scorm2004): preserve attempts across Suspend All and Choice (#1684)
  src/cmi/scorm2004/sequencing/handlers/choice_request_handler.ts
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  src/cmi/scorm2004/sequencing/state/sequencing_state_manager.ts
  src/cmi/scorm2004/sequencing/traversal/flow_traversal_service.ts
  src/utilities/PlayerEventAdapter.ts
  test/cmi/scorm2004/sequencing/asset_only_default_rollup.spec.ts
  test/cmi/scorm2004/sequencing/end_sequencing_session.spec.ts
  test/cmi/scorm2004/sequencing/overall_sequencing_process.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_requests.spec.ts
  test/cmi/scorm2004/sequencing/state_persistence.spec.ts
  test/cmi/scorm2004/sequencing/termination_request_process.spec.ts
  test/utilities/PlayerEventAdapter.spec.ts
Due: core, cmi_scorm2004

[skip ci] Add changes during build
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/types/cmi/scorm2004/sequencing/handlers/choice_request_handler.d.ts.map
  dist/types/cmi/scorm2004/sequencing/overall_sequencing_process.d.ts
  dist/types/cmi/scorm2004/sequencing/overall_sequencing_process.d.ts.map
  dist/types/cmi/scorm2004/sequencing/state/sequencing_state_manager.d.ts.map
  dist/types/cmi/scorm2004/sequencing/traversal/flow_traversal_service.d.ts
  dist/types/cmi/scorm2004/sequencing/traversal/flow_traversal_service.d.ts.map
  dist/types/utilities/PlayerEventAdapter.d.ts.map
Due: none

fix: preserve complete native sequencing state across resume
  src/cmi/scorm2004/sequencing/activity.ts
  src/cmi/scorm2004/sequencing/handlers/delivery_handler.ts
  src/cmi/scorm2004/sequencing/state/sequencing_state_manager.ts
  src/persistence/sequencing_state_persistence.ts
  test/api/SequencingPersistence.spec.ts
  test/cmi/scorm2004/sequencing/randomization_timing.spec.ts
  test/persistence/sequencing_state_persistence.spec.ts
Due: core, cmi_scorm2004

fix: reconsider temporarily unavailable children on resume
  src/cmi/scorm2004/sequencing/selection_randomization.ts
  test/api/SequencingPersistence.spec.ts
  test/cmi/scorm2004/sequencing/randomization_timing.spec.ts
  test/cmi/scorm2004/sequencing/selection_randomization.spec.ts
Due: core, cmi_scorm2004

fix(deps): remove vulnerable zip extraction and update js-yaml
  package-lock.json
  package.json
  test/helpers/extract_zip.spec.ts
  test/helpers/extract_zip.ts
  test/integration/setup.ts
Due: none

fix: preserve complete native sequencing state across resume (#1685)
  package-lock.json
  package.json
  src/cmi/scorm2004/sequencing/activity.ts
  src/cmi/scorm2004/sequencing/handlers/delivery_handler.ts
  src/cmi/scorm2004/sequencing/selection_randomization.ts
  src/cmi/scorm2004/sequencing/state/sequencing_state_manager.ts
  src/persistence/sequencing_state_persistence.ts
  test/api/SequencingPersistence.spec.ts
  test/cmi/scorm2004/sequencing/randomization_timing.spec.ts
  test/cmi/scorm2004/sequencing/selection_randomization.spec.ts
  test/helpers/extract_zip.spec.ts
  test/helpers/extract_zip.ts
  test/integration/setup.ts
  test/persistence/sequencing_state_persistence.spec.ts
Due: core, cmi_scorm2004

[skip ci] Add changes during build
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm12.js
  dist/scorm12.js.map
  dist/scorm12.min.js
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/types/cmi/scorm2004/sequencing/activity.d.ts.map
  dist/types/cmi/scorm2004/sequencing/handlers/delivery_handler.d.ts.map
  dist/types/cmi/scorm2004/sequencing/selection_randomization.d.ts.map
  dist/types/cmi/scorm2004/sequencing/state/sequencing_state_manager.d.ts.map
  dist/types/persistence/sequencing_state_persistence.d.ts.map
Due: none

[skip ci] Bump version to 3.3.5
  package-lock.json
  package.json
Due: none

fix(scorm2004): honour preconditions when predicting Previous
  src/cmi/scorm2004/sequencing/navigation_look_ahead.ts
  test/cmi/scorm2004/sequencing/navigation_look_ahead.spec.ts
Due: core, cmi_scorm2004

fix(scorm2004): honour preconditions when predicting Previous (#1687)
  src/cmi/scorm2004/sequencing/navigation_look_ahead.ts
  test/cmi/scorm2004/sequencing/navigation_look_ahead.spec.ts
Due: core, cmi_scorm2004

[skip ci] Add changes during build
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/types/cmi/scorm2004/sequencing/navigation_look_ahead.d.ts.map
Due: none

[skip ci] Bump version to 3.3.6
  package-lock.json
  package.json
Due: none

fix(scorm2004): read learner id lazily for sequencing state persistence
  src/Scorm2004API.ts
  test/api/SequencingPersistence.spec.ts
Due: core, scorm2004

docs(scorm2004): cite RTE 4.2.11 for learner id and note the load dedupe window
  src/Scorm2004API.ts
Due: core, scorm2004

fix(scorm2004): read learner id lazily for sequencing state persistence (#1693)
  src/Scorm2004API.ts
  test/api/SequencingPersistence.spec.ts
Due: core, scorm2004

[skip ci] Add changes during build
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/types/Scorm2004API.d.ts
  dist/types/Scorm2004API.d.ts.map
Due: none

[skip ci] Bump version to 3.3.7
  package-lock.json
  package.json
Due: none

fix(scorm2004): make session time accumulation idempotent and opt-in
  README.md
  docs-site/docs/configuration/settings-reference.md
  docs-site/docs/lms-integration/integration-guide.md
  src/Scorm2004API.ts
  src/cmi/scorm2004/cmi.ts
  src/cmi/scorm2004/session.ts
  src/constants/default_settings.ts
  src/types/api_types.ts
  test/api/Scorm2004API.sessionTime.spec.ts
  test/cmi/scorm2004_session.spec.ts
Due: core, cmi_scorm2004, scorm2004

fix(scorm2004): make session time accumulation idempotent and opt-in (#1694)
  README.md
  docs-site/docs/configuration/settings-reference.md
  docs-site/docs/lms-integration/integration-guide.md
  src/Scorm2004API.ts
  src/cmi/scorm2004/cmi.ts
  src/cmi/scorm2004/session.ts
  src/constants/default_settings.ts
  src/types/api_types.ts
  test/api/Scorm2004API.sessionTime.spec.ts
  test/cmi/scorm2004_session.spec.ts
Due: core, cmi_scorm2004, scorm2004

[skip ci] Add changes during build
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm12.js
  dist/esm/scorm12.js.map
  dist/esm/scorm12.min.js
  dist/esm/scorm12.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm12.js
  dist/scorm12.js.map
  dist/scorm12.min.js
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/types/Scorm2004API.d.ts.map
  dist/types/cmi/scorm2004/cmi.d.ts.map
  dist/types/cmi/scorm2004/session.d.ts.map
  dist/types/constants/default_settings.d.ts.map
  dist/types/types/api_types.d.ts
  dist/types/types/api_types.d.ts.map
Due: none

[skip ci] Bump version to 3.3.8
  package-lock.json
  package.json
Due: none

feat(docs): add Umami analytics to the docs site
  .github/workflows/pages.yml
  docs-site/.vitepress/config.ts
  docs-site/.vitepress/theme/index.ts
  docs-site/.vitepress/theme/umamiTracking.ts
  docs-site/README.md
Due: none

feat(docs): add Umami analytics to the docs site (#1695)
  .github/workflows/pages.yml
  docs-site/.vitepress/config.ts
  docs-site/.vitepress/theme/index.ts
  docs-site/.vitepress/theme/umamiTracking.ts
  docs-site/README.md
Due: none

chore: replace eslint and typescript-eslint with oxlint
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/main.yml
  .oxlintrc.json
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  eslint.config.js
  package-lock.json
  package.json
Due: none

feat: enable type-aware linting with oxlint-tsgolint
  .github/dependabot.yml
  src/BaseAPI.ts
  src/Scorm2004API.ts
  src/cmi/scorm2004/sequencing/sequencing.ts
  src/cmi/scorm2004/sequencing/services/global_objective_service.ts
  src/interfaces/services.ts
  src/services/AsynchronousHttpService.ts
  src/services/ErrorHandlingService.ts
  src/types/api_types.ts
  src/types/scheduled_commit.ts
  src/utilities/scorm12-lms-helpers/scorm12_sequencer.ts
Due: core, cmi_scorm2004, services, scorm2004

test: stop reassigning window.document in delivery validator spec
  test/cmi/scorm2004/sequencing/validation/delivery_validator.spec.ts
Due: none

fix(sequencing): stop default rollup from reading unknown children as known
  src/cmi/scorm2004/sequencing/rollup/objective_rollup.ts
  src/cmi/scorm2004/sequencing/rollup/progress_rollup.ts
  src/cmi/scorm2004/sequencing/rollup/rollup_child_filter.ts
  test/cmi/scorm2004/sequencing/objective_rollup_using_default.spec.ts
  test/cmi/scorm2004/sequencing/progress_rollup_using_default.spec.ts
  test/cmi/scorm2004/sequencing/rollup/rollup_child_filter.spec.ts
  test/cmi/scorm2004/sequencing/rollup_processes.spec.ts
Due: core, cmi_scorm2004

fix(serialization): report the course root status on every commit
  src/serialization/scorm2004_data_serializer.ts
  test/serialization/scorm2004_data_serializer.spec.ts
Due: core

fix(utilities): round the summed seconds in getSecondsAsISODuration
  src/utilities/core.ts
  test/utils/utilities.spec.ts
Due: core

fix(sequencing): exempt a suspended activity from limit conditions
  src/cmi/scorm2004/sequencing/activity.ts
  src/cmi/scorm2004/sequencing/rules/rule_evaluation_engine.ts
  src/cmi/scorm2004/sequencing/validation/delivery_validator.ts
  test/cmi/scorm2004/sequencing/rule_condition_additional_edge_cases.spec.ts
  test/cmi/scorm2004/sequencing/rules/rule_evaluation_engine.spec.ts
  test/cmi/scorm2004/sequencing/validation/delivery_validator.spec.ts
Due: core, cmi_scorm2004

fix(sequencing): default rollup unknown handling, suspended limit conditions, course status on commit (#1698)
  src/cmi/scorm2004/sequencing/activity.ts
  src/cmi/scorm2004/sequencing/rollup/objective_rollup.ts
  src/cmi/scorm2004/sequencing/rollup/progress_rollup.ts
  src/cmi/scorm2004/sequencing/rollup/rollup_child_filter.ts
  src/cmi/scorm2004/sequencing/rules/rule_evaluation_engine.ts
  src/cmi/scorm2004/sequencing/validation/delivery_validator.ts
  src/serialization/scorm2004_data_serializer.ts
  src/utilities/core.ts
  test/cmi/scorm2004/sequencing/objective_rollup_using_default.spec.ts
  test/cmi/scorm2004/sequencing/progress_rollup_using_default.spec.ts
  test/cmi/scorm2004/sequencing/rollup/rollup_child_filter.spec.ts
  test/cmi/scorm2004/sequencing/rollup_processes.spec.ts
  test/cmi/scorm2004/sequencing/rule_condition_additional_edge_cases.spec.ts
  test/cmi/scorm2004/sequencing/rules/rule_evaluation_engine.spec.ts
  test/cmi/scorm2004/sequencing/validation/delivery_validator.spec.ts
  test/serialization/scorm2004_data_serializer.spec.ts
  test/utils/utilities.spec.ts
Due: core, cmi_scorm2004

[skip ci] Bump version to 3.3.9
  package-lock.json
  package.json
Due: none

fix(sequencing): stop Continue ending the session at a blocked activity
  src/cmi/scorm2004/sequencing/traversal/flow_traversal_service.ts
  test/cmi/scorm2004/sequencing/delivery_request_process.spec.ts
  test/cmi/scorm2004/sequencing/end_sequencing_session.spec.ts
  test/cmi/scorm2004/sequencing/enhanced_delivery_validation.spec.ts
  test/cmi/scorm2004/sequencing/flow_control_check.spec.ts
  test/cmi/scorm2004/sequencing/flow_processes.spec.ts
  test/cmi/scorm2004/sequencing/navigation_look_ahead.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_process.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_requests.spec.ts
  test/cmi/scorm2004/sequencing/start_flow_controls.spec.ts
  test/cmi/scorm2004/sequencing/traversal/flow_traversal_service.spec.ts
Due: core, cmi_scorm2004

fix: preserve navigation validity when restoring sequencing state
  src/persistence/sequencing_state_persistence.ts
  test/api/SequencingPersistence.spec.ts
  test/persistence/sequencing_state_persistence.spec.ts
Due: core

Path conditions:
  core: any of: src/**
  cmi_common: any of: src/cmi/common/**
  cmi_aicc: any of: src/cmi/aicc/**
  cmi_scorm12: any of: src/cmi/scorm12/**
  cmi_scorm2004: any of: src/cmi/scorm2004/**
  services: any of: src/services/**
  aicc: any of: src/AICC.ts
  scorm12: any of: src/Scorm12API.ts
  scorm2004: any of: src/Scorm2004API.ts
  cross_frame_lms: any of: src/CrossFrameLMS.ts
  cross_frame_api: any of: src/CrossFrameAPI.ts
