Repository jcputney/scorm-again: changes, and which Codecov flags are due for each by the changed paths.
All: core, cmi_common, cmi_aicc, cmi_scorm12, cmi_scorm2004, services, aicc, scorm12, scorm2004, cross_frame_lms, cross_frame_api

codecov.yaml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: core
      name: core
      paths:
        - src/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
        - type: patch
    - component_id: cmi_common
      name: cmi_common
      paths:
        - src/cmi/common/**
    - component_id: cmi_aicc
      name: cmi_aicc
      paths:
        - src/cmi/aicc/**
    - component_id: cmi_scorm12
      name: cmi_scorm12
      paths:
        - src/cmi/scorm12/**
    - component_id: cmi_scorm2004
      name: cmi_scorm2004
      paths:
        - src/cmi/scorm2004/**
    - component_id: services
      name: services
      paths:
        - src/services/**
    - component_id: aicc
      paths:
        - src/AICC.ts
    - component_id: scorm12
      paths:
        - src/Scorm12API.ts
    - component_id: scorm2004
      paths:
        - src/Scorm2004API.ts
    - component_id: cross_frame_lms
      paths:
        - src/CrossFrameLMS.ts
    - component_id: cross_frame_api
      paths:
        - src/CrossFrameAPI.ts

Add missing SCORM 1.2 error codes to test
  test/api/Scorm12API.additional.spec.ts
Due: none

Enforce SCORM 2004 ID uniqueness and immutability
  src/BaseAPI.ts
  src/Scorm2004API.ts
  src/cmi/scorm2004/interactions.ts
  src/cmi/scorm2004/objectives.ts
  test/api/ErrorConditions.spec.ts
  test/api/Scorm2004API.additional.spec.ts
  test/api/state-machine.spec.ts
  test/cmi/common/array_sequential_index.spec.ts
  test/cmi/scorm2004_objectives.spec.ts
  test/performance/StressTests.spec.ts
Due: core, cmi_scorm2004, scorm2004

feat(sequencing): implement cluster suspend propagation (REQ-5.2.4, REQ-5.2.5)
  src/cmi/scorm2004/sequencing/activity_tree.ts
  test/cmi/scorm2004/sequencing/activity_tree.spec.ts
Due: core, cmi_scorm2004

fix(scorm2004): change audio_captioning default from '0' to '-1' per spec
  src/cmi/scorm2004/learner_preference.ts
  test/cmi/scorm2004_learner_preference.spec.ts
Due: core, cmi_scorm2004

feat(sequencing): treat cmi.exit='logout' as exitAll (REQ-NAV-025)
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  test/cmi/scorm2004/sequencing/overall_sequencing_process.spec.ts
Due: core, cmi_scorm2004

fix(scorm2004): reject zero delivery_speed per spec (requires > 0)
  src/cmi/scorm2004/learner_preference.ts
  test/cmi/scorm2004_learner_preference.spec.ts
Due: core, cmi_scorm2004

feat(sequencing): implement tracked delivery control for rollup exclusion
  src/cmi/scorm2004/sequencing/rollup_process.ts
  src/cmi/scorm2004/sequencing/sequencing_controls.ts
  test/cmi/scorm2004/sequencing/delivery_controls.spec.ts
Due: core, cmi_scorm2004

fix(scorm2004): change total_time default from '' to 'PT0S' per spec
  src/cmi/scorm2004/session.ts
  test/cmi/scorm2004_cmi.spec.ts
  test/cmi/scorm2004_components.spec.ts
  test/cmi/scorm2004_session.spec.ts
Due: core, cmi_scorm2004

feat(sequencing): implement completionSetByContent and objectiveSetByContent delivery controls
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  test/cmi/scorm2004/sequencing/delivery_controls.spec.ts
Due: core, cmi_scorm2004

fix(scorm2004): enforce adl.nav.request as write-only per spec
  src/Scorm2004API.ts
  test/api/ErrorConditions.spec.ts
  test/api/Scorm2004API.navigation.spec.ts
  test/integration/ContentPackagingOneFilePerSCO_SCORM20043rdEdition.spec.ts
  test/integration/suites/scorm2004-navigation.spec.ts
  test/integration/suites/scorm2004-navigation.ts
Due: core, scorm2004

feat(sequencing): validate activity state and selectionCountStatus for selection/randomization (SR.1, SR.2)
  src/cmi/scorm2004/sequencing/selection_randomization.ts
  test/cmi/scorm2004/sequencing/selection_randomization.spec.ts
Due: core, cmi_scorm2004

feat(scorm2004): implement success_status evaluation in GetValue
  src/Scorm2004API.ts
  test/cmi/scorm2004_status.spec.ts
Due: core, scorm2004

test(sequencing): add abandon navigation request tests (REQ-NAV-013, REQ-NAV-014)
  test/cmi/scorm2004/sequencing/navigation_request_process.spec.ts
Due: none

Fix test values for SCORM 2004 read-only fields with validation
  test/cmi/scorm2004_cmi.spec.ts
Due: none

test(sequencing): add resume fallback behavior tests (REQ-4.2.3)
  test/cmi/scorm2004/sequencing/resume_fallback.spec.ts
Due: none

Add SCORM 2004 validation for completion_threshold, scaled_passing_score, and max_time_allowed
  src/cmi/scorm2004/settings.ts
  src/cmi/scorm2004/thresholds.ts
  test/cmi/scorm2004_settings.spec.ts
  test/cmi/scorm2004_thresholds.spec.ts
Due: core, cmi_scorm2004

Add vocabulary validation for SCORM 2004 settings fields
  src/cmi/scorm2004/settings.ts
  test/cmi/scorm2004_settings.spec.ts
Due: core, cmi_scorm2004

test(sequencing): add satisfaction by measure edge case tests
  test/cmi/scorm2004/sequencing/satisfaction_by_measure.spec.ts
Due: none

Add determineEntryValue() helper for SCORM 2004 cmi.entry
  src/Scorm2004API.ts
  test/api/Scorm2004API.determineEntryValue.spec.ts
  test/cmi/scorm2004/sequencing/satisfaction_by_measure.spec.ts
Due: core, scorm2004

test(sequencing): add tests for current vs. cumulative tracking modes
  test/cmi/scorm2004/sequencing/tracking_modes.spec.ts
Due: none

test(sequencing): add auto-progress integration tests (REQ-NAV-058)
  test/cmi/scorm2004/sequencing/auto_progress.spec.ts
Due: none

test(sequencing): add comprehensive global objective mapping tests
  test/cmi/scorm2004/sequencing/objective_mapping.spec.ts
Due: none
