Repository jcputney/scorm-again: changes, and which Codecov flags are due for each by the changed paths.
All: core, cmi_common, cmi_aicc, cmi_scorm12, cmi_scorm2004, services, aicc, scorm12, scorm2004, cross_frame_lms, cross_frame_api

test(offline): add test for queue integrity during partial sync failures
  test/services/OfflineStorageService.spec.ts
Due: none

test(offline): add tests for various HTTP error status codes
  test/services/OfflineStorageService.spec.ts
Due: none

test(offline): add test for concurrent sync prevention
  test/services/OfflineStorageService.spec.ts
Due: none

feat: add Player Wrapper Integration Guide with demos
  README.md
  demos/player-wrapper/package.json
  demos/player-wrapper/scorm12-multi-sco/index.html
  demos/player-wrapper/scorm12-multi-sco/player.js
  demos/player-wrapper/scorm12-multi-sco/sample-course/manifest.json
  demos/player-wrapper/scorm12-multi-sco/sample-course/sco1/index.html
  demos/player-wrapper/scorm12-multi-sco/sample-course/sco2/index.html
  demos/player-wrapper/scorm12-multi-sco/sample-course/sco3/index.html
  demos/player-wrapper/scorm2004-sequenced/index.html
  demos/player-wrapper/scorm2004-sequenced/player.js
  demos/player-wrapper/scorm2004-sequenced/sample-course/final-assessment/index.html
  demos/player-wrapper/scorm2004-sequenced/sample-course/manifest.json
  demos/player-wrapper/scorm2004-sequenced/sample-course/module1/lesson1/index.html
  demos/player-wrapper/scorm2004-sequenced/sample-course/module1/lesson2/index.html
  demos/player-wrapper/scorm2004-sequenced/sample-course/module2/lesson1/index.html
  demos/player-wrapper/scorm2004-sequenced/sample-course/module2/quiz/index.html
  demos/player-wrapper/scorm2004-simple/index.html
  demos/player-wrapper/scorm2004-simple/player.js
  demos/player-wrapper/scorm2004-simple/sample-course/manifest.json
  demos/player-wrapper/scorm2004-simple/sample-course/sco1/index.html
  demos/player-wrapper/scorm2004-simple/sample-course/sco2/index.html
  demos/player-wrapper/scorm2004-simple/sample-course/sco3/index.html
  demos/player-wrapper/shared/mock-sco/index.html
  demos/player-wrapper/shared/mock-sco/sco.js
  demos/player-wrapper/shared/player-core.css
  demos/player-wrapper/shared/player-core.js
  docs/lms-integration/README.md
  docs/lms-integration/player-event-adapter.md
  docs/lms-integration/player-wrapper-guide.md
  package-lock.json
  package.json
  playwright.config.ts
  src/utilities/PlayerEventAdapter.ts
  src/utilities/index.ts
  test/integration/demos/fixtures.ts
  test/integration/demos/player-wrapper.spec.ts
Due: core

Remove AICC support and references from codebase
  .claude/agents/scorm-compliance-reviewer.md
  .claude/agents/scorm-implementation-expert.md
  .claude/agents/typescript-reviewer.md
  AGENTS.md
  README.md
  docs/api_usage/troubleshooting/troubleshooting_guide.md
  docs/api_usage/use_cases/common_use_cases.md
  docs/developer/development_workflow.md
  docs/developer/testing_strategy.md
  docs/scorm12_compliance_review.md
  src/cmi/scorm12/cmi.ts
  src/constants/regex.ts
  test/integration/dist_test.html
  test/integration/helpers/scorm-common-helpers.ts
  test/integration/suites/scorm-common-api.spec.ts
  test/integration/suites/scorm-common-api.ts
  test/integration/suites/scorm12-data-model.ts
Due: core, cmi_scorm12

Remove obsolete implementation and design plan docs
  docs/plans/2024-12-13-gap-analysis-implementation-plan.md
  docs/plans/2024-12-13-implementation-session-prompt.md
  docs/plans/2025-11-13-scorm-compliant-http-service-design.md
  docs/plans/2025-11-13-scorm-compliant-http-service.md
  docs/tasks.md
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  src/cmi/scorm2004/sequencing/rollup_process.ts
  src/cmi/scorm2004/sequencing/sequencing_process.ts
  src/services/SequencingService.ts
  test/api/Scorm12API.spec.ts
  test/cmi/scorm2004/sequencing/activity_active_check.spec.ts
  test/cmi/scorm2004/sequencing/auto_completion_satisfaction.spec.ts
  test/cmi/scorm2004/sequencing/choice_availability.spec.ts
  test/cmi/scorm2004/sequencing/choice_validation.spec.ts
  test/cmi/scorm2004/sequencing/completion_measure_rollup.spec.ts
  test/cmi/scorm2004/sequencing/delivery_request_process.spec.ts
  test/cmi/scorm2004/sequencing/duration_rollup.spec.ts
  test/cmi/scorm2004/sequencing/end_sequencing_session.spec.ts
  test/cmi/scorm2004/sequencing/enhanced_delivery_validation.spec.ts
  test/cmi/scorm2004/sequencing/error_codes.spec.ts
  test/cmi/scorm2004/sequencing/flow_control_check.spec.ts
  test/cmi/scorm2004/sequencing/flow_processes.spec.ts
  test/cmi/scorm2004/sequencing/overall_sequencing_process.spec.ts
  test/cmi/scorm2004/sequencing/randomization_timing.spec.ts
  test/cmi/scorm2004/sequencing/retry_attempt_count.spec.ts
  test/cmi/scorm2004/sequencing/rte_data_transfer.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_process.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_requests.spec.ts
  test/cmi/scorm2004/sequencing/start_flow_controls.spec.ts
  test/cmi/scorm2004/sequencing/state_persistence.spec.ts
  test/cmi/scorm2004/sequencing/termination_post_condition_loop.spec.ts
  test/cmi/scorm2004/sequencing/termination_request_process.spec.ts
  test/services/SequencingService.spec.ts
Due: core, cmi_scorm2004, services

Apply code style fixes and add SCORM design doc
  docs/SCORM_DESIGN_DECISIONS.md
  src/constants/regex.ts
  src/services/SequencingService.ts
  test/api/Scorm12API.spec.ts
  test/api/error-scenarios.spec.ts
  test/services/SequencingService.spec.ts
Due: core, services

Update run configs to use 'node' interpreter and enable JS debugger
  .run/Integration Tests.run.xml
  .run/build_all.run.xml
  .run/fix.run.xml
  .run/test_integration_server.run.xml
Due: none

Add Kotlin Multiplatform SCORM offline usage guide
  docs/api_usage/examples/offline/kotlin_multiplatform.md
Due: none

feat(activity): add objectiveSatisfiedStatusKnown tracking property
  src/cmi/scorm2004/sequencing/activity.ts
  test/cmi/scorm2004/sequencing/activity.spec.ts
Due: core, cmi_scorm2004

fix(rollup): prevent duplicate objectives and set statusKnown flags
  src/cmi/scorm2004/sequencing/activity.ts
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  src/cmi/scorm2004/sequencing/rollup_process.ts
  test/cmi/scorm2004/sequencing/objective_mapping.spec.ts
Due: core, cmi_scorm2004

docs: analyze 5 failing tests after rollup fixes
  FAILING_TESTS_ANALYSIS.md
Due: none

fix(rollup): OBJECTIVE_STATUS_KNOWN now checks satisfiedStatusKnown
  src/cmi/scorm2004/sequencing/rollup_rules.ts
  test/cmi/scorm2004/sequencing/rollup_rules_additional.spec.ts
Due: core, cmi_scorm2004

fix(rollup): only set objectiveMeasureStatus in measure rollup
  src/cmi/scorm2004/sequencing/rollup_process.ts
  test/cmi/scorm2004/sequencing/rollup_processes.spec.ts
Due: core, cmi_scorm2004

fix(sequencing): restore isActivityDisabled check in choice navigation
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
Due: core, cmi_scorm2004

feat(activity): add dirty flag tracking for objective properties
  src/cmi/scorm2004/sequencing/activity.ts
Due: core, cmi_scorm2004

fix(types): add missing progressStatus to ActivityObjectiveState snapshots
  src/cmi/scorm2004/sequencing/activity.ts
Due: core, cmi_scorm2004

fix(objective): clear dirty flags on reset, set on updateFromActivity
  src/cmi/scorm2004/sequencing/activity.ts
Due: core, cmi_scorm2004

feat(objective): add dirty flag tracking for sync optimization
  src/cmi/scorm2004/sequencing/activity.ts
Due: core, cmi_scorm2004

docs(rollup): clarify derived satisfaction dirty flag clearing
  src/cmi/scorm2004/sequencing/rollup_process.ts
Due: core, cmi_scorm2004

fix(rollup): clear satisfiedStatus dirty flag when derived from measure
  src/cmi/scorm2004/sequencing/rollup_process.ts
Due: core, cmi_scorm2004

fix(objective): add documentation and test coverage for measureStatus
  src/cmi/scorm2004/sequencing/activity.ts
  test/cmi/scorm2004/sequencing/rte_data_transfer.spec.ts
Due: core, cmi_scorm2004

fix(activity): correct dirty flag tracking edge cases
  src/cmi/scorm2004/sequencing/activity.ts
Due: core, cmi_scorm2004

fix(rollup): only write to global objectives when dirty flag is set
  src/cmi/scorm2004/sequencing/rollup_process.ts
Due: core, cmi_scorm2004

feat(objective): ensure initial CMI values are marked dirty for global sync
  src/cmi/scorm2004/sequencing/activity.ts
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  test/cmi/scorm2004/sequencing/rte_data_transfer.spec.ts
Due: core, cmi_scorm2004

test(objective): add comprehensive dirty flag tracking tests
  test/cmi/scorm2004/sequencing/objective_dirty_tracking.spec.ts
Due: none

fix(sequencing): remove broken async storage check in resource validation
  docs/review-results/SEC-001-REVIEW.md
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
Due: core, cmi_scorm2004

test(objective): update bidirectional sync tests for dirty flag tracking
  test/cmi/scorm2004/sequencing/objective_mapping.spec.ts
Due: none

security: eliminate Function() constructor code injection vulnerability
  REVIEW_PLAN.md
  docs/REVIEW_HANDOFF.md
  docs/review-results/BASEAPI-SUMMARY.md
  docs/review-results/FINAL-REVIEW-REPORT.md
  docs/review-results/WAVE1-CORE-APIS-SUMMARY.md
  docs/review-results/WAVE2-SEQUENCING-SUMMARY.md
  docs/review-results/WAVE3-SCORM2004-CMI-SUMMARY.md
  docs/review-results/WAVE4-SCORM12-CMI-SUMMARY.md
  docs/review-results/WAVE5-SERVICES-SUMMARY.md
  docs/review-results/WAVE6-UTILS-SUMMARY.md
  docs/review-results/WAVE7-TYPES-SUMMARY.md
  docs/review-results/WAVE8-CROSS-CUTTING-SUMMARY.md
  src/Scorm2004API.ts
  src/utilities.ts
  test/api/Scorm2004API.additional.spec.ts
  test/utils/utilities.spec.ts
Due: core, scorm2004

refactor: remove debug console.log statements from production code
  src/BaseAPI.ts
  src/cmi/scorm2004/adl.ts
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
Due: core, cmi_scorm2004

fix(sequencing): add full ISO 8601 duration support for date components
  src/cmi/scorm2004/sequencing/sequencing_rules.ts
  src/utilities.ts
  test/cmi/scorm2004/sequencing/parse_iso8601_duration.spec.ts
Due: core, cmi_scorm2004

security(crossframe): add console warnings for wildcard origin usage
  src/CrossFrameAPI.ts
  src/CrossFrameLMS.ts
  test/facades/CrossFrameFacade.spec.ts
Due: core, cross_frame_lms, cross_frame_api

fix(objective): reset all CMIObjectivesObject properties to defaults
  src/cmi/scorm2004/objectives.ts
  test/cmi/scorm2004/objectives.spec.ts
Due: core, cmi_scorm2004

fix(CrossFrameLMS): add type validation for ev.source in message handler
  src/CrossFrameLMS.ts
  test/facades/CrossFrameFacade.spec.ts
Due: core, cross_frame_lms

fix(sequencing): add setCurrentActivityWithoutActivation method
  src/cmi/scorm2004/sequencing/activity_tree.ts
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  test/cmi/scorm2004/sequencing/exit_parent_state_consistency.spec.ts
Due: core, cmi_scorm2004

fix(sequencing): add infinite loop safeguards to backward traversal
  src/cmi/scorm2004/sequencing/sequencing_process.ts
  test/cmi/scorm2004/sequencing/backward_traversal_safeguards.spec.ts
Due: core, cmi_scorm2004

refactor(BaseAPI): remove 'as any' type assertions in _checkForDuplicateId
  src/BaseAPI.ts
Due: core

fix(interactions): correct performance pattern validation for decimal numbers
  src/cmi/scorm2004/interactions.ts
  test/cmi/scorm2004/interactions_pattern_validation.spec.ts
  test/cmi/scorm2004_interactions_additional.spec.ts
Due: core, cmi_scorm2004

Path conditions:
  core: any of: src/**
  cmi_common: any of: src/cmi/common/**
  cmi_aicc: any of: src/cmi/aicc/**
  cmi_scorm12: any of: src/cmi/scorm12/**
  cmi_scorm2004: any of: src/cmi/scorm2004/**
  services: any of: src/services/**
  aicc: any of: src/AICC.ts
  scorm12: any of: src/Scorm12API.ts
  scorm2004: any of: src/Scorm2004API.ts
  cross_frame_lms: any of: src/CrossFrameLMS.ts
  cross_frame_api: any of: src/CrossFrameAPI.ts
