Repository jcputney/scorm-again: changes, and which Codecov flags are due for each by the changed paths.
All: core, cmi_common, cmi_aicc, cmi_scorm12, cmi_scorm2004, services, aicc, scorm12, scorm2004, cross_frame_lms, cross_frame_api

codecov.yaml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: core
      name: core
      paths:
        - src/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
        - type: patch
    - component_id: cmi_common
      name: cmi_common
      paths:
        - src/cmi/common/**
    - component_id: cmi_aicc
      name: cmi_aicc
      paths:
        - src/cmi/aicc/**
    - component_id: cmi_scorm12
      name: cmi_scorm12
      paths:
        - src/cmi/scorm12/**
    - component_id: cmi_scorm2004
      name: cmi_scorm2004
      paths:
        - src/cmi/scorm2004/**
    - component_id: services
      name: services
      paths:
        - src/services/**
    - component_id: aicc
      paths:
        - src/AICC.ts
    - component_id: scorm12
      paths:
        - src/Scorm12API.ts
    - component_id: scorm2004
      paths:
        - src/Scorm2004API.ts
    - component_id: cross_frame_lms
      paths:
        - src/CrossFrameLMS.ts
    - component_id: cross_frame_api
      paths:
        - src/CrossFrameAPI.ts

fix(offline): await storeOffline completion before returning success
  src/BaseAPI.ts
  src/Scorm12API.ts
  src/Scorm2004API.ts
  src/interfaces/IBaseAPI.ts
  test/api/BaseAPI.spec.ts
Due: core, scorm12, scorm2004

Revert "fix(offline): await storeOffline completion before returning success"
  src/BaseAPI.ts
  src/Scorm12API.ts
  src/Scorm2004API.ts
  src/interfaces/IBaseAPI.ts
  test/api/BaseAPI.spec.ts
Due: core, scorm12, scorm2004

fix(offline): return actual storage result using sync localStorage
  src/BaseAPI.ts
  src/CrossFrameAPI.ts
  src/CrossFrameLMS.ts
  src/services/OfflineStorageService.ts
  test/api/BaseAPI.spec.ts
  test/facades/CrossFrameFacade.spec.ts
  test/services/OfflineStorageService.spec.ts
Due: core, services, cross_frame_lms, cross_frame_api

test(offline): add tests documenting event integration points
  test/services/OfflineStorageService.spec.ts
Due: none

test(offline): add test for concurrent sync prevention
  test/services/OfflineStorageService.spec.ts
Due: none

test(offline): add tests for various HTTP error status codes
  test/services/OfflineStorageService.spec.ts
Due: none

test(offline): add test for queue integrity during partial sync failures
  test/services/OfflineStorageService.spec.ts
Due: none

feat: add Player Wrapper Integration Guide with demos
  README.md
  demos/player-wrapper/package.json
  demos/player-wrapper/scorm12-multi-sco/index.html
  demos/player-wrapper/scorm12-multi-sco/player.js
  demos/player-wrapper/scorm12-multi-sco/sample-course/manifest.json
  demos/player-wrapper/scorm12-multi-sco/sample-course/sco1/index.html
  demos/player-wrapper/scorm12-multi-sco/sample-course/sco2/index.html
  demos/player-wrapper/scorm12-multi-sco/sample-course/sco3/index.html
  demos/player-wrapper/scorm2004-sequenced/index.html
  demos/player-wrapper/scorm2004-sequenced/player.js
  demos/player-wrapper/scorm2004-sequenced/sample-course/final-assessment/index.html
  demos/player-wrapper/scorm2004-sequenced/sample-course/manifest.json
  demos/player-wrapper/scorm2004-sequenced/sample-course/module1/lesson1/index.html
  demos/player-wrapper/scorm2004-sequenced/sample-course/module1/lesson2/index.html
  demos/player-wrapper/scorm2004-sequenced/sample-course/module2/lesson1/index.html
  demos/player-wrapper/scorm2004-sequenced/sample-course/module2/quiz/index.html
  demos/player-wrapper/scorm2004-simple/index.html
  demos/player-wrapper/scorm2004-simple/player.js
  demos/player-wrapper/scorm2004-simple/sample-course/manifest.json
  demos/player-wrapper/scorm2004-simple/sample-course/sco1/index.html
  demos/player-wrapper/scorm2004-simple/sample-course/sco2/index.html
  demos/player-wrapper/scorm2004-simple/sample-course/sco3/index.html
  demos/player-wrapper/shared/mock-sco/index.html
  demos/player-wrapper/shared/mock-sco/sco.js
  demos/player-wrapper/shared/player-core.css
  demos/player-wrapper/shared/player-core.js
  docs/lms-integration/README.md
  docs/lms-integration/player-event-adapter.md
  docs/lms-integration/player-wrapper-guide.md
  package-lock.json
  package.json
  playwright.config.ts
  src/CrossFrameAPI.ts
  src/CrossFrameLMS.ts
  src/utilities/PlayerEventAdapter.ts
  src/utilities/index.ts
  test/facades/CrossFrameFacade.spec.ts
  test/integration/demos/fixtures.ts
  test/integration/demos/player-wrapper.spec.ts
Due: core, cross_frame_lms, cross_frame_api

Update run configs to use 'node' interpreter and enable JS debugger
  .run/Integration Tests.run.xml
  .run/build_all.run.xml
  .run/fix.run.xml
  .run/test_integration_server.run.xml
Due: none

Add Kotlin Multiplatform SCORM offline usage guide
  docs/api_usage/examples/offline/kotlin_multiplatform.md
Due: none

Remove obsolete implementation and design plan docs
  docs/plans/2024-12-13-gap-analysis-implementation-plan.md
  docs/plans/2024-12-13-implementation-session-prompt.md
  docs/plans/2025-11-13-scorm-compliant-http-service-design.md
  docs/plans/2025-11-13-scorm-compliant-http-service.md
  docs/tasks.md
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  src/cmi/scorm2004/sequencing/rollup_process.ts
  src/cmi/scorm2004/sequencing/sequencing_process.ts
  src/services/SequencingService.ts
  test/api/Scorm12API.spec.ts
  test/cmi/scorm2004/sequencing/activity_active_check.spec.ts
  test/cmi/scorm2004/sequencing/auto_completion_satisfaction.spec.ts
  test/cmi/scorm2004/sequencing/choice_availability.spec.ts
  test/cmi/scorm2004/sequencing/choice_validation.spec.ts
  test/cmi/scorm2004/sequencing/completion_measure_rollup.spec.ts
  test/cmi/scorm2004/sequencing/delivery_request_process.spec.ts
  test/cmi/scorm2004/sequencing/duration_rollup.spec.ts
  test/cmi/scorm2004/sequencing/end_sequencing_session.spec.ts
  test/cmi/scorm2004/sequencing/enhanced_delivery_validation.spec.ts
  test/cmi/scorm2004/sequencing/error_codes.spec.ts
  test/cmi/scorm2004/sequencing/flow_control_check.spec.ts
  test/cmi/scorm2004/sequencing/flow_processes.spec.ts
  test/cmi/scorm2004/sequencing/overall_sequencing_process.spec.ts
  test/cmi/scorm2004/sequencing/randomization_timing.spec.ts
  test/cmi/scorm2004/sequencing/retry_attempt_count.spec.ts
  test/cmi/scorm2004/sequencing/rte_data_transfer.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_process.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_requests.spec.ts
  test/cmi/scorm2004/sequencing/start_flow_controls.spec.ts
  test/cmi/scorm2004/sequencing/state_persistence.spec.ts
  test/cmi/scorm2004/sequencing/termination_post_condition_loop.spec.ts
  test/cmi/scorm2004/sequencing/termination_request_process.spec.ts
  test/services/SequencingService.spec.ts
Due: core, cmi_scorm2004, services

Remove AICC support and references from codebase
  .claude/agents/scorm-compliance-reviewer.md
  .claude/agents/scorm-implementation-expert.md
  .claude/agents/typescript-reviewer.md
  AGENTS.md
  README.md
  docs/api_usage/troubleshooting/troubleshooting_guide.md
  docs/api_usage/use_cases/common_use_cases.md
  docs/developer/development_workflow.md
  docs/developer/testing_strategy.md
  docs/scorm12_compliance_review.md
  src/cmi/scorm12/cmi.ts
  src/constants/regex.ts
  test/integration/dist_test.html
  test/integration/helpers/scorm-common-helpers.ts
  test/integration/suites/scorm-common-api.spec.ts
  test/integration/suites/scorm-common-api.ts
  test/integration/suites/scorm12-data-model.ts
Due: core, cmi_scorm12

Apply code style fixes and add SCORM design doc
  docs/SCORM_DESIGN_DECISIONS.md
  src/constants/regex.ts
  src/services/SequencingService.ts
  test/api/Scorm12API.spec.ts
  test/api/error-scenarios.spec.ts
  test/services/SequencingService.spec.ts
Due: core, services

feat(activity): add objectiveSatisfiedStatusKnown tracking property
  src/cmi/scorm2004/sequencing/activity.ts
  test/cmi/scorm2004/sequencing/activity.spec.ts
Due: core, cmi_scorm2004

fix(rollup): OBJECTIVE_STATUS_KNOWN now checks satisfiedStatusKnown
  src/cmi/scorm2004/sequencing/rollup_rules.ts
  test/cmi/scorm2004/sequencing/rollup_rules_additional.spec.ts
Due: core, cmi_scorm2004

fix(rollup): only set objectiveMeasureStatus in measure rollup
  src/cmi/scorm2004/sequencing/rollup_process.ts
  test/cmi/scorm2004/sequencing/rollup_processes.spec.ts
Due: core, cmi_scorm2004

docs: analyze 5 failing tests after rollup fixes
  FAILING_TESTS_ANALYSIS.md
Due: none

fix(rollup): prevent duplicate objectives and set statusKnown flags
  src/cmi/scorm2004/sequencing/activity.ts
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  src/cmi/scorm2004/sequencing/rollup_process.ts
  test/cmi/scorm2004/sequencing/objective_mapping.spec.ts
Due: core, cmi_scorm2004
