Repository jcputney/scorm-again: changes, and which Codecov flags are due for each by the changed paths.
All: core, cmi_common, cmi_aicc, cmi_scorm12, cmi_scorm2004, services, aicc, scorm12, scorm2004, cross_frame_lms, cross_frame_api

codecov.yaml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: core
      name: core
      paths:
        - src/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
        - type: patch
    - component_id: cmi_common
      name: cmi_common
      paths:
        - src/cmi/common/**
    - component_id: cmi_aicc
      name: cmi_aicc
      paths:
        - src/cmi/aicc/**
    - component_id: cmi_scorm12
      name: cmi_scorm12
      paths:
        - src/cmi/scorm12/**
    - component_id: cmi_scorm2004
      name: cmi_scorm2004
      paths:
        - src/cmi/scorm2004/**
    - component_id: services
      name: services
      paths:
        - src/services/**
    - component_id: aicc
      paths:
        - src/AICC.ts
    - component_id: scorm12
      paths:
        - src/Scorm12API.ts
    - component_id: scorm2004
      paths:
        - src/Scorm2004API.ts
    - component_id: cross_frame_lms
      paths:
        - src/CrossFrameLMS.ts
    - component_id: cross_frame_api
      paths:
        - src/CrossFrameAPI.ts

fix(scorm2004): log uninitialized-GetValue 403 at WARN by default (#1626) (#1647)
  README.md
  src/BaseAPI.ts
  src/Scorm2004API.ts
  src/constants/default_settings.ts
  src/interfaces/services.ts
  src/services/ErrorHandlingService.ts
  src/types/api_types.ts
  test/api/BaseAPI.spec.ts
  test/api/Scorm2004API.uninitializedGet.spec.ts
  test/services/ErrorHandlingService.spec.ts
Due: core, services, scorm2004

chore: bump version to 3.2.0
  package-lock.json
  package.json
Due: none

chore: bump version to 3.2.0 (#1652)
  package-lock.json
  package.json
Due: none

[skip ci] Bump version to 3.2.1
  package-lock.json
  package.json
Due: none

fix(scorm2004): align LMS sequencing lifecycle contracts
  src/Scorm2004API.ts
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  src/cmi/scorm2004/sequencing/services/navigation_validity_service.ts
  src/types/sequencing_types.ts
  src/utilities/PlayerEventAdapter.ts
  test/api/SequencingPersistence.spec.ts
  test/cmi/scorm2004/sequencing/overall_sequencing_process.spec.ts
  test/utilities/PlayerEventAdapter.spec.ts
Due: core, cmi_scorm2004, scorm2004

docs(scorm2004): update sequencing LMS integration
  README.md
  docs-site/docs/advanced/sequencing.md
  docs-site/docs/api-reference/scorm2004-api.md
  docs-site/docs/configuration/settings-reference.md
  docs-site/docs/lms-integration/api-events-reference.md
  docs-site/docs/lms-integration/integration-guide.md
  docs-site/docs/lms-integration/player-wrapper-guide.md
  docs/lms-integration/data-requirements-quick-reference.md
  docs/lms-integration/player-event-adapter.md
  docs/sequencing/README.md
Due: none

fix(demo): align sequenced player activity delivery
  demos/player-wrapper/scorm2004-sequenced/player.js
  test/integration/demos/player-wrapper.spec.ts
Due: none

test(integration): exercise termination-driven sequencing
  test/integration/SequencingForcedSequential_SCORM20043rdEdition.spec.ts
  test/integration/SequencingPostTestRollup4thEd_SCORM20044thEdition.spec.ts
  test/integration/SequencingPostTestRollup_SCORM20043rdEdition.spec.ts
  test/integration/SequencingPreOrPostTestRollup_SCORM20043rdEdition.spec.ts
  test/integration/helpers/scorm2004-helpers.ts
Due: none

chore(deps): update audited transitive dependencies
  package-lock.json
Due: none

chore: bump version to 3.3.0
  package-lock.json
  package.json
Due: none

chore: bump version to 3.3.0 (#1666)
  package-lock.json
  package.json
Due: none

[skip ci] Bump version to 3.3.1
  package-lock.json
  package.json
Due: none

Remove audits
  README.md
Due: none

fix(scorm2004): allow Choice of the root activity, leave current alone on ABANDON
  src/cmi/scorm2004/sequencing/handlers/choice_request_handler.ts
  src/cmi/scorm2004/sequencing/handlers/termination_handler.ts
  src/cmi/scorm2004/sequencing/validators/choice_constraint_validator.ts
  src/constants/sequencing_exceptions.ts
  test/cmi/scorm2004/sequencing/choice_availability.spec.ts
  test/cmi/scorm2004/sequencing/choice_exit_hide.spec.ts
  test/cmi/scorm2004/sequencing/navigation_request_process.spec.ts
  test/cmi/scorm2004/sequencing/navigation_validity_complex.spec.ts
  test/cmi/scorm2004/sequencing/overall_sequencing_process.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_process.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_requests.spec.ts
  test/cmi/scorm2004/sequencing/termination_request_process.spec.ts
  test/cmi/scorm2004/sequencing/validators/choice_constraint_validator.spec.ts
  test/constants/sequencing_exceptions.spec.ts
Due: core, cmi_scorm2004

fix(deps): replace extract-zip with adm-zip
  package-lock.json
  package.json
  src/types/extract-zip.d.ts
  test/integration/setup.ts
  tsconfig.json
Due: core

fix(docs-site): override vulnerable build-time transitives
  docs-site/package-lock.json
  docs-site/package.json
Due: none

fix: clear npm audit findings blocking CI (#1670)
  docs-site/package-lock.json
  docs-site/package.json
  package-lock.json
  package.json
  src/types/extract-zip.d.ts
  test/integration/setup.ts
  tsconfig.json
Due: core

[skip ci] Add changes during build
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm12.js
  dist/scorm12.js.map
  dist/scorm12.min.js
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/types/cmi/scorm2004/sequencing/handlers/choice_request_handler.d.ts.map
  dist/types/cmi/scorm2004/sequencing/handlers/termination_handler.d.ts.map
  dist/types/cmi/scorm2004/sequencing/validators/choice_constraint_validator.d.ts.map
  dist/types/constants/sequencing_exceptions.d.ts
  dist/types/constants/sequencing_exceptions.d.ts.map
Due: none

[skip ci] Bump version to 3.3.2
  package-lock.json
  package.json
Due: none

ci: replace deprecated actions/attest-sbom with actions/attest
  .github/workflows/release.yml
Due: none

ci: drop stale dist files instead of carrying them forever
  .github/workflows/main.yml
Due: none

ci: drop stale dist files and migrate off deprecated attest-sbom (#1676)
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

fix(scorm12): align RTE error codes and return values with the ADL CTS
  src/BaseAPI.ts
  src/Scorm12API.ts
  src/constants/error_codes.ts
  src/services/CMIValueAccessService.ts
  src/services/ValidationService.ts
  test/api/ErrorConditions.spec.ts
  test/api/Scorm12API.additional.spec.ts
  test/api/state-machine.spec.ts
  test/cmi/common/array_sequential_index.spec.ts
  test/conformance/adl/fixtures/scorm12-divergence-probes.json
  test/property/validation-service.property.spec.ts
  test/validation/boundary-values.spec.ts
Due: core, services, scorm12

refactor(api): drop the dead error-code guard on terminate/commit before init
  src/BaseAPI.ts
Due: core

fix(scorm12): align RTE error codes and return values with the ADL CTS (#1677)
  src/BaseAPI.ts
  src/Scorm12API.ts
  src/constants/error_codes.ts
  src/services/CMIValueAccessService.ts
  src/services/ValidationService.ts
  test/api/ErrorConditions.spec.ts
  test/api/Scorm12API.additional.spec.ts
  test/api/state-machine.spec.ts
  test/cmi/common/array_sequential_index.spec.ts
  test/conformance/adl/fixtures/scorm12-divergence-probes.json
  test/property/validation-service.property.spec.ts
  test/validation/boundary-values.spec.ts
Due: core, services, scorm12

[skip ci] Bump version to 3.3.3
  package-lock.json
  package.json
Due: none

fix(scorm2004): align sequencing navigation and rollup
  src/cmi/scorm2004/sequencing/activity.ts
  src/cmi/scorm2004/sequencing/handlers/rte_data_transfer.ts
  src/cmi/scorm2004/sequencing/handlers/termination_handler.ts
  src/cmi/scorm2004/sequencing/navigation_look_ahead.ts
  src/cmi/scorm2004/sequencing/overall_sequencing_process.ts
  src/cmi/scorm2004/sequencing/rollup/cross_cluster_processor.ts
  src/cmi/scorm2004/sequencing/rollup/measure_rollup.ts
  src/cmi/scorm2004/sequencing/rollup/objective_rollup.ts
  src/cmi/scorm2004/sequencing/rollup/rollup_rule_evaluator.ts
  src/cmi/scorm2004/sequencing/rollup_process.ts
  src/cmi/scorm2004/sequencing/rollup_rules.ts
  src/cmi/scorm2004/sequencing/traversal/flow_traversal_service.ts
  src/cmi/scorm2004/sequencing/validation/rollup_state_validator.ts
  src/configuration/activity_tree_builder.ts
  src/configuration/sequencing_configuration_builder.ts
  src/serialization/scorm2004_data_serializer.ts
  src/types/sequencing_types.ts
  test/api/Scorm2004API.sequencing.spec.ts
  test/cmi/scorm2004/sequencing/advanced_rollup.spec.ts
  test/cmi/scorm2004/sequencing/asset_only_default_rollup.spec.ts
  test/cmi/scorm2004/sequencing/end_sequencing_session.spec.ts
  test/cmi/scorm2004/sequencing/navigation_look_ahead.spec.ts
  test/cmi/scorm2004/sequencing/navigation_look_ahead_edge_cases.spec.ts
  test/cmi/scorm2004/sequencing/objective_dirty_tracking.spec.ts
  test/cmi/scorm2004/sequencing/objective_rollup_using_measure.spec.ts
  test/cmi/scorm2004/sequencing/overall_sequencing_process.spec.ts
  test/cmi/scorm2004/sequencing/rollup/cross_cluster_processor.spec.ts
  test/cmi/scorm2004/sequencing/rollup/rollup_rule_evaluator.spec.ts
  test/cmi/scorm2004/sequencing/rollup_processes.spec.ts
  test/cmi/scorm2004/sequencing/rollup_rules.spec.ts
  test/cmi/scorm2004/sequencing/rte_data_transfer.spec.ts
  test/cmi/scorm2004/sequencing/satisfaction_by_measure.spec.ts
  test/cmi/scorm2004/sequencing/sequencing_process.spec.ts
  test/cmi/scorm2004/sequencing/termination_request_process.spec.ts
  test/cmi/scorm2004/sequencing/traversal/flow_traversal_service.spec.ts
  test/helpers/mock-factories.ts
  test/integration/SequencingForcedSequential_SCORM20043rdEdition.spec.ts
  test/integration/SequencingPreOrPostTestRollup_SCORM20043rdEdition.spec.ts
  test/serialization/scorm2004_data_serializer.spec.ts
Due: core, cmi_scorm2004

ci: fix dependency audit gate
  .github/workflows/main.yml
  package-lock.json
Due: none

test(scorm2004): extend full-course sequencing timeout
  test/integration/SequencingPreOrPostTestRollup_SCORM20043rdEdition.spec.ts
Due: none

test(scorm2004): extend full-course sequencing timeout (#1679)
  test/integration/SequencingPreOrPostTestRollup_SCORM20043rdEdition.spec.ts
Due: none

[skip ci] Add changes during build
  dist/esm/scorm-again.js
  dist/esm/scorm-again.js.map
  dist/esm/scorm-again.min.js
  dist/esm/scorm-again.min.js.map
  dist/esm/scorm2004.js
  dist/esm/scorm2004.js.map
  dist/esm/scorm2004.min.js
  dist/esm/scorm2004.min.js.map
  dist/scorm-again.js
  dist/scorm-again.js.map
  dist/scorm-again.min.js
  dist/scorm2004.js
  dist/scorm2004.js.map
  dist/scorm2004.min.js
  dist/types/cmi/scorm2004/sequencing/activity.d.ts.map
  dist/types/cmi/scorm2004/sequencing/handlers/rte_data_transfer.d.ts.map
  dist/types/cmi/scorm2004/sequencing/handlers/termination_handler.d.ts.map
  dist/types/cmi/scorm2004/sequencing/navigation_look_ahead.d.ts
  dist/types/cmi/scorm2004/sequencing/navigation_look_ahead.d.ts.map
  dist/types/cmi/scorm2004/sequencing/overall_sequencing_process.d.ts.map
  dist/types/cmi/scorm2004/sequencing/rollup/cross_cluster_processor.d.ts.map
  dist/types/cmi/scorm2004/sequencing/rollup/measure_rollup.d.ts.map
  dist/types/cmi/scorm2004/sequencing/rollup/objective_rollup.d.ts.map
  dist/types/cmi/scorm2004/sequencing/rollup/rollup_rule_evaluator.d.ts.map
  dist/types/cmi/scorm2004/sequencing/rollup_process.d.ts
  dist/types/cmi/scorm2004/sequencing/rollup_process.d.ts.map
  dist/types/cmi/scorm2004/sequencing/rollup_rules.d.ts
  dist/types/cmi/scorm2004/sequencing/rollup_rules.d.ts.map
  dist/types/cmi/scorm2004/sequencing/traversal/flow_traversal_service.d.ts.map
  dist/types/cmi/scorm2004/sequencing/validation/rollup_state_validator.d.ts.map
  dist/types/configuration/activity_tree_builder.d.ts.map
  dist/types/configuration/sequencing_configuration_builder.d.ts.map
  dist/types/serialization/scorm2004_data_serializer.d.ts.map
  dist/types/types/sequencing_types.d.ts
  dist/types/types/sequencing_types.d.ts.map
Due: none

[skip ci] Bump version to 3.3.4
  package-lock.json
  package.json
Due: none
